#Making a USA dataframe as well as dataframes for each individual state. 
The first idea I had was to break it down into regions in order to make the data more digestable and to identify trends. Our group thought that one of our recommendations could involve suggesting the best locations for private airfields. 

But one of the limitations of the data is that we can't contextualize the number of accidents/incidents with flight volume. All the data we have is on accidents/incidents. This means that we don't have enough information to be able to recommend the best states for private flying.  However, this exercise still proved useful in getting to know the data.

In [ ]:
# uploading file for flatiron lesson
# source: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92
from google.colab import files
uploaded = files.upload()

Saving Aviation_Data.csv to Aviation_Data.csv

In [ ]:
import pandas as pd

In [ ]:
# read in the csv as a dataframe using pandas
df = pd.read_csv('Aviation_Data.csv')

<ipython-input-3-10ca297d1239>:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Aviation_Data.csv')

In [ ]:
#creating state column, splitting at the comma
df['State'] = df['Location'].apply(lambda x: x.split(',')[1].strip() if isinstance(x, str) and ',' in x else None)

In [ ]:
# sanity check for state column
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'State'],
      dtype='object')

In [ ]:
#creating a unique list to spot check for international locations
# We see a lot of international data will need to be filtered!

state_list = df['State'].tolist() 
unique_state_list = set(state_list)
unique_state_list

In [ ]:
# I notice some blank states and see I forgot to filter for USA only.  
# I also note the double commas in the Location column
df_fly_blank_state = df[df['State'] == '' ]
df_fly_blank_state

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
55133,20070209X00163,Accident,WAS03RA016,2003-07-19,"Mount Kenya,, Kenya",Kenya,NaN,NaN,NaN,NaN,...,NaN,14.0,NaN,NaN,NaN,IMC,NaN,Foreign,09-02-2007,
62079,20081219X65329,Accident,ENG07WA017,2007-02-20,"Sao Paulo,, Brazil",Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,Foreign,19-05-2009,
64563,20080723X01111,Accident,DCA08FA062,2008-05-19,"Pacific Ocean,",United States,015500N,0152830E,NaN,NaN,...,Omni Air International,0.0,4.0,1.0,157.0,VMC,NaN,An inadvertent in-flight encounter with unfore...,25-09-2020,
64651,20080808X01181,Accident,MIA08LA149,2008-06-01,"Charlotte Amali,",United States,182014N,0645824W,TIST,Cyril E. King,...,"Bevins Air Service, Inc.",0.0,0.0,0.0,7.0,VMC,NaN,The failure of maintenance personnel to identi...,25-09-2020,
65271,20080829X01354,Incident,OPS08IA014,2008-08-28,"Atlantic Ocean,",United States,NaN,NaN,NaN,NaN,...,TRANSAERO AIRLINES,0.0,0.0,0.0,159.0,NaN,NaN,The San Juan CERAP controllers failure to ensu...,25-09-2020,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90308,20221208106433,Accident,DCA23WA091,2022-12-05,"Dortmund,",Georgia,NaN,NaN,NaN,NaN,...,Ryanair,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,
90309,20221219106471,Accident,GAA23WA043,2022-12-05,"PONTA GROSSA,",Brazil,NaN,NaN,NaN,NaN,...,AEROCLUBE DE PONTA GROSSA,0.0,1.0,0.0,0.0,NaN,NaN,NaN,20-12-2022,
90310,20221222106485,Incident,DCA23WA100,2022-12-05,"Bangkok,",Thailand,NaN,NaN,NaN,NaN,...,"Thai Lion Mentari co.,ltd",0.0,0.0,0.0,102.0,NaN,NaN,NaN,22-12-2022,
90322,20221213106449,Accident,GAA22WA311,2022-12-11,"Kildare,",Ireland,NaN,NaN,EIKH,NaN,...,SOUTHERN AIRCRAFT CONSULTANCY INC TRUSTEE,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,
90342,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,28-12-2022,

In [ ]:
# filtering for blank states shows that we have US territories, Gulf of Mexico, and oceans present 
# as well as double commas
df_fly_blank_state_us = df_usa[df_usa['State'] == '' ]
df_fly_blank_state_us

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
64563,20080723X01111,Accident,DCA08FA062,2008-05-19,"Pacific Ocean,",United States,015500N,0152830E,NaN,NaN,...,Omni Air International,0.0,4.0,1.0,157.0,VMC,NaN,An inadvertent in-flight encounter with unfore...,25-09-2020,
64651,20080808X01181,Accident,MIA08LA149,2008-06-01,"Charlotte Amali,",United States,182014N,0645824W,TIST,Cyril E. King,...,"Bevins Air Service, Inc.",0.0,0.0,0.0,7.0,VMC,NaN,The failure of maintenance personnel to identi...,25-09-2020,
65271,20080829X01354,Incident,OPS08IA014,2008-08-28,"Atlantic Ocean,",United States,NaN,NaN,NaN,NaN,...,TRANSAERO AIRLINES,0.0,0.0,0.0,159.0,NaN,NaN,The San Juan CERAP controllers failure to ensu...,25-09-2020,
65863,20090112X90757,Accident,CEN09CA127,2009-01-12,"Vermillion 229,",United States,028400N,0922730W,V229,Vermilion 229,...,Era Helicopters LLC,0.0,0.0,0.0,1.0,VMC,NaN,The pilot's failure to maintain clearance from...,25-09-2020,
66018,20090306X84920,Incident,DCA09WA036,2009-02-27,",",United States,006200S,0106450E,NaN,NaN,...,Batavia Air,0.0,0.0,0.0,131.0,NaN,NaN,.,03-11-2020,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84909,20190916X82539,Accident,CEN19TA321,2019-09-15,"Gulf of Mexico,",United States,028521N,0089188W,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,A loss of engine power for undetermined reason...,28-01-2021,
85054,20191021X53431,Accident,CEN20LA021,2019-10-17,"Unknown,",United States,252257N,0090733W,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,VMC,NaN,NaN,13-12-2021,
85835,20200601X20239,Accident,ERA20CA201,2020-06-01,"GULF OF MEXICO,",United States,026054N,0082645W,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,VMC,NaN,A total loss of engine power due to a fuel lea...,29-01-2021,
87987,20210917103894,Accident,ERA21LA367,2021-08-12,"Brasstown,, NC",United States,003531N,0835652W,NONE,Private Airstrip,...,NaN,0.0,1.0,0.0,0.0,VMC,NaN,NaN,NaN,
88464,20211123104302,Accident,WPR22LA047,2021-11-22,"Puyallup,, WA",United States,047614N,1221714W,PLU,PIERCE COUNTY - THUN FLD,...,CLOVER PARK TECHNICAL COLLEGE,0.0,0.0,0.0,2.0,VMC,NaN,NaN,03-12-2021,

In [ ]:
# making a united states dataframe
df_usa = df[df['Country'] == 'United States']
df_usa

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,ID
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,CA
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,VA
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,CA
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,OH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,MD
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NH
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,AZ
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,UT
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,GA

In [ ]:
# previewing the data
df_usa.info

<bound method DataFrame.info of              Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
90343  20221227106491           Accident      ERA23LA093  2022-12-26
90344  20221227106494           Accident      ERA23LA095  2022-12-26
90345  20221227106497           Accident      WPR23LA075  2022-12-26
90346  20221227106498           Accident      WPR23LA076  2022-12-26
90347  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country   Latitude  Longitude Airport.Code  \
0      MOOSE CREEK, ID  United States        NaN        NaN          NaN
1       BRIDGEPORT, CA  United States        NaN        NaN          NaN
2        Saltville, VA  United States  36.922223 -81.878056          NaN
3           EUREKA, CA  United States        NaN        NaN          NaN
4           Canton, OH  United States        NaN        NaN          NaN
...                ...            ...        ...        ...          ...
90343    Annapolis, MD  United States        NaN        NaN          NaN
90344      Hampton, NH  United States        NaN        NaN          NaN
90345       Payson, AZ  United States    341525N   1112021W          PAN
90346       Morgan, UT  United States        NaN        NaN          NaN
90347       Athens, GA  United States        NaN        NaN          NaN

      Airport.Name  ...         Air.carrier Total.Fatal.Injuries  \
0              NaN  ...                 NaN                  2.0
1              NaN  ...                 NaN                  4.0
2              NaN  ...                 NaN                  3.0
3              NaN  ...                 NaN                  2.0
4              NaN  ...                 NaN                  1.0
...            ...  ...                 ...                  ...
90343          NaN  ...                 NaN                  0.0
90344          NaN  ...                 NaN                  0.0
90345       PAYSON  ...                 NaN                  0.0
90346          NaN  ...  MC CESSNA 210N LLC                  0.0
90347          NaN  ...                 NaN                  0.0

      Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
0                        0.0                  0.0             0.0
1                        0.0                  0.0             0.0
2                        NaN                  NaN             NaN
3                        0.0                  0.0             0.0
4                        2.0                  NaN             0.0
...                      ...                  ...             ...
90343                    1.0                  0.0             0.0
90344                    0.0                  0.0             0.0
90345                    0.0                  0.0             1.0
90346                    0.0                  0.0             0.0
90347                    1.0                  0.0             1.0

      Weather.Condition Broad.phase.of.flight   Report.Status  \
0                   UNK                Cruise  Probable Cause
1                   UNK               Unknown  Probable Cause
2                   IMC                Cruise  Probable Cause
3                   IMC                Cruise  Probable Cause
4                   VMC              Approach  Probable Cause
...                 ...                   ...             ...
90343               NaN                   NaN             NaN
90344               NaN                   NaN             NaN
90345               VMC                   NaN             NaN
90346               NaN                   NaN             NaN
90347               NaN                   NaN             NaN

      Publication.Date State
0                  NaN    ID
1           19-09-1996    CA
2           26-02-2007    VA
3           12-09-2000    CA
4           16-04-1980    OH
...                ...   ...
90343       29-12-2022    MD
90344              NaN    NH
90345       27-12-2022    AZ
90346              NaN    UT
90347       30-12-2022    GA

[82248 rows x 32 columns]>

In [ ]:
#sanity check list of states to ensure proper filtering
# I see some missing states still so we need to investigate further
# also there are several Hawaii locations that need to be cleaned up
usa_state_list = df_usa['State'].tolist() 
unique_usa_state_list = set(state_list)
unique_usa_state_list

{'',
 'AK',
 'AL',
 'AO',
 'AR',
 'AZ',
 'CA',
 'CB',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'GA',
 'GM',
 'GU',
 'HI',
 'HONOLULU',
 'IA',
 'ID',
 'IL',
 'IN',
 'KAUAI',
 'KS',
 'KY',
 'Kauai',
 'LA',
 'MA',
 "MANU'A",
 'MAUI',
 'MD',
 'ME',
 'MG',
 'MI',
 'MN',
 'MO',
 'MOLOKAI',
 'MS',
 'MT',
 'Maui',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'NYC',
 None,
 'OAHU',
 'OF',
 'OH',
 'OK',
 'OR',
 'Oahu',
 'PA',
 'PO',
 'PR',
 'RI',
 'SC',
 'SD',
 'San Juan Is.',
 'TN',
 'TX',
 'UN',
 'UT',
 'VA',
 'VI',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY'}

In [ ]:
# investigating state abbreviations I don't recognize
df_fly_mg = df[df['State'] == 'MG']
df_fly_mg

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
86847,20210204102602,Accident,GAA21WA013,2020-12-22,"Uberlandia, MG, OF",United States,NaN,NaN,SBUL,TEN CEL AV Cesar Bombonato Aer,...,NaN,0.0,0.0,0.0,5.0,NaN,NaN,NaN,NaN,MG

In [ ]:
# export csv to google drive
# with only 63 records, it will be quicker to examine in a google sheet
path = '/content/drive/My Drive/blank_us_state_records.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_fly_blank_state_us.to_csv(f)

In [ ]:
# sanity check with unique country list to ensure proper filtering
usa_country_list = df_usa['Country'].tolist() 
unique_usa_country = set(usa_country_list_wtf_2)
unique_usa_country

{'United States'}

In [ ]:
# making an airplanes only dataframe as we will likely recommend planes
df_usa_airplanes_only = df_usa[df_usa['Aircraft.Category'] == 'Airplane']

In [ ]:
# getting the length of the usa dataframe to be able to compare it with the airplanes only usa dataframe
len(df_usa)

82248

In [ ]:
len(df_usa_airplanes_only)

24229

In [ ]:
# previewing the data
df_usa_airplanes_only.head(3)

In [ ]:
# exporting csv to google drive
path = '/content/drive/My Drive/df_usa_airplanes_only.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_usa_airplanes_only.to_csv(f)

In [ ]:
# exporting csv to google drive
path = '/content/drive/My Drive/df_usa.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_usa.to_csv(f)

# Making a new USA dataframe via concatenation
Note: I parsed prematurely by cleaning the state data instead of cleaning the USA dataframe and filtering after. So I made a new USA dataframe from the individual states whose records I trust.

The creation of the individual state dataframes that did not otherwise get used is at the bottom of this notebook.

In [ ]:
df_usa_from_state_concat = pd.concat([df_fly_ak, df_fly_al, df_fly_ar, df_fly_az, df_fly_ca, df_fly_ao, df_fly_co, df_fly_ct, df_fly_dc, df_fly_de, df_fly_ga,
         df_fly_gm, df_fly_gu, df_fly_ia, df_fly_id, df_fly_il, df_fly_in, df_fly_hi, df_fly_ks, df_fly_ky, df_fly_ma, df_fly_md, df_fly_me, df_fly_mi,
         df_fly_mn, df_fly_mo, df_fly_ms, df_fly_mt, df_fly_nc, df_fly_nd, df_fly_ne, df_fly_nj, df_fly_nm, df_fly_nv, df_fly_ny, df_fly_oh, df_fly_ok,
         df_fly_or, df_fly_pa, df_fly_pa, df_fly_pr, df_fly_ri, df_fly_wa, df_fly_sc, df_fly_sd, df_fly_tn, df_fly_tx, df_fly_ut, df_fly_va, df_fly_vi,
         df_fly_vt, df_fly_wi, df_fly_wv, df_fly_wy], ignore_index = True)

df_usa_from_state_concat.reset_index()

,index,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,0,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",United States,NaN,NaN,NaN,...,NaN,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983,AK
1,1,20020917X01651,Accident,ANC82FA012,1982-01-05,"BETHEL, AK",United States,NaN,NaN,BET,...,Executive Charter Service,0.0,2.0,0.0,0.0,VMC,Takeoff,Probable Cause,05-01-1983,AK
2,2,20020917X01623,Accident,ANC82DA013,1982-01-10,"QUINHAGAK, AK",United States,NaN,NaN,NaN,...,Tri-city Air Service,0.0,0.0,3.0,0.0,VMC,Cruise,Probable Cause,10-01-1983,AK
3,3,20020917X01625,Accident,ANC82DA015,1982-01-15,"NEAR NUIQSUT, AK",United States,NaN,NaN,NaN,...,"Sea Airmotive, Inc.",0.0,0.0,0.0,4.0,VMC,Landing,Probable Cause,15-01-1983,AK
4,4,20020917X01624,Accident,ANC82DA014,1982-01-17,"ANCHORAGE, AK",United States,NaN,NaN,MRI,...,NaN,0.0,0.0,1.0,1.0,VMC,Takeoff,Probable Cause,17-01-1983,AK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76573,76573,20220715105483,Accident,WPR22FA253,2022-07-14,"Buffalo, WY",United States,044267N,0106573W,NaN,...,NaN,2.0,0.0,0.0,0.0,VMC,NaN,NaN,02-08-2022,WY
76574,76574,20220906105867,Accident,WPR22LA334,2022-09-05,"Medicine Bow, WY",United States,415354N,1062620W,NaN,...,NaN,0.0,0.0,2.0,0.0,VMC,NaN,NaN,26-09-2022,WY
76575,76575,20220919105969,Accident,WPR22LA352,2022-09-15,"Lander, WY",United States,042339N,0108823W,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,23-09-2022,WY
76576,76576,20221018106155,Accident,WPR23LA016,2022-10-14,"Laramie, WY",United States,411310N,1052621W,LAR,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,04-11-2022,WY
76577,76577,20221024106187,Accident,WPR23LA024,2022-10-18,"Evanston, WY",United States,411629N,0011125W,EVW,...,WILLIAM R. BENSYL,0.0,0.0,0.0,1.0,VMC,NaN,NaN,08-12-2022,WY

In [ ]:
# creating airplane only USA dataframe
df_usa_from_state_concat_planes = df_usa_from_state_concat[df_usa_from_state_concat['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing lengths before and after limiting aircraft cataegory to airplanes
len(df_usa_from_state_concat)

76578

In [ ]:
len(df_usa_from_state_concat_planes)

22535

In [ ]:
# exporting csv to google drive
path = '/content/drive/My Drive/df_usa_from_state_concat.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_usa_from_state_concat.to_csv(f)

In [ ]:
# exporting csv to google drive
path = '/content/drive/My Drive/df_usa_from_state_concat_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_usa_from_state_concat_planes.to_csv(f)

In [ ]:
# creating a copy as we don't want to make changes to our main df without testing first and/or creating a backup
df_usa_from_state_concat_copy = df_usa_from_state_concat.copy()

In [ ]:
df_usa_from_state_concat.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'State'],
      dtype='object')

In [ ]:
# creating a city column
df_usa_from_state_concat['City'] = df_usa_from_state_concat['Location'].apply(lambda x: x.split(',')[0].strip() if isinstance(x, str) and ',' in x else None)

In [ ]:
# sanity check for city column
df_usa_from_state_concat.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'State', 'City'],
      dtype='object')

In [ ]:
# previewing the dataframe
df_usa_from_state_concat.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State,City
0,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",United States,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983,AK,SKWENTA
1,20020917X01651,Accident,ANC82FA012,1982-01-05,"BETHEL, AK",United States,NaN,NaN,BET,BETHEL,...,0.0,2.0,0.0,0.0,VMC,Takeoff,Probable Cause,05-01-1983,AK,BETHEL
2,20020917X01623,Accident,ANC82DA013,1982-01-10,"QUINHAGAK, AK",United States,NaN,NaN,NaN,NaN,...,0.0,0.0,3.0,0.0,VMC,Cruise,Probable Cause,10-01-1983,AK,QUINHAGAK

##Investigating aircraft type

We need to understand the types of aircraft in order to make our recommendations. I noticed some inconsistencies with the number of unique aircraft types(14) in this dataset and the number of aircraft types(9) listed as options on the National Transportation Safety Bureau's Accident/Incident form. (Form linked [here](https://www.ntsb.gov/Documents/6120_1web_nopwx_NotReaderComp.pdf).) (Note: further investigation uncovered an updated data dictioncary provided by a NTSB with additional types. We uploaded to the data folder on GitHub.)

In [ ]:
df_usa_from_state_concat['Aircraft.Category'].values

array(['Airplane', 'Airplane', 'Airplane', ..., 'Airplane', 'Airplane',
       'Airplane'], dtype=object)

In [ ]:
# get unique values from the aircraft category column
df_usa_from_state_concat['Aircraft.Category'].unique()

array(['Airplane', nan, 'Helicopter', 'Glider', 'Weight-Shift',
       'Powered Parachute', 'Balloon', 'Gyrocraft', 'Powered-Lift',
       'Ultralight', 'Unknown', 'WSFT', 'Blimp', 'Rocket', 'ULTR'],
      dtype=object)

In [ ]:
# count unique values while excluding NaN values (differs from .unique() which does count NaN values) in aircraft category column

df_usa_from_state_concat['Aircraft.Category'].nunique()

14

In [ ]:
# Dropping Unknown from aircraft category
df_usa_from_state_concat = df_usa_from_state_concat[df_usa_from_state_concat['Aircraft.Category'].str.contains("Unknown") == False]

In [ ]:
# get unique (including NaN, if there are any) values from aircraft category column
df_usa_from_state_concat['Aircraft.Category'].unique()

array(['Airplane', 'Helicopter', 'Glider', 'Weight-Shift',
       'Powered Parachute', 'Balloon', 'Gyrocraft', 'Powered-Lift',
       'Ultralight', 'WSFT', 'Blimp', 'Rocket', 'ULTR'], dtype=object)

In [ ]:
#making another backup csv now that unknown values have been removed from aircraft category and city has been added
path = '/content/drive/My Drive/df_usa_from_state_concat.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_usa_from_state_concat.to_csv(f)

##Creating dataframes of missing state location values
I should have standardized the text format by title casing with the method `.str.title()` before doing this. I created extra work by doing it this way.

In [ ]:
# making a copy in case something goes wrong
df_fly_blank_state_us_copy = df_fly_blank_state_us.copy()

In [ ]:
df_fly_missing_brasstown = df_usa[df_usa['Location'] == 'Brasstown,, NC']

In [ ]:
df_fly_missing_puyallup = df_usa[df_usa['Location'] == 'Puyallup,, WA']

In [ ]:
df_fly_missing_saipan = df_usa[df_usa['Location'] == 'Saipan,']
df_fly_missing_saipan

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
81143,20171005X94851,Accident,GAA17CA570,2017-08-30,"Saipan,",United States,001574N,1454334E,GSN,FRANCISCO C ADA/SAIPAN INTL,...,"Star Marianas Air, Inc.",0.0,0.0,0.0,7.0,VMC,NaN,Impact with multiple birds while retracting th...,25-09-2020,
83953,20190516X24200,Accident,GAA19CA268,2019-04-19,"Saipan,",United States,001575N,1454327E,GSN,SAIPAN INTERNATIONAL AIRPORT,...,Star Marianas Air Inc,0.0,0.0,0.0,4.0,VMC,NaN,The airplanes collision with a bird during th...,26-09-2020,
84468,20190711X52011,Accident,GAA19CA404,2019-07-10,"Saipan,",United States,015726N,1454353E,PGSN,Saipan International Airport,...,Marianas Air Transfer Inc,0.0,0.0,0.0,3.0,VMC,NaN,The pilot's failure to maintain directional co...,26-09-2020,

In [ ]:
df_fly_missing_tamuning = df_usa[df_usa['Location'] == 'Tamuning,']

In [ ]:
df_fly_missing_timbalier_tx  = df_usa[df_usa['Location'] == 'South Timbalier 127,']

In [ ]:
df_fly_missing_obyan = df_usa[df_usa['Location'] == 'Obyan,']

In [ ]:
df_fly_missing_viscoa_la = df_usa[df_usa['Location'] == ' Viosca Knoll 989,']

In [ ]:
#creating a dataframe of the pacific ocean records with state blank in order to concat w/ the OG po df
df_missing_pacific= df_fly_blank_state_us[(df_fly_blank_state_us["Location"]== 'Pacific Ocean,')]

In [ ]:
len(df_missing_pacific)

4

In [ ]:
#creating a dataframe of missing Gulf of Mexico, records with state blank in order to concat w/ the OG 
df_missing_gm = df_fly_blank_state_us[(df_fly_blank_state_us["Location"]== 'Gulf of Mexico,')]

In [ ]:
len(df_missing_gm)

9

In [ ]:
df_missing_gm_2 = df_fly_blank_state_us[(df_fly_blank_state_us["Location"]== 'GULF OF MEXICO,')]

In [ ]:
len(df_missing_gm_2)

1

In [ ]:
df_missing_virgin_islands = df_fly_blank_state_us[(df_fly_blank_state_us["Location"]== 'St. Croix,') |
                                                 (df_fly_blank_state_us["Location"]== 'Charlotte Amali,') |
                                                 (df_fly_blank_state_us["Location"]== 'Christiansted,')|
                                                  (df_fly_blank_state_us["Location"]== 'St. Thomas,') |
                                                  (df_fly_blank_state_us["Location"]== 'Charlotte Amalie,')

]

# Adding the missing locations to the USA dataframe made via concatenation.

In [ ]:
df_usa_from_state_concat = pd.concat([df_usa_from_state_concat, df_fly_missing_brasstown, df_fly_missing_puyallup, 
                                      df_fly_missing_saipan, df_fly_missing_saipan, df_fly_missing_tamuning, df_fly_missing_timbalier_tx,
                                      df_fly_missing_obyan, df_fly_missing_viscoa_la], ignore_index=True)
df_usa_from_state_concat.reset_index()

,index,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State,City
0,0,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",United States,NaN,NaN,NaN,...,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983,AK,SKWENTA
1,1,20020917X01651,Accident,ANC82FA012,1982-01-05,"BETHEL, AK",United States,NaN,NaN,BET,...,0.0,2.0,0.0,0.0,VMC,Takeoff,Probable Cause,05-01-1983,AK,BETHEL
2,2,20020917X01623,Accident,ANC82DA013,1982-01-10,"QUINHAGAK, AK",United States,NaN,NaN,NaN,...,0.0,0.0,3.0,0.0,VMC,Cruise,Probable Cause,10-01-1983,AK,QUINHAGAK
3,3,20020917X01625,Accident,ANC82DA015,1982-01-15,"NEAR NUIQSUT, AK",United States,NaN,NaN,NaN,...,0.0,0.0,0.0,4.0,VMC,Landing,Probable Cause,15-01-1983,AK,NEAR NUIQSUT
4,4,20020917X01624,Accident,ANC82DA014,1982-01-17,"ANCHORAGE, AK",United States,NaN,NaN,MRI,...,0.0,0.0,1.0,1.0,VMC,Takeoff,Probable Cause,17-01-1983,AK,ANCHORAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26177,26177,20170706X95155,Accident,GAA17CA394,2017-07-02,"Tamuning,",United States,013292N,1444750E,GUM,...,0.0,0.0,0.0,2.0,VMC,NaN,"The pilot's improper landing flare, which resu...",25-09-2020,,NaN
26178,26178,20170925X53959,Accident,WPR17LA216,2017-09-25,"Tamuning,",United States,132840N,1444639E,GUM,...,0.0,0.0,0.0,3.0,VMC,NaN,"The pilot's inadequate preflight inspection, w...",25-09-2020,,NaN
26179,26179,20150702X05414,Accident,CEN15LA288,2015-06-28,"South Timbalier 127,",United States,284122N,0901956W,NaN,...,0.0,0.0,1.0,0.0,VMC,NaN,The pilot's lack of awareness of the severity ...,25-09-2020,,NaN
26180,26180,20121119X10642,Accident,WPR13LA045,2012-11-18,"Obyan,",United States,015713N,1454348E,PGSN,...,1.0,1.0,5.0,0.0,VMC,NaN,A partial loss of engine power shortly after t...,25-09-2020,,NaN
26181,26181,20141223X60511,Accident,WPR15CA069,2014-11-24,"Obyan,",United States,015713N,1454348E,GSN,...,0.0,0.0,0.0,1.0,VMC,NaN,The student pilot's loss of airplane control d...,25-09-2020,,NaN

In [ ]:
#exporting csv again post concat of missing US records
path = '/content/drive/My Drive/df_usa_from_state_concat.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_usa_from_state_concat.to_csv(f)

##Individual State Dataframes
I decided to make individual state dataframes (all aircraft and airplanes only), which turned out to be (mostly) unnecessary.

**State 1: Alaska**

In [ ]:
# Alaska, all aircraft 
df_fly_ak = df[df['State'] == 'AK']

In [ ]:
# Alaska, only airplanes 
df_fly_ak_planes = df_fly_ak[df_fly_ak['Aircraft.Category'] == 'Airplane' ]

In [ ]:
# checking length to compare all aircraft vs planes
len(df_fly_ak)

5672

In [ ]:
len(df_fly_ak_planes)

1643

In [ ]:
#exporting and saving df_fly_ak file to my google drive
path = '/content/drive/My Drive/df_fly_ak.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_fly_ak.to_csv(f)

In [ ]:
#exporting and saving df_fly_ak_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ak_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_fly_ak_planes.to_csv(f)

**State 2: Alabama**

In [ ]:
# Alabama, all aircraft
df_fly_al = df[df['State'] == 'AL']

In [ ]:
# Alabama, only planes
df_fly_al_planes = df_fly_al[df_fly_al['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_al)

1153

In [ ]:
len(df_fly_al_planes)

343

In [ ]:
#exporting and saving df_fly_al_planes file to my google drive
path = '/content/drive/My Drive/df_fly_al_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_fly_al_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_al_planes file to my google drive
path = '/content/drive/My Drive/df_fly_al.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_fly_al.to_csv(f)

**State 3: Arkansas**

In [ ]:
# Arkansas, all aircraft
df_fly_ar = df[df['State'] == 'AR']

In [ ]:
# Arkansas, airplanes only
df_fly_ar_planes = df_fly_ar[df_fly_ar['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ar)

1519

In [ ]:
len(df_fly_ar_planes)

403

In [ ]:
#exporting and saving df_fly_ar_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ar_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ar_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ar file to my google drive
path = '/content/drive/My Drive/df_fly_ar.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ar.to_csv(f)

**State 4: Arizona**

In [ ]:
# Arizona, all aircraft
df_fly_az = df[df['State'] == 'AZ']

In [ ]:
# AZ has a lot of accidents/incidents so I was curious about the unique values of aircraft type
df_fly_az['Aircraft.Category'].unique()

array(['Airplane', 'Balloon', 'Glider', 'Helicopter', nan, 'Gyrocraft',
       'Weight-Shift', 'Powered Parachute', 'WSFT'], dtype=object)

In [ ]:
# Arizona, only airplanes
df_fly_az_planes = df_fly_az[df_fly_az['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_az)

2834

In [ ]:
len(df_fly_az_planes)

907

In [ ]:
#exporting and saving df_fly_az_planes file to my google drive
path = '/content/drive/My Drive/df_fly_az_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_az_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_az file to my google drive
path = '/content/drive/My Drive/df_fly_az.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_az.to_csv(f)

**State 5: California**

In [ ]:
# California, all aircraft
df_fly_ca = df[df['State'] == 'CA']

In [ ]:
# California, only airplanes
df_fly_ca_planes = df_fly_ca[df_fly_ca['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ca)

8857

In [ ]:
len(df_fly_ca_planes )

2305

In [ ]:
#exporting and saving df_fly_ca_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ca_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ca_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ca file to my google drive
path = '/content/drive/My Drive/df_fly_ca.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ca.to_csv(f)

**State 6: Atlantic Ocean**

*Note: AO (Atlantic Ocean) is included as a 'state' in the United States dataset by NTSB. See `states.csv` for the full list*

In [ ]:
# Atlantic Ocean, all aircraft
df_fly_ao = df[df['State'] == 'AO']

In [ ]:
# Atlantic Ocean, only airplanes
df_fly_ao_planes = df_fly_ao[df_fly_ao['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ao)

23

In [ ]:
len(df_fly_ao_planes)

18

In [ ]:
#exporting and saving df_fly_ao_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ao_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ao_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ao file to my google drive
path = '/content/drive/My Drive/df_fly_ao.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ao.to_csv(f)

**State 7: Colorado**

In [ ]:
# Colorado, all aircraft
df_fly_co = df[df['State'] == 'CO']

In [ ]:
# Colorado, only airplanes
df_fly_co_planes = df_fly_co[df_fly_co['Aircraft.Category'] == 'Airplane' ]

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_co)

2726

In [ ]:
len(df_fly_co_planes)

752

In [ ]:
#exporting and saving df_fly_co_planes file to my google drive
path = '/content/drive/My Drive/df_fly_co_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_co_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_co file to my google drive
path = '/content/drive/My Drive/df_fly_co.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_co.to_csv(f)

**State 8: Connecticut**

In [ ]:
# Connecticut, all aircraft
df_fly_ct = df[df['State'] == 'CT']

In [ ]:
# Connecticut, only airplanes
df_fly_ct_planes = df_fly_ct[df_fly_ct['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ct)

502

In [ ]:
len(df_fly_ct_planes)

140

In [ ]:
#exporting and saving df_fly_ct_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ct_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ct_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ct file to my google drive
path = '/content/drive/My Drive/df_fly_ct.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ct.to_csv(f)

**State 9: Washington D.C.**

*Note: Washington D.C. is not a state and therefore does not get any votes in the Electoral College, but it is included as a 'state' in the United States dataset by NTSB. See `states.csv` for the full list*

In [ ]:
# Washington DC, all aircraft
df_fly_dc = df[df['State'] == 'DC']

In [ ]:
# Washington DC, only airplanes
df_fly_dc_planes = df_fly_dc[df_fly_dc['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_dc)

42

In [ ]:
len(df_fly_dc_planes)

6

In [ ]:
#exporting and saving df_fly_dc_planes file to my google drive
path = '/content/drive/My Drive/df_fly_dc_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_dc_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_dc file to my google drive
path = '/content/drive/My Drive/df_fly_dc.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_dc.to_csv(f)

**State 10: Delaware**

In [ ]:
# Delaware, all aircraft
df_fly_de = df[df['State'] == 'DE']

In [ ]:
# Delaware, only airplanes
df_fly_de_planes = df_fly_de[df_fly_de['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_de)

114

In [ ]:
len(df_fly_de_planes)

29

In [ ]:
#exporting and saving df_fly_de_planes file to my google drive
path = '/content/drive/My Drive/df_fly_de_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_de_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_de file to my google drive
path = '/content/drive/My Drive/df_fly_de.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_de.to_csv(f)

**State 11: Florida**

In [ ]:
# Florida, all aircraft
df_fly_fl = df[df['State'] == 'FL']

In [ ]:
# Florida, airplanes only
df_fly_fl_planes = df_fly_fl[df_fly_fl['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_fl)

5825

In [ ]:
len(df_fly_fl_planes)

1746

In [ ]:
#exporting and saving df_fly_fl_planes file to my google drive
path = '/content/drive/My Drive/df_fly_fl_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_fl_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_fl file to my google drive
path = '/content/drive/My Drive/df_fly_fl.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_fl.to_csv(f)

**State 12: Georgia**

In [ ]:
# Georgia, all aircraft
df_fly_ga = df[df['State'] == 'GA']

In [ ]:
# Georgia, only airplanes
df_fly_ga_planes = df_fly_ga[df_fly_ga['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ga)

2023

In [ ]:
len(df_fly_ga_planes)

704

In [ ]:
#exporting and saving df_fly_ga_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ga_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ga_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ga file to my google drive
path = '/content/drive/My Drive/df_fly_ga.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ga.to_csv(f)

**State 13: Gulf of Mexico**

*Note: Gulf of Mexico (GM) is included as a 'state' in the United States dataset by NTSB. See `states.csv` for the full list*

In [ ]:
# Gulf of Mexico, all aircraft 
df_fly_gm = df[df['State'] == 'GM']

In [ ]:
len(df_fly_gm)

44

In [ ]:
# In exammining the missing states earlier, GM was present. 
# so dataframes for the missing values were created 
# and then concatenated to update the Gulf of Mexico df

df_fly_gm  = pd.concat([df_fly_gm, df_missing_gm, df_missing_gm_2], ignore_index = True)
df_fly_gm.reset_index()
  
display(df_fly_gm )

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20001208X06876,Accident,FTW97LA010,1996-10-07,"GULF OF MEXICO, GM",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,2.0,0.0,VMC,Cruise,Probable Cause,02-05-1997,GM
1,20001208X08832,Accident,FTW97FA352,1997-09-18,"GRAND ISLE S108, GM",United States,NaN,NaN,NaN,NaN,...,"Petroleum Helicopters, Inc. (dba: Phi)",0.0,0.0,4.0,1.0,IMC,Cruise,Probable Cause,04-06-2002,GM
2,20001212X22153,Accident,FTW01FA017,2000-10-28,"E. Cameron 200, GM",United States,28.738055,-92.63,V200,Vermilion 200,...,NaN,1.0,0.0,0.0,0.0,VMC,Cruise,Probable Cause,15-07-2002,GM
3,20010220X00468,Incident,FTW01IA061,2001-01-08,"WC 368, GM",United States,28.9025,-93.282778,NaN,NaN,...,Rotorcraft Co. Llc (dba: Rotorcraft),NaN,NaN,NaN,3.0,VMC,Approach,Probable Cause,30-07-2001,GM
4,20010327X00654,Accident,FTW01LA081,2001-03-20,"EC 270, GM",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,8.0,VMC,Standing,Probable Cause,30-07-2001,GM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,20120529X90616,Accident,CEN12FA321,2012-05-28,"Gulf of Mexico,",United States,NaN,NaN,NaN,None,...,NaN,1.0,0.0,0.0,0.0,VMC,NaN,The pilots failure to maintain clearance from...,25-09-2020,
59,20120921X52540,Accident,CEN12LA652,2012-09-20,"Gulf of Mexico,",United States,NaN,NaN,NaN,NaN,...,GOVERNMENT AUCTIONS ONLINE LLC,0.0,2.0,0.0,0.0,VMC,NaN,"An in-flight fire, which resulted in the airpl...",25-09-2020,
60,20150225X31336,Accident,CEN15LA156,2015-02-20,"Gulf of Mexico,",United States,028300N,0091180W,HUM,HOUMA-TERREBONNE,...,ERA HELICOPTERS LLC,0.0,0.0,0.0,2.0,VMC,NaN,The fracture of the tail rotor pitch change li...,25-09-2020,
61,20190916X82539,Accident,CEN19TA321,2019-09-15,"Gulf of Mexico,",United States,028521N,0089188W,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,A loss of engine power for undetermined reason...,28-01-2021,
62,20200601X20239,Accident,ERA20CA201,2020-06-01,"GULF OF MEXICO,",United States,026054N,0082645W,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,VMC,NaN,A total loss of engine power due to a fuel lea...,29-01-2021,

In [ ]:
# notice we added 19 records to our Gulf of Mexico dataframe with the concatenation
len(df_fly_gm)

63

In [ ]:
# Gulf of Mexico, only airplanes 
df_fly_gm_planes = df_fly_gm[df_fly_gm['Aircraft.Category'] == 'Airplane']

In [ ]:
len(df_fly_gm_planes)

12

In [ ]:
#exporting and saving df_fly_gm_planes file to my google drive
path = '/content/drive/My Drive/df_fly_gm_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_gm_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_gm file to my google drive
path = '/content/drive/My Drive/df_fly_gm.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_gm.to_csv(f)

**State 14: Guam**

*Note: Guam, a US territory, is included as a 'state' in the United States dataset by NTSB. See `states.csv` for the full list*.*

In [ ]:
# Guam, all aircraft
df_fly_gu = df[df['State'] == 'GU']

In [ ]:
# length check
len(df_fly_gu)

8

In [ ]:
# creating the missing Guam df 
missing_guam = df_fly_blank_state_us[(df_fly_blank_state_us["Location"]== 'Tamuning,') |
                                  (df_fly_blank_state_us["Location"]== 'Inarajan,') 
]

In [ ]:
# length check
len(missing_guam)

6

In [ ]:
# concatentating our Guam records like so
df_fly_gu = pd.concat([df_fly_gu, missing_guam], ignore_index=True)
df_fly_gu.reset_index()
df_fly_gu

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20001213X30734,Accident,LAX87LA199,1987-04-29,"TAMUNINGS, GU",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,VMC,Maneuvering,Probable Cause,26-05-1989,GU
1,20001213X29425,Accident,LAX89LA324,1989-09-18,"AGANA, GU",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,VMC,Maneuvering,Probable Cause,29-07-1992,GU
2,20001212X18337,Accident,LAX92LA030,1991-10-31,"KOSRAE, GU",United States,NaN,NaN,NONE,SHIP DON JUAN Z,...,NaN,1.0,0.0,1.0,0.0,VMC,Takeoff,Probable Cause,13-07-1993,GU
3,20001208X08606,Accident,DCA97MA058,1997-08-06,"NIMITZ HILL, GU",United States,NaN,NaN,KGUM,AGANA INTERNATIONAL AIRPO,...,NaN,228.0,26.0,NaN,NaN,IMC,Approach,Probable Cause,23-10-2009,GU
4,20020530X00782,Accident,LAX02LA176,2002-05-26,"AGANA, GU",United States,13.483333,-144.795833,PGUM,Guam International Airport,...,NaN,NaN,NaN,1.0,3.0,VMC,Takeoff,Probable Cause,29-09-2004,GU
5,20030131X00137,Incident,OPS03IA001,2002-12-17,"Agana, GU",United States,NaN,NaN,PGUM,Guam International,...,NaN,NaN,NaN,NaN,115.0,IMC,Approach,Probable Cause,05-02-2004,GU
6,20050921X01501,Accident,DCA05MA095,2005-08-19,"AGANA, GU",United States,NaN,NaN,GUM,Guam-Antonio B. Won Pat,...,NaN,0.0,0.0,2.0,338.0,VMC,Landing,Probable Cause,30-12-2008,GU
7,20061025X01556,Accident,LAX06LA232,2006-07-15,"HAGATNA, GU",United States,13.483333,144.8,GUM,Guam International,...,NaN,NaN,NaN,3.0,NaN,VMC,Takeoff,Probable Cause,28-05-2008,GU
8,20100430X40841,Accident,WPR10LA220,2010-04-30,"Tamuning,",United States,013290N,0144480E,GUM,Guam International Airport,...,NaN,0.0,0.0,1.0,1.0,VMC,NaN,The failure of the pilot to maintain clearance...,25-09-2020,
9,20140327X10328,Accident,WPR14LA147,2014-03-26,"Inarajan,",United States,131734N,0144444E,NaN,NaN,...,TREND VECTOR AVIATION INT,0.0,0.0,0.0,3.0,VMC,NaN,A total loss of engine power during cruise fli...,25-09-2020,
10,20150504X14247,Accident,GAA15CA058,2015-04-17,"Tamuning,",United States,013292N,1444757E,GUM,GUAM INTL,...,TREND VECTOR AVIATION INT,0.0,0.0,0.0,1.0,VMC,NaN,The student pilot's failure to maintain pitch ...,25-09-2020,
11,20150731X44501,Incident,WPR15WA225,2015-07-05,"Tamuning,",United States,013292N,1444749E,NaN,NaN,...,Korean Airlines,0.0,0.0,0.0,82.0,NaN,NaN,NaN,25-09-2020,
12,20170706X95155,Accident,GAA17CA394,2017-07-02,"Tamuning,",United States,013292N,1444750E,GUM,GUAM INTL,...,Micronecian Aviation System,0.0,0.0,0.0,2.0,VMC,NaN,"The pilot's improper landing flare, which resu...",25-09-2020,
13,20170925X53959,Accident,WPR17LA216,2017-09-25,"Tamuning,",United States,132840N,1444639E,GUM,GUAM INTERNATIONAL AIRPORT,...,NaN,0.0,0.0,0.0,3.0,VMC,NaN,"The pilot's inadequate preflight inspection, w...",25-09-2020,

In [ ]:
# length check, records have been added successfully
len(df_fly_gu)

14

In [ ]:
# Guam, only airplanes
df_fly_gu_planes = df_fly_gu[df_fly_gu['Aircraft.Category'] == 'Airplane']

In [ ]:
# compare to the all aircraft df
len(df_fly_gu_planes)

8

In [ ]:
#exporting and saving df_fly_gu_planes file to my google drive
path = '/content/drive/My Drive/df_fly_gu_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_gu_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_gu file to my google drive
path = '/content/drive/My Drive/df_fly_gu.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_gu.to_csv(f)

**State 15: Iowa**

In [ ]:
# Iowa, all aircraft
df_fly_ia = df[df['State'] == 'IA']

In [ ]:
# Iowa, only airplanes
df_fly_ia_planes = df_fly_ia[df_fly_ia['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ia)

819

In [ ]:
len(df_fly_ia_planes)

255

In [ ]:
#exporting and saving df_fly_ia_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ia_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ia_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ia file to my google drive
path = '/content/drive/My Drive/df_fly_ia.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ia.to_csv(f)

**State 16: Idaho**

In [ ]:
# Idaho, all aircraft
df_fly_id = df[df['State'] == 'ID']

In [ ]:
# Idaho, only airplanes
df_fly_id_planes = df_fly_id[df_fly_id['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_id)

1436

In [ ]:
len(df_fly_id_planes)

545

In [ ]:
#exporting and saving df_fly_id_planes file to my google drive
path = '/content/drive/My Drive/df_fly_id_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_id_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_id file to my google drive
path = '/content/drive/My Drive/df_fly_id.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_id.to_csv(f)

**State 17: Illinois**

In [ ]:
# Illinois, all aircraft
df_fly_il = df[df['State'] == 'IL']

In [ ]:
# Illinois, only airplanes
df_fly_il_planes = df_fly_il[df_fly_il['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_il)

2060

In [ ]:
len(df_fly_il_planes)

566

In [ ]:
#exporting and saving df_fly_il_planes file to my google drive
path = '/content/drive/My Drive/df_fly_il_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_il_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_il file to my google drive
path = '/content/drive/My Drive/df_fly_il.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_il.to_csv(f)

**State 18: Indiana**

In [ ]:
# Indiana, all aircraft
df_fly_in = df[df['State'] == 'IN']

In [ ]:
# Indiana, only airplanes
df_fly_in_planes = df_fly_in[df_fly_in['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_in)

1320

In [ ]:
len(df_fly_in_planes)

374

In [ ]:
#exporting and saving df_fly_in_planes file to my google drive
path = '/content/drive/My Drive/df_fly_in_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_in_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_in file to my google drive
path = '/content/drive/My Drive/df_fly_in.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_in.to_csv(f)

**State 19: Hawaii**

In [ ]:
# Hawaii, all aircraft
df_fly_hi = df[df['State'] == 'HI']

In [ ]:
# recall we have some island records that we found in 'missing states'
# that need to be merged with HI
# pre merge sanity check 
df_fly_hi

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
66,20020917X02283,Accident,LAX82FJA03,1982-01-09,"MOKULEIA, HI",United States,NaN,NaN,NaN,DILLINGHAM,...,NaN,0.0,0.0,0.0,2.0,VMC,Landing,Probable Cause,09-01-1983,HI
101,20020917X02159,Accident,LAX82DA042,1982-01-17,"HONOLULU, HI",United States,NaN,NaN,NaN,HONOLULU INTL,...,Island Airlines Hawaii Inc.,0.0,0.0,2.0,1.0,VMC,Takeoff,Probable Cause,17-01-1983,HI
256,20020917X02284,Accident,LAX82FJA04,1982-02-07,"KALAUPAPA, HI",United States,NaN,NaN,NaN,KALAUPAPA,...,NaN,0.0,4.0,0.0,0.0,VMC,Landing,Probable Cause,07-02-1983,HI
999,20020917X01976,Accident,DEN82FA074,1982-04-28,"HAKALAU, HI",United States,NaN,NaN,NaN,NaN,...,"Island Airlines Hawaii, Ltd.",2.0,0.0,0.0,0.0,VMC,Climb,Probable Cause,28-04-1983,HI
1286,20020917X03540,Accident,LAX82DA190,1982-05-21,"HILO, HI",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,2.0,2.0,VMC,Cruise,Probable Cause,21-05-1983,HI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90215,20221105106253,Accident,ANC23FA003,2022-11-05,"Mokuleia, HI",United States,213447N,1581416W,HDH,DILLINGHAM AIRFIELD,...,Paradise Air Hang Gliding,2.0,0.0,0.0,0.0,VMC,NaN,NaN,30-11-2022,HI
90234,20221122106351,Accident,WPR23LA043,2022-11-11,"Kapolei, HI",United States,211837N,0158434W,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,VMC,NaN,NaN,23-11-2022,HI
90313,20221209106435,Accident,WPR23LA061,2022-12-07,"Waimea, HI",United States,020019N,1554745W,NaN,NaN,...,NaN,0.0,1.0,0.0,6.0,NaN,NaN,NaN,09-12-2022,HI
90334,20221219106474,Accident,ANC23LA009,2022-12-15,"Lihue, HI",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,22-12-2022,HI
90338,20221219106472,Accident,DCA23LA096,2022-12-18,"Kahului, HI",United States,NaN,NaN,NaN,NaN,...,HAWAIIAN AIRLINES INC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,HI

Creating dataframes of missing Hawaii records in order to concatenate. In retrospect, I could have saved myself some time by standardizing the string format to title case instead of making indiviual records for capitalization differences.

In [ ]:
# to merge: this 1 row with HI
 df_fly_honolulu = df[df['State'] == 'HONOLULU']

In [ ]:
# to merge: these 5 rows with HI
df_fly_kauai = df[df['State'] == 'KAUAI']

In [ ]:
# to merge: this 1 row with HI
df_fly_kauai_2 = df[df['State'] == 'Kauai']

In [ ]:
# to merge: 1 row with HI
df_fly_manua = df[df['State'] == "MANU'A"]

In [ ]:
# to merge: 2 rows with HI
df_fly_maui = df[df['State'] == 'Maui']

In [ ]:
#to merge: 6 rows with HI
df_fly_maui_2 = df[df['State'] == 'MAUI']

In [ ]:
# to merge: 1 row with HI
 df_fly_molokai = df[df['State'] == 'MOLOKAI']

In [ ]:
# to merge with HI
df_fly_ohahu_2 = df[df['State'] == 'Oahu']

In [ ]:
# to merge: with HI
df_fly_ohahu = df[df['State'] == 'OAHU']

In [ ]:
#merging all the Hawaii accidents into one dataframe using pd.concat
df_fly_hi = pd.concat([df_fly_ohahu, df_fly_ohahu_2, df_fly_hi, df_fly_molokai, df_fly_maui, df_fly_maui_2, df_fly_manua,df_fly_kauai_2, df_fly_kauai, df_fly_honolulu], ignore_index = True)
df_fly_hi.reset_index()
  
display(df_fly_hi)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20001214X42715,Accident,LAX83FJA06,1983-04-03,"WAIMANALO, OAHU, HI",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,2.0,0.0,VMC,Maneuvering,Probable Cause,NaN,OAHU
1,20001214X39644,Accident,LAX84LA305,1984-05-20,"WAIPAHU,OAHU, HI",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,1.0,0.0,VMC,Go-around,Probable Cause,NaN,OAHU
2,20001214X38266,Accident,LAX86LA043,1985-11-19,"KUNIA, OAHU, HI",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,VMC,Cruise,Probable Cause,NaN,OAHU
3,20001213X28594,Accident,LAX89LA188,1989-06-28,"HALEIWA, OAHU, HI",United States,NaN,NaN,NONE,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,02-08-1990,OAHU
4,20001213X29966,Accident,LAX90DJA02,1989-12-10,"HALEIWA, OAHU, HI",United States,NaN,NaN,HDH,DILLIMGHAM AIRFIELD,...,NaN,0.0,0.0,1.0,0.0,VMC,Approach,Probable Cause,30-06-1992,OAHU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,20001211X13879,Accident,LAX94LA076,1993-12-22,"WAIMEA, KAUAI, HI",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Maneuvering,Probable Cause,13-09-1994,KAUAI
512,20001208X07748,Accident,LAX97LA150,1997-04-16,"LIHUE, KAUAI, HI",United States,NaN,NaN,LIH,LIHUE,...,NaN,1.0,0.0,0.0,0.0,VMC,Maneuvering,Probable Cause,21-05-1998,KAUAI
513,20001212X21253,Accident,LAX00FA229,2000-06-14,"LIHUE, KAUAI, HI",United States,21.976111,-159.338889,LIH,Lihue,...,NaN,NaN,NaN,2.0,137.0,VMC,Landing,Probable Cause,30-05-2003,KAUAI
514,20010407X00719,Accident,LAX01FA127,2001-03-22,"HANAPEPE, KAUAI, HI",United States,21.896666,-159.603056,PAK,Port Allen,...,NaN,NaN,NaN,NaN,2.0,VMC,Landing,Probable Cause,30-03-2004,KAUAI
515,20020917X04798,Accident,LAX83FA055,1982-12-09,"500 NM E, HONOLULU, HI",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,VMC,Cruise,Probable Cause,02-02-2016,HONOLULU

In [ ]:
# Hawaii, only airplanes
df_fly_hi_planes = df_fly_hi[df_fly_hi['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
# you can also see the shape above in the concatenation cell
len(df_fly_hi)

516

In [ ]:
len(df_fly_hi_planes)

98

In [ ]:
#exporting and saving df_fly_hi_planes file to my google drive
path = '/content/drive/My Drive/df_fly_hi_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_hi_planes.to_csv(f)

In [ ]:
#exporting and saving file to my google drive
path = '/content/drive/My Drive/df_fly_hi.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_fly_hi.to_csv(f)

**State 20: Kansas**

In [ ]:
# Kansas, all aircraft
df_fly_ks = df[df['State'] == 'KS']

In [ ]:
# Kansas, only airplanes
df_fly_ks_planes = df_fly_ks[df_fly_ks['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ks)

1104

In [ ]:
len(df_fly_ks_planes )

359

In [ ]:
#exporting and saving df_fly_ks_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ks_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ks_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ks file to my google drive
path = '/content/drive/My Drive/df_fly_ks.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ks.to_csv(f)

**State 21: Kentucky**

In [ ]:
# Kentucky, all aircraft
df_fly_ky = df[df['State'] == 'KY']

In [ ]:
# Kentucky, only planes
df_fly_ky_planes = df_fly_ky[df_fly_ky['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ky)

650

In [ ]:
len(df_fly_ky_planes)

202

In [ ]:
#exporting and saving df_fly_ky_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ky_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ky_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ky file to my google drive
path = '/content/drive/My Drive/df_fly_ky.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ky.to_csv(f)

**State 22: Louisiana**

In [ ]:
# Louisiana, all aircraft
df_fly_la = df[df['State'] == 'LA']

In [ ]:
# Louisiana, only airplanes
df_fly_la_planes = df_fly_la[df_fly_la['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_la)

1217

In [ ]:
len(df_fly_la_planes)

325

In [ ]:
#exporting and saving df_fly_la_planes file to my google drive
path = '/content/drive/My Drive/df_fly_la_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_la_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_la file to my google drive
path = '/content/drive/My Drive/df_fly_la.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_la.to_csv(f)

**State 23: Massachusetts**

In [ ]:
# Massachusetts, all aircraft
df_fly_ma = df[df['State'] == 'MA']

In [ ]:
# Massachusetts, only airplanes
df_fly_ma_planes = df_fly_ma[df_fly_ma['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ma)

969

In [ ]:
len(df_fly_ma_planes)

232

In [ ]:
#exporting and saving df_fly_ma_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ma_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ma_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ma file to my google drive
path = '/content/drive/My Drive/df_fly.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ma.to_csv(f)

**State 24: Maryland**

In [ ]:
# Maryland, all aircraft
df_fly_md = df[df['State'] == 'MD']

In [ ]:
# Maryland, only airplanes
df_fly_md_planes = df_fly_md[df_fly_md['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_md)

815

In [ ]:
len(df_fly_md_planes)

257

In [ ]:
#exporting and saving df_fly_md_planes file to my google drive
path = '/content/drive/My Drive/df_fly_md_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_md_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_md file to my google drive
path = '/content/drive/My Drive/df_fly_md.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_md.to_csv(f)

**State 25: Maine**

In [ ]:
# Maine, all aircraft
df_fly_me = df[df['State'] == 'ME']

In [ ]:
# Maine, only airplanes
df_fly_me_planes = df_fly_me[df_fly_me['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_me)

505

In [ ]:
len(df_fly_me_planes)

164

In [ ]:
#exporting and saving df_fly_me_planes file to my google drive
path = '/content/drive/My Drive/df_fly_me_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_me_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_me file to my google drive
path = '/content/drive/My Drive/df_fly_me.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_me.to_csv(f)

**State 26: Michigan**

In [ ]:
# Michigan, all aircraft
df_fly_mi = df[df['State'] == 'MI']

In [ ]:
# Michigan, only airplanes
df_fly_mi_planes = df_fly_mi[df_fly_mi['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_mi)

2030

In [ ]:
len(df_fly_mi_planes)

547

In [ ]:
#exporting and saving df_fly_mi_planes file to my google drive
path = '/content/drive/My Drive/df_fly_mi_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mi_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_mi file to my google drive
path = '/content/drive/My Drive/df_fly_mi.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mi.to_csv(f)

**State 27: Minnesota**

In [ ]:
# Minnesota, all aircraft
df_fly_mn = df[df['State'] == 'MN']

In [ ]:
# Minnesota, only airplanes
df_fly_mn_planes = df_fly_mn[df_fly_mn['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_mn)

1456

In [ ]:
len(df_fly_mn_planes)

421

In [ ]:
#exporting and saving df_fly_mn_planes file to my google drive
path = '/content/drive/My Drive/df_fly_mn_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mn_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_mn file to my google drive
path = '/content/drive/My Drive/df_fly_mn.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mn.to_csv(f)

**State 28: Missouri**

In [ ]:
# Missouri, all aircraft
df_fly_mo = df[df['State'] == 'MO']

In [ ]:
# Missouri, only airplanes
df_fly_mo_planes =df_fly_mo[df_fly_mo['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_mo)

1565

In [ ]:
len(df_fly_mo_planes)

461

In [ ]:
#exporting and saving df_fly_mo_planes file to my google drive
path = '/content/drive/My Drive/df_fly_mo_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mo_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_mo file to my google drive
path = '/content/drive/My Drive/df_fly_mo.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mo.to_csv(f)

**State 29: Mississippi**

In [ ]:
# Mississippi, all aircraft
df_fly_ms = df[df['State'] == 'MS']

In [ ]:
# Mississippi, only airplanes
df_fly_ms_planes = df_fly_ms[df_fly_ms['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ms)

813

In [ ]:
len(df_fly_ms_planes)

231

In [ ]:
#exporting and saving df_fly_ms_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ms_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ms_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ms file to my google drive
path = '/content/drive/My Drive/df_fly_ms.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ms.to_csv(f)

**State 30: Montana**

In [ ]:
# Montana, all aircraft
df_fly_mt = df[df['State'] == 'MT']

In [ ]:
# Montana, only airplanes
df_fly_mt_planes = df_fly_mt[df_fly_mt['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_mt)

1051

In [ ]:
len(df_fly_mt_planes)

332

In [ ]:
#exporting and saving df_fly_mt_planes file to my google drive
path = '/content/drive/My Drive/df_fly_mt_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mt_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_mt file to my google drive
path = '/content/drive/My Drive/df_fly_mt.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_mt.to_csv(f)

**State 31: North Carolina**

In [ ]:
# North Carolina, all aircraft
df_fly_nc = df[df['State'] == 'NC']

In [ ]:
df_fly_nc_planes = df_fly_nc[df_fly_nc['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_nc)

1660

In [ ]:
len(df_fly_nc_planes)

573

In [ ]:
#exporting and saving df_fly_nc_planes file to my google drive
path = '/content/drive/My Drive/df_fly_nc_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nc_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_nc file to my google drive
path = '/content/drive/My Drive/df_fly_nc.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nc.to_csv(f)

**State 32: North Dakota**

In [ ]:
# North Dakota, all aircraft
df_fly_nd = df[df['State'] == 'ND']

In [ ]:
# North Dakota, only airplanes
df_fly_nd_planes =df_fly_nd[df_fly_nd['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_nd)

561

In [ ]:
len(df_fly_nd_planes)

157

In [ ]:
#exporting and saving df_fly_nd_planes file to my google drive
path = '/content/drive/My Drive/df_fly_nd_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nd_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_nd file to my google drive
path = '/content/drive/My Drive/df_fly_nd.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nd.to_csv(f)

**State 33: Nebraska**

In [ ]:
# Nebraska, all aircraft
df_fly_ne = df[df['State'] == 'NE']

In [ ]:
# Nebraska only airplanes
df_fly_ne_planes = df_fly_ne[df_fly_ne['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ne)

725

In [ ]:
len(df_fly_ne_planes)

219

In [ ]:
#exporting and saving df_fly_ne_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ne_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ne_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ne file to my google drive
path = '/content/drive/My Drive/df_fly_ne.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ne.to_csv(f)

State 34: New Hampshire

In [ ]:
# New Hampshire, all aircraft
df_fly_nh = df[df['State'] == 'NH']

In [ ]:
# New Hampshire, only airplanes
df_fly_nh_planes = df_fly_nh[df_fly_nh['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_nh)

368

In [ ]:
len(df_fly_nh_planes)

96

In [ ]:
#exporting and saving df_fly_nh_planes file to my google drive
path = '/content/drive/My Drive/df_fly_nh_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nh_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_nh file to my google drive
path = '/content/drive/My Drive/df_fly_nh.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nh.to_csv(f)

**State 35: New Jersey**

In [ ]:
# New Jersey, all aircraft
df_fly_nj = df[df['State'] == 'NJ']

In [ ]:
# New Jersey, only airplanes
df_fly_nj_planes = df_fly_nj[df_fly_nj['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_nj)

1170

In [ ]:
len(df_fly_nj_planes)

317

In [ ]:
#exporting and saving df_fly_nj_planes file to my google drive
path = '/content/drive/My Drive/df_fly_nj_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nj_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_nj file to my google drive
path = '/content/drive/My Drive/df_fly_nj.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nj.to_csv(f)

**State 36: New Mexico**

In [ ]:
# New Mexico, all aircraft
df_fly_nm = df[df['State'] == 'NM']

In [ ]:
# New Mexico, only airplanes
df_fly_nm_planes = df_fly_nm[df_fly_nm['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_nm)

1358

In [ ]:
len(df_fly_nm_planes)

358

In [ ]:
#exporting and saving df_fly_nm_planes file to my google drive
path = '/content/drive/My Drive/df_fly_nm_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nm_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_nm file to my google drive
path = '/content/drive/My Drive/df_fly_nm.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nm.to_csv(f)

**State 37: Nevada**

In [ ]:
# Nevada, all aircraft
df_fly_nv = df[df['State'] == 'NV']

In [ ]:
# Nevada, only airplanes
df_fly_nv_planes =df_fly_nv[df_fly_nv['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_nv)

1236

In [ ]:
len(df_fly_nv_planes)

379

In [ ]:
#exporting and saving df_fly_nv_planes file to my google drive
path = '/content/drive/My Drive/df_fly_nv_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nv_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_nv file to my google drive
path = '/content/drive/My Drive/df_fly_nv.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_nv.to_csv(f)

**State 38: New York**

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ny)

1915

In [ ]:
#38 New York
df_fly_ny = df[df['State'] == 'NY']

In [ ]:
# Recall an NYC value in the unique state list.
# make a NYC dataframe to concatenate with the NY dataframe.
df_fly_nyc = df[df['State'] == 'NYC']

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
61547,20061018X01530,Accident,DCA07MA003,2006-10-11,"Manhattan, NYC, NY",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,1.0,2.0,NaN,VMC,Maneuvering,Probable Cause,27-06-2007,NYC

In [ ]:
# concatenate NY + NYC!
df_fly_ny  = pd.concat([df_fly_ny, df_fly_nyc ], ignore_index = True)
df_fly_ny .reset_index()
  
display(df_fly_ny)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20020917X02483,Accident,NYC82DA018,1982-01-03,"WHITE PLAINS, NY",United States,NaN,NaN,HPN,WESTCHESTER COUNTY,...,NaN,0.0,0.0,0.0,2.0,VMC,Landing,Probable Cause,03-01-1983,NY
1,20020917X01906,Accident,DCA82AA009,1982-01-05,"ITHACA, NY",United States,NaN,NaN,NaN,TOMPKINS COUNTY,...,Empire Airlines,2.0,0.0,0.0,0.0,VMC,Approach,Probable Cause,05-01-1983,NY
2,20020917X02484,Accident,NYC82DA019,1982-01-08,"CUTCHOGUE, NY",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,08-01-1983,NY
3,20020917X02538,Accident,NYC82FA021,1982-01-15,"JAMAICA, NY",United States,NaN,NaN,JFK,JOHN F. KENNEDY INT'L,...,Pocono Airlines,0.0,1.0,2.0,12.0,VMC,Takeoff,Probable Cause,15-01-1983,NY
4,20020917X02547,Accident,NYC82FFA03,1982-01-31,"LAKE PLACID, NY",United States,NaN,NaN,LKP,LAKE PLACID,...,NaN,0.0,0.0,1.0,1.0,VMC,Takeoff,Probable Cause,31-01-1983,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,20221006106079,Accident,ERA23FA007,2022-10-06,"East Hampton, NY",United States,041014N,0721125W,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,VMC,NaN,NaN,18-10-2022,NY
1911,20221010106088,Accident,ERA23LA012,2022-10-09,"Northville, NY",United States,431125N,0741014W,NaN,NaN,...,CLEMENTE MOTOR INC,0.0,1.0,0.0,2.0,NaN,NaN,NaN,26-10-2022,NY
1912,20221108106258,Accident,ERA23LA050,2022-11-05,"Farmingdale, NY",United States,404417N,0732334W,FRG,Republic Airport,...,NaN,0.0,2.0,0.0,0.0,VMC,NaN,NaN,21-11-2022,NY
1913,20221212106440,Accident,ERA23LA084,2022-12-11,"Fox Island, NY",United States,NaN,NaN,NaN,NaN,...,N7047X-R22 LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NY
1914,20061018X01530,Accident,DCA07MA003,2006-10-11,"Manhattan, NYC, NY",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,1.0,2.0,NaN,VMC,Maneuvering,Probable Cause,27-06-2007,NYC

In [ ]:
# New York, only airplanes
df_fly_ny_planes = df_fly_ny[df_fly_ny['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of this df to the length of all aircraft one above (1915 rows)
len(df_fly_ny_planes)

544

In [ ]:
#exporting and saving df_fly_ny_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ny_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ny_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ny file to my google drive
path = '/content/drive/My Drive/df_fly_ny.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ny.to_csv(f)

Investigating the state 'OF' from our unique state list.

In [ ]:
# Make a dataframe of state 'OF'
# It appears there are some records which belong in our USA dataframe
# Including: Arctic Ocean (AO) and American Samoa
df_fly_of = df[df['State'] == 'OF']
df_fly_of

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
66576,20090826X84257,Incident,ENG09IA011,2009-06-14,"Diyarbakir, OF",Turkey,375333N,0401159E,LTCC,Diyarbakir Airport,...,Tailwinds Airlines,0.0,2.0,0.0,0.0,VMC,NaN,An uncommanded elevator surface deflection as ...,30-04-2021,OF
81958,20180322X70555,Accident,ANC18LA027,2018-03-21,"Arctic Ocean, OF",United States,072183N,1484741W,NaN,NaN,...,BALD MOUNTAIN AIR SERVICE INC,0.0,0.0,0.0,5.0,VMC,NaN,The flight crew's improper decision to deliber...,02-12-2020,OF
83791,20190311X92758,Accident,CEN19WA096,2019-03-10,"Escuintla, OF",United States,142248N,0904912W,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,OF
84114,20190520X91748,Accident,CEN19RA145,2019-05-18,"Roatan, OF",Honduras,161920N,0863016W,NaN,NaN,...,NaN,5.0,0.0,0.0,0.0,NaN,NaN,NaN,13-12-2021,OF
84192,20210407102886,Accident,GAA21WA067,2019-05-31,"Keti Bandar, OF",Pakistan,024837N,0067272E,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,OF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90099,20221011106102,Accident,GAA23WA005,2022-10-06,"Maitland, OF",American Samoa,324125S,0151332E,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,08-11-2022,OF
90100,20221012106112,Incident,DCA23WA013,2022-10-06,"Hatay, OF",Turkey,NaN,NaN,NaN,NaN,...,Turkish Airlines A.O.,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,OF
90208,20221104106247,Accident,GAA23WA024,2022-11-03,"Jersey, OF",United Kingdom,NaN,NaN,EGJJ,NaN,...,NaN,2.0,0.0,0.0,0.0,NaN,NaN,NaN,10-11-2022,OF
90296,20221209106436,Accident,ERA23LA081,2022-12-01,"Guantanamo Bay, OF",Cuba,195422N,0751159W,MUGM,GUANTANAMO BAY NAVAL AIR STATI,...,"REVA, Inc.",0.0,0.0,0.0,4.0,VMC,NaN,NaN,20-12-2022,OF
90331,20221214106459,Accident,GAA23WA042,2022-12-14,"Happy Valley-Goose Bay, OF",Canada,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,2.0,0.0,NaN,NaN,NaN,20-12-2022,OF

In [ ]:
# OF, only airplanes
df_fly_of_planes = df_fly_of[df_fly_of['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_of)

235

In [ ]:
len(df_fly_of_planes)

165

In [ ]:
#exporting and saving df_fly_of_planes file to my google drive
path = '/content/drive/My Drive/df_fly_of_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_of_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_of file to my google drive
path = '/content/drive/My Drive/df_fly_of.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_of.to_csv(f)

**State 39: Ohio**

In [ ]:
# Ohio, all aircraft
df_fly_oh = df[df['State'] == 'OH']

In [ ]:
# Ohio, only airplanes
df_fly_oh_planes = df_fly_oh[df_fly_oh['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_oh)

1823

In [ ]:
len(df_fly_oh_planes)

541

In [ ]:
#exporting and saving df_fly_oh_planes file to my google drive
path = '/content/drive/My Drive/df_fly_oh_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_oh_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_oh file to my google drive
path = '/content/drive/My Drive/df_fly_oh.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_oh.to_csv(f)

**State 40: Oklahoma**

In [ ]:
# Oklahoma, all aircraft
df_fly_ok = df[df['State'] == 'OK']

In [ ]:
# Oklahoma, only airplanes
df_fly_ok_planes = df_fly_ok[df_fly_ok['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ok)

1240

In [ ]:
len(df_fly_ok_planes)

353

In [ ]:
#exporting and saving df_fly_ok_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ok_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ok_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ok file to my google drive
path = '/content/drive/My Drive/df_fly_ok.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ok.to_csv(f)

**State 41: Oregon**

In [ ]:
# Oregon, all aircraft
df_fly_or = df[df['State'] == 'OR']

In [ ]:
# Oregon, only airplanes
df_fly_or_planes = df_fly_or[df_fly_or['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_or)

1772

In [ ]:
len(df_fly_or_planes)

520

In [ ]:
#exporting and saving df_fly_or_planes file to my google drive
path = '/content/drive/My Drive/df_fly_or_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_or_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_or file to my google drive
path = '/content/drive/My Drive/df_fly_or.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_or.to_csv(f)

**State 42: Pennsylvania**

In [ ]:
# Pennsylvania, all aircraft
df_fly_pa = df[df['State'] == 'PA']

In [ ]:
# Pennsylvania, only airplanes
df_fly_pa_planes = df_fly_pa[df_fly_pa['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_pa)

1790

In [ ]:
len(df_fly_pa_planes)

504

In [ ]:
#exporting and saving df_fly_pa_planes file to my google drive
path = '/content/drive/My Drive/df_fly_pa_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_pa_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_pa file to my google drive
path = '/content/drive/My Drive/df_fly_pa.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_pa.to_csv(f)

**State 43: Pacific Ocean**

*Note: the Pacific Ocean is included as a 'state' in the United States dataset by NTSB. See `states.csv` for the full list*

In [ ]:
# Pacific Ocean, all aircraft
df_fly_po = df[df['State'] == 'PO']

In [ ]:
# pd.concat to merge the missing pacific ocean records with the po df
df_fly_po = pd.concat([df_fly_po, df_missing_pacific], ignore_index = True)
display(df_fly_po)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20001213X27446,Accident,LAX89LA068,1988-12-23,"Midway Islands, PO",United States,38.54,-173.24,NONE,NaN,...,United Airlines,NaN,1.0,1.0,220.0,UNK,Cruise,Probable Cause,02-02-2016,PO
1,20020506X00632,Accident,LAX02LA146,2002-05-01,"Pacific Ocean, PO",United States,-24.3,174.333333,NaN,NaN,...,NaN,NaN,1.0,6.0,283.0,VMC,Climb,Probable Cause,25-04-2006,PO
2,20060727X01038,Accident,LAX06WA202,2006-06-09,"Pacific Ocean, PO",United States,23.083333,-147.433333,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,VMC,NaN,Foreign,27-07-2006,PO
3,20090515X70740,Accident,WPR09LA244,2009-04-05,"Pacific Ocean, PO",United States,NaN,NaN,NaN,NaN,...,HUSA Inc.,0.0,0.0,0.0,2.0,VMC,NaN,The pilots failure to maintain clearance from...,25-09-2020,PO
4,20091210X72650,Accident,WPR10CA077,2009-11-30,"Pago Pago, PO",Antarctica,141954S,1704241W,PPG,Tafuna/Pago Pago International,...,"Inter Island Airways, Inc.",0.0,0.0,0.0,1.0,VMC,NaN,The pilot's action to maneuver the airplane to...,25-09-2020,PO
5,20100921X14612,Accident,WPR10LA464,2010-09-11,"Majuro, PO",United States,373810N,0130412W,NaN,NaN,...,JIMS AIR REPAIR INC,1.0,1.0,0.0,0.0,VMC,NaN,A loss of helicopter control for undetermined ...,25-09-2020,PO
6,20110718X32318,Accident,WPR11WA332,2011-07-11,"Burma, PO",United States,037386N,0130415W,NaN,NaN,...,Heli Union Ltd,3.0,0.0,2.0,4.0,NaN,NaN,To be determined by the government of Burma.,03-11-2020,PO
7,20130305X21219,Accident,WPR13LA137,2013-03-02,"Latangai Island, PO",Papua New Guinea,373810N,0130410W,NaN,NaN,...,JERRYS HELICOPTER SERVICE INC,1.0,0.0,1.0,0.0,VMC,NaN,The failure of both the pilot and the fish mas...,25-09-2020,PO
8,20140320X53321,Accident,DCA14CA083,2014-03-17,"Seattle, PO",United States,037383N,0130410W,NaN,NaN,...,Delta Air Lines,0.0,0.0,1.0,264.0,VMC,NaN,the flight attendant inadvertently tripping ov...,25-09-2020,PO
9,20150126X84741,Accident,WPR15LA089,2015-01-26,"Maui, PO",United States,205214N,1562659W,NaN,NaN,...,The Flight Academy,0.0,0.0,0.0,1.0,VMC,NaN,The pilot's inability to transfer fuel from th...,25-09-2020,PO
10,20150219X14806,Accident,DCA15LA067,2015-02-15,"HONOLULU, PO",United States,223632N,1535035W,NaN,NaN,...,UNITED AIR LINES INC,0.0,4.0,1.0,245.0,IMC,NaN,an encounter with convective turbulence associ...,25-09-2020,PO
11,20150814X91539,Accident,WPR15LA242,2015-08-14,"Pacific Ocean, PO",United States,037389N,0130410W,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,VMC,NaN,The pilot's incapacitation for reasons that co...,25-09-2020,PO
12,20160817X93540,Incident,ENG16WA032,2016-08-07,"Over the Pacific, PO",UN,NaN,NaN,GUM,GUAM INTL,...,Jetstar,0.0,0.0,0.0,320.0,NaN,NaN,NaN,25-09-2020,PO
13,20170308X31846,Accident,WPR17LA075,2017-02-22,"Unknown, PO",United States,037385N,0130415W,NaN,NaN,...,JIMS AIR REPAIR,0.0,0.0,2.0,0.0,VMC,NaN,The pilot's failure to detect the presence of ...,25-09-2020,PO
14,20170823X05408,Accident,WPR17LA186,2017-08-22,"Pacific Ocean, PO",United States,313919N,1181923W,NaN,NaN,...,Airborne Tactical Advantage,0.0,1.0,0.0,0.0,VMC,NaN,The pilots loss of airplane control after fly...,NaN,PO
15,20190305X42937,Accident,DCA19CA090,2019-02-03,"Pacific Ocean, PO",United States,037385N,0130413W,NaN,NaN,...,United Airlines,0.0,0.0,1.0,220.0,VMC,NaN,NaN,13-12-2021,PO
16,20210820103730,Incident,DCA21WA207,2021-08-14,"Guam, PO",United States,NaN,NaN,NaN,NaN,...,EVA Air,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,PO
17,20080723X01111,Accident,DCA08FA062,2008-05-19,"Pacific Ocean,",United States,015500N,0152830E,NaN,NaN,...,Omni Air International,0.0,4.0,1.0,157.0,VMC,NaN,An inadvertent in-flight encounter with unfore...,25-09-2020,
18,20100719X80209,Accident,DCA10FA076,2010-07-15,"Pacific Ocean,",United States,NaN,NaN,NaN,NaN,...,DELTA AIRLINES INC,0.0,0.0,1.0,201.0,VMC,NaN,an inadvertent encounter with clear air turbul...,25-09-2020,
19,20100831X62338,Incident,ENG10WA048,2010-07-30,"Pacific Ocean,",United States,037370N,0122220E,NaN,NaN,...,Qantas Airways Limited,0.0,0.0,0.0,0.0,NaN,NaN,NaN,03-11-2020,
20,20110418X12310,Accident,WPR11LA203,2011-04-11,"Pacific Ocean,",United States,355336N,1435218E,NRT,Narita International Airport,...,AMERICAN AIRLINES INC,0.0,2.0,2.0,227.0,VMC,NaN,An inadvertent encounter with convective-induc...,25-09-2020,

In [ ]:
# Pacific Ocean, only airplanes.
df_fly_po_planes = df_fly_po[df_fly_po['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_po)

17

In [ ]:
len(df_fly_po_planes)

14

In [ ]:
#exporting and saving df_fly_po_planes file to my google drive
path = '/content/drive/My Drive/df_fly_po_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_po_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_po file to my google drive
path = '/content/drive/My Drive/df_fly_po.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_po.to_csv(f)

**State 44: Puerto Rico**
*Note: Puerto Rico, a US territory, is included as a 'state' in the United States dataset by NTSB. See `states.csv` for the full list*

In [ ]:
# Puerto Rico, all aircraft
df_fly_pr = df[df['State'] == 'PR']

In [ ]:
# Puerto Rico, only airplanes
df_fly_pr_planes = df_fly_pr[df_fly_pr['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_pr)

115

In [ ]:
len(df_fly_pr_planes)

54

In [ ]:
#exporting and saving df_fly_pr_planes file to my google drive
path = '/content/drive/My Drive/df_fly_pr_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_pr_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_pr file to my google drive
path = '/content/drive/My Drive/df_fly_pr.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_pr.to_csv(f)

**State 45: Rhode Island**

In [ ]:
# Rhode Island, all aircraft
df_fly_ri = df[df['State'] == 'RI']

In [ ]:
# Rhode Island, only airplanes
df_fly_ri_planes = df_fly_ri[df_fly_ri['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ri)

158

In [ ]:
len(df_fly_ri_planes)

42

In [ ]:
#exporting and saving df_fly_ri_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ri_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ri_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ri file to my google drive
path = '/content/drive/My Drive/df_fly_ri.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ri.to_csv(f)

**State 46: South Carolina**

In [ ]:
# South Carolina all aircraft
df_fly_sc = df[df['State'] == 'SC']

In [ ]:
# South Carolina, only airplanes
df_fly_sc_planes = df_fly_sc[df_fly_sc['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_sc)

974

In [ ]:
len(df_fly_sc_planes)

317

In [ ]:
#exporting and saving df_fly_sc_planes file to my google drive
path = '/content/drive/My Drive/df_fly_sc_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_sc_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_sc file to my google drive
path = '/content/drive/My Drive/df_fly_sc.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_sc.to_csv(f)

**State 47: South Dakota**

In [ ]:
# South Dakota, all aircraft
df_fly_sd = df[df['State'] == 'SD']

In [ ]:
# South Dakota, only airplanes
df_fly_sd_planes =df_fly_sd[df_fly_sd['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_sd)

446

In [ ]:
len(df_fly_sd_planes)

144

In [ ]:
#exporting and saving df_fly_sd_planes file to my google drive
path = '/content/drive/My Drive/df_fly_sd_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_sd_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_sd file to my google drive
path = '/content/drive/My Drive/df_fly_sd.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_sd.to_csv(f)

**State 48: Tennessee**

In [ ]:
# Tennessee, all aircraft
df_fly_tn = df[df['State'] == 'TN']

In [ ]:
# Tennessee, only airplanes
df_fly_tn_planes = df_fly_tn[df_fly_tn['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_tn)

1108

In [ ]:
len(df_fly_tn_planes)

352

In [ ]:
#exporting and saving df_fly_tn_planes file to my google drive
path = '/content/drive/My Drive/df_fly_tn_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_tn_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_tn file to my google drive
path = '/content/drive/My Drive/df_fly_tn.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_tn.to_csv(f)

**State 49: Texas**

In [ ]:
# Texas, all aircraft
df_fly_tx = df[df['State'] == 'TX']

In [ ]:
# Texas, only airplanes
df_fly_tx_planes = df_fly_tx[df_fly_tx['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_tx)

5913

In [ ]:
len(df_fly_tx_planes)

1939

In [ ]:
#exporting and saving df_fly_tx_planes file to my google drive
path = '/content/drive/My Drive/df_fly_tx_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_tx_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_tx file to my google drive
path = '/content/drive/My Drive/df_fly_tx.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_tx.to_csv(f)

In [ ]:
# Recall, the state 'UN', there are records from the Gulf Of Mexico, UN maybe Oceanic, UN??
df_fly_un = df[df['State'] == 'UN']
df_fly_un

In [ ]:
len(df_fly_un)

11

**State 50: Utah**

In [ ]:
# Utah, all aircraft
df_fly_ut = df[df['State'] == 'UT']

In [ ]:
# Utah, only airplanes
df_fly_ut_planes = df_fly_ut[df_fly_ut['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_ut)

1336

In [ ]:
len(df_fly_ut_planes)

402

In [ ]:
#exporting and saving df_fly_ut_planes file to my google drive
path = '/content/drive/My Drive/df_fly_ut_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ut_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_ut file to my google drive
path = '/content/drive/My Drive/df_fly_ut.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_ut.to_csv(f)

**State 51: Virginia**

In [ ]:
# Virginia, all aircraft
df_fly_va = df[df['State'] == 'VA']

In [ ]:
# Virginia, only airplanes
df_fly_va_planes = df_fly_va[df_fly_va['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_va)

1275

In [ ]:
len(df_fly_va_planes)

415

In [ ]:
#exporting and saving df_fly_va_planes file to my google drive
path = '/content/drive/My Drive/df_fly_va_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_va_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_va file to my google drive
path = '/content/drive/My Drive/df_fly_va.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_va.to_csv(f)

**State 52: U.S. Virgin Islands**

In [ ]:
# US Virgin Islands, all aircraft
df_fly_vi = df[df['State'] == 'VI']

In [ ]:
# US Virgin Islands, only airplanes
df_fly_vi_planes = df_fly_vi[df_fly_vi['Aircraft.Category'] == 'Airplane']

In [ ]:
#concat missing virgin islands!
df_fly_vi = pd.concat([df_fly_vi, df_missing_virgin_islands], ignore_index = True)
df_fly_vi.reset_index()
  
display(df_fly_vi)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20031224X02091,Incident,ATL04IA054,2003-12-15,"St. Thomas, VI",United States,18.337222,-64.973334,KSTT,"Cyril E King, St. Thomas, VI",...,NaN,NaN,NaN,NaN,3.0,VMC,Landing,Probable Cause,29-09-2004,VI
1,20040728X01082,Accident,ATL04LA153,2004-07-12,"BEEF ISLAND, VI",United States,18.08,-65.08,NaN,NaN,...,NaN,1.0,1.0,NaN,NaN,VMC,Cruise,Probable Cause,13-09-2005,VI
2,20040930X01542,Accident,MIA04LA131,2004-09-04,"ST. THOMAS, VI",United States,18.333333,-64.983333,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,VMC,Takeoff,Probable Cause,28-04-2005,VI
3,20060504X00505,Accident,MIA06TA093,2006-04-18,"St. Thomas, VI",United States,18.301944,-64.987222,TIST,Cyril E. King,...,NaN,NaN,NaN,7.0,NaN,VMC,Descent,Probable Cause,31-03-2008,VI
4,20060724X00998,Accident,MIA06LA125,2006-07-19,"ST. THOMAS, VI",United States,18.333333,-64.966667,TIST,Cyril E King Airport,...,NaN,NaN,NaN,1.0,3.0,VMC,Takeoff,Probable Cause,30-04-2008,VI
5,20071025X01653,Accident,NYC08LA008,2007-10-07,"St.Croix, VI",United States,17.742777,-64.902222,TISX,"Rohlsen Airport, St Croix USVI",...,NaN,1.0,NaN,NaN,NaN,IMC,Descent,Probable Cause,12-05-2009,VI
6,20080808X01181,Accident,MIA08LA149,2008-06-01,"Charlotte Amali,",United States,182014N,0645824W,TIST,Cyril E. King,...,"Bevins Air Service, Inc.",0.0,0.0,0.0,7.0,VMC,NaN,The failure of maintenance personnel to identi...,25-09-2020,
7,20091029X54134,Accident,ERA10FA037,2009-10-29,"Christiansted,",United States,017438N,0644729W,TISX,Henry E. Rohlsen,...,David S. Bentley,3.0,0.0,0.0,0.0,VMC,NaN,"The pilot's failure to maintain airspeed, whic...",25-09-2020,
8,20100114X11754,Incident,ENG10IA010,2010-01-12,"St. Croix,",United States,NaN,NaN,STX,Henry E Rohlsen Airport,...,American Airlines,0.0,0.0,0.0,48.0,NaN,NaN,The sealing failure between the fuel nozzle ad...,25-09-2020,
9,20101230X05139,Accident,ERA11LA100,2010-12-13,"St. Thomas,",United States,018208N,0645344W,STT,Cyril E King Airport,...,Isla Grande Flying School,0.0,0.0,0.0,1.0,VMC,NaN,The pilot's failure to maintain an adequate vi...,25-09-2020,
10,20110118X45001,Accident,ERA11LA117,2011-01-17,"Charlotte Amalie,",United States,182014N,0645824W,STT,Cyril E. King Airport,...,TIGER CONTRACT CARGO,0.0,0.0,0.0,2.0,VMC,NaN,The captains decision to continue the flight ...,25-09-2020,
11,20121015X92424,Accident,ERA13LA019,2012-10-13,"Charlotte Amalie,",United States,181427N,0065319W,TIST,Charlotte Amalie,...,Rainbow International Airlines,3.0,0.0,1.0,0.0,VMC,NaN,The pilot's attempted visual flight rules (VFR...,25-09-2020,
12,20160808X90911,Accident,ERA16LA282,2016-08-07,"St. Croix,",United States,018208N,0645350W,STX,HENRY E ROHLSEN,...,BOHLKE INTERNATIONAL AIRWAYS INC,0.0,0.0,2.0,0.0,VMC,NaN,The flight instructor's improper recovery from...,25-09-2020,
13,20171207X11110,Accident,ERA18FA046,2017-12-08,"St. Croix,",United States,182011N,0645350W,STX,HENRY E ROHLSEN,...,NaN,5.0,0.0,0.0,0.0,VMC,NaN,The non-multiengine rated pilot's failure to m...,25-09-2020,
14,20190912X74625,Accident,ERA19LA279,2019-09-12,"Charlotte Amalie,",United States,182015N,0064582W,TIST,Cyril E King,...,Executive Airshares Llc,0.0,0.0,0.0,1.0,VMC,NaN,The collapse of the left main landing gear for...,NaN,

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_vi)

15

In [ ]:
len(df_fly_vi_planes)

10

In [ ]:
#exporting and saving df_fly_vi_planes file to my google drive
path = '/content/drive/My Drive/df_fly_vi_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_vi_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_vi file to my google drive
path = '/content/drive/My Drive/df_fly_vi.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_vi.to_csv(f)

**State 53: Vermont**

In [ ]:
# Vermont, all aircraft
df_fly_vt = df[df['State'] == 'VT']

In [ ]:
# Vermont, only airplanes
df_fly_vt_planes = df_fly_vt[df_fly_vt['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_vt)

241

In [ ]:
len(df_fly_vt_planes)

60

In [ ]:
#exporting and saving df_fly_vt_planes file to my google drive
path = '/content/drive/My Drive/df_fly_vt_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_vt_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_vt file to my google drive
path = '/content/drive/My Drive/df_fly_vt.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_vt.to_csv(f)

State 54: Washington State

In [ ]:
# Washington State, all aircraft

df_fly_wa = df[df['State'] == 'WA']

In [ ]:
# Concatenate with missing records

df_fly_wa = pd.concat([df_fly_wa, df_fly_sji], ignore_index = True)
df_fly_wa.reset_index()
  
df_fly_wa

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,WA
1,20020917X02574,Accident,SEA82DA016,1982-01-08,"PULLMAN, WA",United States,NaN,NaN,PUW,PULLMAN-MOSCOW REGIONAL,...,NaN,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,08-01-1983,WA
2,20020917X02575,Accident,SEA82DA017,1982-01-13,"SPOKANE, WA",United States,NaN,NaN,NaN,GEIGER FIELD,...,Richard Engstrom,0.0,0.0,0.0,2.0,IMC,Approach,Probable Cause,13-01-1983,WA
3,20020917X02576,Accident,SEA82DA018,1982-01-15,"SPOKANE, WA",United States,NaN,NaN,SFF,FELTS,...,NaN,0.0,0.0,0.0,1.0,VMC,Takeoff,Probable Cause,15-01-1983,WA
4,20020917X02624,Accident,SEA82FYM08,1982-01-18,"ORCHARDS, WA",United States,NaN,NaN,NaN,CLARK COUNTY,...,NaN,0.0,2.0,2.0,0.0,VMC,Descent,Probable Cause,18-01-1983,WA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2608,20221018106160,Accident,WPR23LA019,2022-10-15,"Lake Isabel, WA",United States,475213N,1213532W,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,Unk,NaN,NaN,18-10-2022,WA
2609,20221031106233,Accident,WPR23LA026,2022-10-26,"Puyallup, WA",United States,471236N,0122210W,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,02-11-2022,WA
2610,20221122106349,Accident,WPR23LA042,2022-11-15,"Kahlotus, WA",United States,464320N,1183516W,NaN,NaN,...,DASHIELL ROSS R,0.0,0.0,1.0,0.0,NaN,NaN,NaN,02-12-2022,WA
2611,20221118106317,Accident,WPR23FA034,2022-11-18,"Snohomish, WA",United States,475421N,0122256W,NaN,NaN,...,Raisbeck Engineering,4.0,0.0,0.0,0.0,VMC,NaN,NaN,16-12-2022,WA
2612,20090115X12631,Accident,WPR09CA084,2009-01-14,"Crane Island, San Juan Is., WA",United States,483547N,1225944W,None,"Crane Island, San Juan Island",...,RUGBY AVIATION LLC,0.0,0.0,0.0,1.0,VMC,NaN,The pilot's failure to maintain directional co...,25-09-2020,San Juan Is.

In [ ]:
# Recall San Juan Island, an island off the coast of Washington
# Make San Juan Island dataframe to concatenate with WA
df_fly_sji = df[df['State'] == 'San Juan Is.']

In [ ]:
# Washington, only airplanes
df_fly_wa_planes = df_fly_wa[df_fly_wa['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_wa)

2613

In [ ]:
len(df_fly_wa_planes)

731

In [ ]:
#exporting and saving df_fly_wa_planes file to my google drive
path = '/content/drive/My Drive/df_fly_wa_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wa_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_wa file to my google drive
path = '/content/drive/My Drive/df_fly_wa.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wa.to_csv(f)

**State 55: Wisconsin**

In [ ]:
# Wisconsin, all aircraft
df_fly_wi = df[df['State'] == 'WI']

In [ ]:
# Wisconsin, only airplanes
df_fly_wi_planes = df_fly_wi[df_fly_wi['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_wi)

1560

In [ ]:
len(df_fly_wi_planes)

457

In [ ]:
#exporting and saving df_fly_wi_planes file to my google drive
path = '/content/drive/My Drive/df_fly_wi_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wi_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_wi file to my google drive
path = '/content/drive/My Drive/df_fly_wi.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wi.to_csv(f)

**State 56: West Virginia**

In [ ]:
# West Virginia, all aircraft
df_fly_wv = df[df['State'] == 'WV']

In [ ]:
# Wesr Virgina, only airplanes
df_fly_wv_planes = df_fly_wv[df_fly_wv['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_wv)

394

In [ ]:
len(df_fly_wv_planes)

103

In [ ]:
#exporting and saving df_fly_wv_planes file to my google drive
path = '/content/drive/My Drive/df_fly_wv_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wv_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_wv file to my google drive
path = '/content/drive/My Drive/df_fly_wv.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wv.to_csv(f)

**State 57: Wyoming**

In [ ]:
# Wyoming, all aircraft
df_fly_wy = df[df['State'] == 'WY']

In [ ]:
# Wyoming, only airplanes
df_fly_wy_planes = df_fly_wy[df_fly_wy['Aircraft.Category'] == 'Airplane']

In [ ]:
# comparing length of df before and after filtering for airplanes only
len(df_fly_wy)

739

In [ ]:
len(df_fly_wy_planes)

226

In [ ]:
#exporting and saving df_fly_wy_planes file to my google drive
path = '/content/drive/My Drive/df_fly_wy_planes.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wy_planes.to_csv(f)

In [ ]:
#exporting and saving df_fly_wy file to my google drive
path = '/content/drive/My Drive/df_fly_wy.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
 df_fly_wy.to_csv(f)