#Exploring the dataset from NTBS.

First, upload the file, import pandas, then read in the csv as a dataframe.

In [ ]:
# uploading file for flatiron lesson
# source: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92
from google.colab import files
uploaded = files.upload()

Saving Aviation_Data.csv to Aviation_Data.csv

In [ ]:
# importing pandas
import pandas as pd

In [ ]:
# reading in the csv 
df = pd.read_csv('Aviation_Data.csv')

<ipython-input-4-10ca297d1239>:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Aviation_Data.csv')

Previewing the data

In [ ]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [ ]:
df.describe

<bound method NDFrame.describe of              Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
90343  20221227106491           Accident      ERA23LA093  2022-12-26
90344  20221227106494           Accident      ERA23LA095  2022-12-26
90345  20221227106497           Accident      WPR23LA075  2022-12-26
90346  20221227106498           Accident      WPR23LA076  2022-12-26
90347  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country   Latitude  Longitude Airport.Code  \
0      MOOSE CREEK, ID  United States        NaN        NaN          NaN
1       BRIDGEPORT, CA  United States        NaN        NaN          NaN
2        Saltville, VA  United States  36.922223 -81.878056          NaN
3           EUREKA, CA  United States        NaN        NaN          NaN
4           Canton, OH  United States        NaN        NaN          NaN
...                ...            ...        ...        ...          ...
90343    Annapolis, MD  United States        NaN        NaN          NaN
90344      Hampton, NH  United States        NaN        NaN          NaN
90345       Payson, AZ  United States    341525N   1112021W          PAN
90346       Morgan, UT  United States        NaN        NaN          NaN
90347       Athens, GA  United States        NaN        NaN          NaN

      Airport.Name  ... Purpose.of.flight         Air.carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
90343          NaN  ...          Personal                 NaN
90344          NaN  ...               NaN                 NaN
90345       PAYSON  ...          Personal                 NaN
90346          NaN  ...          Personal  MC CESSNA 210N LLC
90347          NaN  ...          Personal                 NaN

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
90343                  0.0                    1.0                  0.0
90344                  0.0                    0.0                  0.0
90345                  0.0                    0.0                  0.0
90346                  0.0                    0.0                  0.0
90347                  0.0                    1.0                  0.0

      Total.Uninjured Weather.Condition  Broad.phase.of.flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
90343             0.0               NaN                    NaN
90344             0.0               NaN                    NaN
90345             1.0               VMC                    NaN
90346             0.0               NaN                    NaN
90347             1.0               NaN                    NaN

        Report.Status Publication.Date
0      Probable Cause              NaN
1      Probable Cause       19-09-1996
2      Probable Cause       26-02-2007
3      Probable Cause       12-09-2000
4      Probable Cause       16-04-1980
...               ...              ...
90343             NaN       29-12-2022
90344             NaN              NaN
90345             NaN       27-12-2022
90346             NaN              NaN
90347             NaN       30-12-2022

[90348 rows x 31 columns]>

In [ ]:
df.info

<bound method DataFrame.info of              Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
90343  20221227106491           Accident      ERA23LA093  2022-12-26
90344  20221227106494           Accident      ERA23LA095  2022-12-26
90345  20221227106497           Accident      WPR23LA075  2022-12-26
90346  20221227106498           Accident      WPR23LA076  2022-12-26
90347  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country   Latitude  Longitude Airport.Code  \
0      MOOSE CREEK, ID  United States        NaN        NaN          NaN
1       BRIDGEPORT, CA  United States        NaN        NaN          NaN
2        Saltville, VA  United States  36.922223 -81.878056          NaN
3           EUREKA, CA  United States        NaN        NaN          NaN
4           Canton, OH  United States        NaN        NaN          NaN
...                ...            ...        ...        ...          ...
90343    Annapolis, MD  United States        NaN        NaN          NaN
90344      Hampton, NH  United States        NaN        NaN          NaN
90345       Payson, AZ  United States    341525N   1112021W          PAN
90346       Morgan, UT  United States        NaN        NaN          NaN
90347       Athens, GA  United States        NaN        NaN          NaN

      Airport.Name  ... Purpose.of.flight         Air.carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
90343          NaN  ...          Personal                 NaN
90344          NaN  ...               NaN                 NaN
90345       PAYSON  ...          Personal                 NaN
90346          NaN  ...          Personal  MC CESSNA 210N LLC
90347          NaN  ...          Personal                 NaN

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
90343                  0.0                    1.0                  0.0
90344                  0.0                    0.0                  0.0
90345                  0.0                    0.0                  0.0
90346                  0.0                    0.0                  0.0
90347                  0.0                    1.0                  0.0

      Total.Uninjured Weather.Condition  Broad.phase.of.flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
90343             0.0               NaN                    NaN
90344             0.0               NaN                    NaN
90345             1.0               VMC                    NaN
90346             0.0               NaN                    NaN
90347             1.0               NaN                    NaN

        Report.Status Publication.Date
0      Probable Cause              NaN
1      Probable Cause       19-09-1996
2      Probable Cause       26-02-2007
3      Probable Cause       12-09-2000
4      Probable Cause       16-04-1980
...               ...              ...
90343             NaN       29-12-2022
90344             NaN              NaN
90345             NaN       27-12-2022
90346             NaN              NaN
90347             NaN       30-12-2022

[90348 rows x 31 columns]>

In [ ]:
df.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007

I noticed these accident numbers and wanted to know more about where they came from. The dataset originated from the National Transportation Safety Board so I went to their [website](https://ntsb.gov) and saw that an accident number is sometimes referred to as a docket number. This number is a unique ID given to an accident or incident report. 

Once I realized that, I wanted to see how the data in the reports compares to what is in each record of our dataset. I chose a random accident number from their website to see if I could locate the corresponding record from our dataset. I did this below and compared it to the report to see what I could learn.

In [ ]:
WPR11LA081_report = df[df['Accident.Number'] == 'WPR11LA081']
WPR11LA081_report

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
69370,20101223X00120,Accident,WPR11LA081,2010-12-22,"Poipu, HI",United States,215215N,1592652W,PAK,Port Arthur,...,Big Sky Kauai,0.0,0.0,0.0,2.0,VMC,NaN,The pilot's lack of compliance with manufactur...,25-09-2020,HI

In [ ]:
df.tail(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [ ]:
df.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [ ]:
# wow a lot of missing values
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [ ]:
df_copy = df.copy()

Rather than separating `city` and `state` into their own columns (which would make parsing the data much easier) the makers of this dataset combined the two into one `Location` column.

I wanted to create new city and state columns. But first I needed to learn more about the data type.

In [ ]:
df['Location'].dtypes

dtype('O')

In [ ]:
#this did not work, see error message
# creating state column
#df['State'] = df['Location'].apply(lambda x: x.split(',')[1].strip() if ',' in x else x)

TypeError: ignored

In [ ]:
# this worked by splitting at the comma and returning nothing in cases where there was no comma
df['State'] = df['Location'].apply(lambda x: x.split(',')[1].strip() if isinstance(x, str) and ',' in x else None)

In [ ]:
# sanity check for state column
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'State'],
      dtype='object')

In [ ]:
# exploring the data again
df.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,ID
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,CA
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,VA

# Creating a Connecticut dataframe. 

I decided to create a CT only dataframe to spot check data hygiene issues that might be occurring throughout the dataset. I chose CT as I know a lot about the area.

In [ ]:
# creating our CT only dataframe to spot check data hygiene issues within an area I am familiar with
df_fly_ct = df[df['State'] == 'CT']

In [ ]:
# exploring the CT dataframe
df_fly_ct.info

<bound method DataFrame.info of              Event.Id Investigation.Type Accident.Number  Event.Date  \
179    20020917X02491           Accident      NYC82DA027  1982-01-27
214    20020917X02480           Accident      NYC82AA028  1982-02-01
240    20020917X02570           Accident      NYC82FNE03  1982-02-05
533    20020917X02541           Accident      NYC82FA050  1982-03-11
748    20020917X02522           Accident      NYC82DA068  1982-04-03
...               ...                ...             ...         ...
88820  20220310104759           Accident      ERA22LA152  2022-03-10
89259  20220601105166           Accident      ERA22LA253  2022-05-31
89290  20220609105227           Accident      ERA22LA264  2022-06-04
89507  20220707105428           Accident      ERA22LA300  2022-07-05
89601  20220726105581           Accident      ERA22LA336  2022-07-17

              Location        Country Latitude Longitude Airport.Code  \
179        ANSONIA, CT  United States      NaN       NaN          NaN
214         GROTON, CT  United States      NaN       NaN          GON
240      ELLINGTON, CT  United States      NaN       NaN          NaN
533     BLOOMFIELD, CT  United States      NaN       NaN          BDL
748     WASHINGTON, CT  United States      NaN       NaN          NaN
...                ...            ...      ...       ...          ...
88820   Plainville, CT  United States  414122N  0725153W          4B8
89259     Simsbury, CT  United States  415445N  0724642W          4B9
89290    Ellington, CT  United States  415532N  0722726W          7B9
89507     Plymouth, CT  United States  041380N  0073248W          N41
89601  East Haddam, CT  United States  412644N  0722720W          42B

                  Airport.Name  ...                  Air.carrier  \
179                    ANSONIA  ...                          NaN
214          GROTON-NEW LONDON  ...             Pilgrim Airlines
240                  ELLINGTON  ...                          NaN
533      BRADLEY INT'L AIRPORT  ...                          NaN
748                        NaN  ...                          NaN
...                        ...  ...                          ...
88820  Robertson Field Airport  ...                          NaN
89259         Simsbury Airport  ...                          NaN
89290                ELLINGTON  ...  Connecticut Parachutist Inc
89507                WATERBURY  ...             HUTTER CHARLES G
89601                GOODSPEED  ...                          NaN

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
179                    0.0                    0.0                  0.0
214                    0.0                    5.0                  2.0
240                    0.0                    1.0                  1.0
533                    1.0                    0.0                  0.0
748                    0.0                    0.0                  0.0
...                    ...                    ...                  ...
88820                  0.0                    0.0                  0.0
89259                  0.0                    0.0                  0.0
89290                  0.0                    0.0                  0.0
89507                  0.0                    1.0                  0.0
89601                  0.0                    1.0                  0.0

      Total.Uninjured Weather.Condition Broad.phase.of.flight  \
179               2.0               VMC               Landing
214               0.0               IMC              Approach
240               0.0               VMC               Takeoff
533               0.0               IMC              Approach
748               1.0               VMC               Descent
...               ...               ...                   ...
88820             1.0               VMC                   NaN
89259             1.0               VMC                   NaN
89290             1.0               VMC                   NaN
89507             0.0               VMC                   NaN
89601             0.0               VMC                   NaN

                                           Report.Status Publication.Date  \
179                                       Probable Cause       27-01-1983
214                                       Probable Cause       01-02-1983
240                                       Probable Cause       05-02-1983
533                                       Probable Cause       11-03-1983
748                                       Probable Cause       03-04-1983
...                                                  ...              ...
88820  The pilots failure to maintain directional co...              NaN
89259  The pilots delayed decision to abort the land...       01-11-2022
89290  The pilot's improper fuel planning, which resu...       01-11-2022
89507                                                NaN       08-08-2022
89601                                                NaN       01-08-2022

      State
179      CT
214      CT
240      CT
533      CT
748      CT
...     ...
88820    CT
89259    CT
89290    CT
89507    CT
89601    CT

[502 rows x 32 columns]>

In [ ]:
df_fly_ct.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
179,20020917X02491,Accident,NYC82DA027,1982-01-27,"ANSONIA, CT",United States,NaN,NaN,NaN,ANSONIA,...,NaN,0.0,0.0,0.0,2.0,VMC,Landing,Probable Cause,27-01-1983,CT
214,20020917X02480,Accident,NYC82AA028,1982-02-01,"GROTON, CT",United States,NaN,NaN,GON,GROTON-NEW LONDON,...,Pilgrim Airlines,0.0,5.0,2.0,0.0,IMC,Approach,Probable Cause,01-02-1983,CT
240,20020917X02570,Accident,NYC82FNE03,1982-02-05,"ELLINGTON, CT",United States,NaN,NaN,NaN,ELLINGTON,...,NaN,0.0,1.0,1.0,0.0,VMC,Takeoff,Probable Cause,05-02-1983,CT

In [ ]:
df_fly_ct.tail(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State
89290,20220609105227,Accident,ERA22LA264,2022-06-04,"Ellington, CT",United States,415532N,0722726W,7B9,ELLINGTON,...,Connecticut Parachutist Inc,0.0,0.0,0.0,1.0,VMC,NaN,"The pilot's improper fuel planning, which resu...",01-11-2022,CT
89507,20220707105428,Accident,ERA22LA300,2022-07-05,"Plymouth, CT",United States,041380N,0073248W,N41,WATERBURY,...,HUTTER CHARLES G,0.0,1.0,0.0,0.0,VMC,NaN,NaN,08-08-2022,CT
89601,20220726105581,Accident,ERA22LA336,2022-07-17,"East Haddam, CT",United States,412644N,0722720W,42B,GOODSPEED,...,NaN,0.0,1.0,0.0,0.0,VMC,NaN,NaN,01-08-2022,CT

The weather conditions seemed like something that would be a contributing factor for an accident. As we were still considering location-based recommendations, we wanted to use weather conditions to help inform that decision. But first, we needed to understand what these abbreviations stood for. 

Definitions are as follows: 


* IMC : Instrument Meteorological Conditions: these require the pilot to fly primarily by reference to instruments. Pilots using instruments to guide their flight will also take guidance and instructions from air traffic control.
* UNK : Unknown
* VMC : Visual Meteorological Conditions govern whether it is safe for pilots flying by sight. The pilot is only allowed to fly in specific weather expectations when not using instruments as guides.

In [ ]:
# creating unique list of weather conditions 
weather_condition_list = df_fly_ct['Weather.Condition'].tolist() 
unique_weather_condition_list = set(weather_condition_list)
unique_weather_condition_list

{'IMC', 'UNK', 'VMC', nan}

Next, I wanted to learn more about what fatalities in CT so I created lists to help me with that.

In [ ]:
# making a unique list to see the spread of fatality numbers accross events
ct_total_fatal_injuries_list = df_fly_ct['Total.Fatal.Injuries'].tolist() 
unique_ct_total_fatal_injuries_list = set(ct_total_fatal_injuries_list)
unique_ct_total_fatal_injuries_list

{0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 nan,
 nan,
 8.0,
 nan,
 nan,
 nan,
 nan,
 7.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

In [ ]:
# creating a list of fatalities in CT that contain all the fatalities
ct_total_fatal_injuries_list_cleaned = [item for item in ct_total_fatal_injuries_list if not(pd.isnull(item)) == True]
print(ct_total_fatal_injuries_list_cleaned)

[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 4.0, 1.0, 0.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 3.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 1.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, 3.0, 0.0, 1.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 2.0, 0.0, 0.0, 1.0, 4.0, 1.0, 0.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 2.0, 2.0, 2.0, 1.0, 2.0, 2.0, 2.0, 4.0, 2.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 2.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [ ]:
# how many records do we have aka how long is this list?
len(ct_total_fatal_injuries_list_cleaned)

445

In [ ]:
# how many fatal injuries occurred in CT 
sum(ct_total_fatal_injuries_list_cleaned)

172.0

Now that I have my lists I wanted to run some statistical analysis. I imported the statistics library to calculate the median for me.

In [ ]:
import statistics

statistics.median(ct_total_fatal_injuries_list_cleaned)

0.0

I made a function to return the mean in case I would need to do this again for a list.

In [ ]:
def mean(list):
    return sum(list) / len(list)

In [ ]:
mean(ct_total_fatal_injuries_list_cleaned)

0.3865168539325843

Next, I was curious about what `broad phase of flight` meant and what it contained. I learned that this was what the plane was doing at the time of the accident.

In [ ]:
# creating a list of phases
broad_phase_of_flight_list = df_fly_ct['Broad.phase.of.flight'].tolist() 
broad_phase_of_flight_list

['Landing',
 'Approach',
 'Takeoff',
 'Approach',
 'Descent',
 'Takeoff',
 'Takeoff',
 'Landing',
 'Landing',
 'Landing',
 'Cruise',
 'Takeoff',
 'Landing',
 'Takeoff',
 'Approach',
 'Takeoff',
 'Go-around',
 'Climb',
 'Landing',
 'Approach',
 'Landing',
 'Taxi',
 'Cruise',
 'Landing',
 'Takeoff',
 'Landing',
 'Takeoff',
 'Approach',
 'Landing',
 'Landing',
 'Climb',
 'Takeoff',
 'Cruise',
 'Climb',
 'Takeoff',
 'Maneuvering',
 'Cruise',
 'Approach',
 'Approach',
 'Approach',
 'Landing',
 'Standing',
 'Landing',
 'Go-around',
 'Approach',
 'Taxi',
 'Taxi',
 'Approach',
 'Landing',
 'Cruise',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Approach',
 'Landing',
 'Go-around',
 'Landing',
 'Landing',
 'Taxi',
 'Landing',
 'Cruise',
 'Takeoff',
 'Takeoff',
 'Climb',
 'Approach',
 'Approach',
 'Descent',
 'Takeoff',
 'Maneuvering',
 'Maneuvering',
 'Landing',
 'Takeoff',
 'Landing',
 'Approach',
 'Taxi',
 'Landing',
 'Landing',
 'Landing',
 'Cruise',
 'Takeoff',
 'Approach',
 'Takeoff',
 'Go-around',
 'Approach',
 'Landing',
 'Takeoff',
 'Approach',
 'Cruise',
 'Takeoff',
 'Takeoff',
 'Landing',
 'Landing',
 'Approach',
 'Maneuvering',
 'Cruise',
 'Approach',
 'Approach',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Takeoff',
 'Landing',
 'Approach',
 'Takeoff',
 'Takeoff',
 'Cruise',
 'Landing',
 'Go-around',
 'Cruise',
 'Takeoff',
 'Takeoff',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Landing',
 'Landing',
 'Takeoff',
 'Landing',
 'Maneuvering',
 'Landing',
 'Cruise',
 'Approach',
 'Landing',
 'Takeoff',
 'Landing',
 'Landing',
 'Approach',
 'Unknown',
 'Landing',
 'Cruise',
 'Landing',
 'Cruise',
 'Taxi',
 'Landing',
 'Landing',
 'Cruise',
 'Maneuvering',
 'Standing',
 'Landing',
 'Landing',
 'Taxi',
 'Cruise',
 'Landing',
 'Landing',
 'Landing',
 'Approach',
 'Landing',
 'Standing',
 'Go-around',
 'Takeoff',
 'Descent',
 'Takeoff',
 'Takeoff',
 'Go-around',
 'Cruise',
 'Approach',
 'Takeoff',
 'Maneuvering',
 'Cruise',
 'Approach',
 'Takeoff',
 'Takeoff',
 'Maneuvering',
 'Landing',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Landing',
 'Landing',
 'Approach',
 'Takeoff',
 'Landing',
 'Cruise',
 'Maneuvering',
 'Takeoff',
 'Cruise',
 'Maneuvering',
 'Landing',
 'Standing',
 'Maneuvering',
 'Landing',
 'Landing',
 'Takeoff',
 'Landing',
 'Landing',
 'Landing',
 'Maneuvering',
 'Approach',
 'Landing',
 'Approach',
 'Landing',
 'Approach',
 'Landing',
 'Takeoff',
 'Landing',
 'Descent',
 'Landing',
 'Landing',
 'Landing',
 'Takeoff',
 'Maneuvering',
 'Maneuvering',
 'Takeoff',
 'Maneuvering',
 'Takeoff',
 'Standing',
 'Approach',
 'Cruise',
 'Takeoff',
 'Maneuvering',
 'Cruise',
 'Landing',
 'Takeoff',
 'Landing',
 'Approach',
 'Cruise',
 'Cruise',
 'Cruise',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Landing',
 'Go-around',
 'Maneuvering',
 'Cruise',
 'Landing',
 'Takeoff',
 'Landing',
 'Taxi',
 'Takeoff',
 'Landing',
 'Standing',
 'Takeoff',
 'Cruise',
 'Landing',
 'Approach',
 'Approach',
 'Landing',
 'Approach',
 'Unknown',
 'Maneuvering',
 'Landing',
 'Maneuvering',
 'Takeoff',
 'Takeoff',
 'Approach',
 'Cruise',
 'Landing',
 'Landing',
 'Landing',
 'Landing',
 'Approach',
 'Taxi',
 'Landing',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Takeoff',
 'Takeoff',
 'Landing',
 'Approach',
 'Approach',
 'Maneuvering',
 'Landing',
 'Landing',
 'Landing',
 'Takeoff',
 'Approach',
 'Landing',
 'Taxi',
 'Landing',
 'Cruise',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Landing',
 'Landing',
 'Landing',
 'Landing',
 'Takeoff',
 'Takeoff',
 'Cruise',
 'Takeoff',
 'Landing',
 'Landing',
 'Takeoff',
 'Maneuvering',
 'Takeoff',
 'Landing',
 'Takeoff',
 'Taxi',
 'Landing',
 'Landing',
 'Landing',
 'Taxi',
 'Go-around',
 'Cruise',
 'Landing',
 'Cruise',
 'Landing',
 'Landing',
 'Approach',
 'Landing',
 'Maneuvering',
 'Landing',
 'Takeoff',
 'Climb',
 'Cruise',
 'Maneuvering',
 'Cruise',
 'Cruise',
 'Approach',
 'Takeoff',
 'Maneuvering',
 'Approach',
 'Cruise',
 'Landing',
 'Takeoff',
 'Taxi',
 'Landing',
 'Climb',
 'Landing',
 'Approach',
 'Takeoff',
 'Descent',
 'Climb',
 'Takeoff',
 'Landing',
 'Approach',
 'Cruise',
 'Go-around',
 'Landing',
 'Cruise',
 'Landing',
 'Landing',
 'Maneuvering',
 'Maneuvering',
 'Maneuvering',
 'Maneuvering',
 'Approach',
 'Landing',
 'Approach',
 'Takeoff',
 'Approach',
 'Landing',
 'Descent',
 'Takeoff',
 'Landing',
 'Maneuvering',
 'Cruise',
 'Takeoff',
 'Go-around',
 'Cruise',
 'Takeoff',
 'Landing',
 'Landing',
 'Cruise',
 'Landing',
 'Maneuvering',
 'Takeoff',
 'Maneuvering',
 'Takeoff',
 'Taxi',
 'Climb',
 'Landing',
 'Approach',
 'Descent',
 'Landing',
 'Landing',
 'Landing',
 'Landing',
 'Cruise',
 'Taxi',
 'Landing',
 'Approach',
 'Landing',
 'Cruise',
 'Cruise',
 'Landing',
 'Takeoff',
 'Approach',
 'Cruise',
 'Approach',
 'Climb',
 'Landing',
 'Takeoff',
 'Approach',
 'Takeoff',
 'Descent',
 'Landing',
 'Landing',
 'Go-around',
 'Landing',
 'Landing',
 'Landing',
 'Landing',
 'Taxi',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [ ]:
# creating a unique list of phases 
unique_broad_phase_of_flight_list = set(broad_phase_of_flight_list)
unique_broad_phase_of_flight_list

{'Approach',
 'Climb',
 'Cruise',
 'Descent',
 'Go-around',
 'Landing',
 'Maneuvering',
 'Standing',
 'Takeoff',
 'Taxi',
 'Unknown',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

I also wanted to see what the carriers were. So once again, I created a list.

In [ ]:
ct_air_carrier_list = df_fly_ct['Air.carrier'].tolist() 
ct_air_carrier_list

[nan,
 'Pilgrim Airlines',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Pilgrim Airlines',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Coastal Air Services, Inc.',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Air Continental, Inc.',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bar Harbor Airways, Inc.',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'U.s. Express',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Wico Aviation, Inc. (dba: Same)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Pga Tour Investments',
 'Ryan International Airlines',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Britt Airways (dba: Continental Express)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Action Air Charters (dba: Action Air Charters)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '(dba: Usairways Express)',
 'Continental Express (dba: Continental Express)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '(dba: U.s. Check)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'International Jet Charter, Inc.',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'DILL JEFFREY R',
 'Way-Up Skydive LLC',
 'Robert C. Berrie',
 nan,
 'CIVIL AIR PATROL',
 'Blue Sky Flight',
 'Heritage Flight Academy, LLC',
 'Panorama Flight Services',
 'Alpha Flying Inc.',
 'Daniel L Patrick',
 'Foster John W',
 'Academy of Aviation, LLC.',
 'FOLEY WILLIAM M',
 'Willie Simon',
 'Sky Jane, LLC',
 nan,
 'HAGERSTOWN AIRCRAFT SERVICES INC',
 'PERSAUD MUNIDAT',
 'SHEVAH AVI',
 'BENDZLOWICZ PETER P III',
 'Three Wing Flying Services',
 'Westchester Flying Club, Inc.',
 'BALDWIN ROBERT A IV',
 'Peter L Woodsmall',
 'CHAPEL ROBERT B',
 nan,
 'HELIKAT LLC',
 'LEARNING UNLIMITED INC',
 'INTERSTATE AVIATION INC',
 'Fox Flight, Inc.',
 'DONALD J. DEROCHER',
 'NORTHEAST HELICOPTERS FLIGHT SERVICES LLC',
 'Epic Blue Co.',
 'HUGHES CHARLES R',
 'SUTTMEIER ROBERT',
 nan,
 nan,
 'ELMS JOHN H JR',
 'Jao-Shiang Luo',
 nan,
 nan,
 nan,
 'Danny Hall',
 'BRITISH AIRWAYS',
 'CHAMPLAIN ENTERPRISES INC',
 nan,
 'FLYING W AIRCRAFT SALES INC',
 'UF EQUIPMENT LLC',
 'Mountain Aviation LLC',
 'KUMAR SANJAY',
 nan,
 nan,
 'CHESTER CHARTER INC',
 nan,
 nan,
 nan,
 nan,
 nan,
 'American Flight Academy',
 nan,
 'INTERNATIONAL AVIATION LLC',
 nan,
 nan,
 'CONNECTICUT PARACHUTISTS INC',
 'Connecticut Flight Club',
 'Arrow Aviation LLC',
 'ARROW AVIATION LLC',
 'BERKSHIRE AVIATION ENTERPRISES INC',
 nan,
 'INTERSTATE AVIATION INC.',
 'WATERBIRD HOLDINGS LLC',
 nan,
 nan,
 nan,
 'PARLU VENTURES LLC.',
 nan,
 nan,
 nan,
 'Prm Enterprises Inc',
 nan,
 nan,
 'Westchester Flying Club Inc',
 nan,
 nan,
 nan,
 'Performance Flight',
 'Collings Foundation',
 'Jet Mist Holdings Llc',
 'Future Flyers Of Connecticut Llc',
 nan,
 'Upgrade Incorporated',
 nan,
 nan,
 nan,
 'Arrow Aviation LLC',
 'CONNECTICUT SOARING ASSOCIATION',
 nan,
 'BROOK HAVEN PROPERTIES LLC',
 nan,
 nan,
 nan,
 'Connecticut Parachutist Inc',
 'HUTTER CHARLES G',
 nan]

In [ ]:
# and then made that list unique values only
unique_ct_air_carrier_list = set(ct_air_carrier_list)
unique_ct_air_carrier_list

{'(dba: U.s. Check)',
 '(dba: Usairways Express)',
 'ARROW AVIATION LLC',
 'Academy of Aviation, LLC.',
 'Action Air Charters (dba: Action Air Charters)',
 'Air Continental, Inc.',
 'Alpha Flying Inc.',
 'American Flight Academy',
 'Arrow Aviation LLC',
 'BALDWIN ROBERT A IV',
 'BENDZLOWICZ PETER P III',
 'BERKSHIRE AVIATION ENTERPRISES INC',
 'BRITISH AIRWAYS',
 'BROOK HAVEN PROPERTIES LLC',
 'Bar Harbor Airways, Inc.',
 'Blue Sky Flight',
 'Britt Airways (dba: Continental Express)',
 'CHAMPLAIN ENTERPRISES INC',
 'CHAPEL ROBERT B',
 'CHESTER CHARTER INC',
 'CIVIL AIR PATROL',
 'CONNECTICUT PARACHUTISTS INC',
 'CONNECTICUT SOARING ASSOCIATION',
 'Coastal Air Services, Inc.',
 'Collings Foundation',
 'Connecticut Flight Club',
 'Connecticut Parachutist Inc',
 'Continental Express (dba: Continental Express)',
 'DILL JEFFREY R',
 'DONALD J. DEROCHER',
 'Daniel L Patrick',
 'Danny Hall',
 'ELMS JOHN H JR',
 'Epic Blue Co.',
 'FLYING W AIRCRAFT SALES INC',
 'FOLEY WILLIAM M',
 'Foster John W',
 'Fox Flight, Inc.',
 'Future Flyers Of Connecticut Llc',
 'HAGERSTOWN AIRCRAFT SERVICES INC',
 'HELIKAT LLC',
 'HUGHES CHARLES R',
 'HUTTER CHARLES G',
 'Heritage Flight Academy, LLC',
 'INTERNATIONAL AVIATION LLC',
 'INTERSTATE AVIATION INC',
 'INTERSTATE AVIATION INC.',
 'International Jet Charter, Inc.',
 'Jao-Shiang Luo',
 'Jet Mist Holdings Llc',
 'KUMAR SANJAY',
 'LEARNING UNLIMITED INC',
 'Mountain Aviation LLC',
 'NORTHEAST HELICOPTERS FLIGHT SERVICES LLC',
 'PARLU VENTURES LLC.',
 'PERSAUD MUNIDAT',
 'Panorama Flight Services',
 'Performance Flight',
 'Peter L Woodsmall',
 'Pga Tour Investments',
 'Pilgrim Airlines',
 'Prm Enterprises Inc',
 'Robert C. Berrie',
 'Ryan International Airlines',
 'SHEVAH AVI',
 'SUTTMEIER ROBERT',
 'Sky Jane, LLC',
 'Three Wing Flying Services',
 'U.s. Express',
 'UF EQUIPMENT LLC',
 'Upgrade Incorporated',
 'WATERBIRD HOLDINGS LLC',
 'Way-Up Skydive LLC',
 'Westchester Flying Club Inc',
 'Westchester Flying Club, Inc.',
 'Wico Aviation, Inc. (dba: Same)',
 'Willie Simon',
 nan}

Then I looked at the airports. My familiarity with CT airports is why I chose to look here first. This proved helpful as I was able to quickly spot the inconsistencies in airport naming conventions. (This indicates that the airport ID or code could be more accurate for filtering. Or, at the very least, easier to clean.)

For example, each of these represents Bradley International Airport:


```
"BRADLEY INT'L AIRPORT",
 'BRADLEY INTERNATIONAL',
 'BRADLEY INTERNATIONAL APT',
 'BRADLEY INTL',
 'BRADLEY INTL AIRPORT',
```

In [ ]:
# creating a list of CT airport names
ct_airport_name_list = df_fly_ct['Airport.Name'].tolist() 
ct_airport_name_list

['ANSONIA',
 'GROTON-NEW LONDON',
 'ELLINGTON',
 "BRADLEY INT'L AIRPORT",
 nan,
 'GRISWOLD',
 'WATERBURY',
 'DANBURY MUNICIPAL',
 'JOHNNYCAKE',
 'ROBERTSON FIELD',
 nan,
 'ANSONIA',
 'GRISWOLD',
 'JOHNNYCAKE',
 'DANBURY',
 'MARKHAM-MERIDEN',
 'GOODSPEED AIRPORT',
 nan,
 'WINDHAM',
 'DANIELSON',
 'ELLINGTON',
 'NEW HAVEN',
 'SIKORSKI MEMORIAL',
 'MERIDEN/MARKHAM',
 'DANBURY',
 'DANSVILLE',
 'BRIDGEPORT',
 'WATERBURY',
 'ROBERTSON',
 'NEW HAVEN',
 nan,
 'NEW LONDON',
 nan,
 nan,
 nan,
 'GRISWOLD',
 nan,
 'SOMERS',
 'DANBURY',
 'CANAAN',
 'GOODSPEED',
 'CANDLELIGHT FARMS',
 'MERIDEN',
 'WESTCHESTER CO.',
 'GROTON-NEW LONDON',
 'TRUMBULL',
 'TWEED/NEW HAVEN',
 'CROTON NEW LONDON',
 'SIMSBURY',
 nan,
 nan,
 nan,
 'WINDHAM',
 nan,
 'DANBURY',
 'BRADLEY INTL',
 'E-LINGTON',
 nan,
 nan,
 'GRISWOLD',
 nan,
 nan,
 'SKYLARK AIRPARK',
 'DANBURY',
 'MERIDEN-MARKHAM MUNICIPAL',
 'MERIDEN-MARKHAM MUNICIPAL',
 'IGOR SIKORSKI',
 nan,
 nan,
 nan,
 'MAPLEWOOD FARM',
 'WATERBURY',
 'WATERBURY',
 'GROTON',
 'WATERFORD',
 'WATERFORD',
 'GRISWOLD',
 'MERIDEN',
 'ELLINGTON',
 nan,
 'WATERBURY/OXFORD',
 'GOODSPEED',
 'GOODSPEED',
 'ELLINGTON',
 'BRAINARD',
 'CANDLELIGHT',
 nan,
 nan,
 'ELLINGTON',
 nan,
 'GROTON',
 'DANBURY MUNICIPAL',
 'GRISWOLD',
 nan,
 nan,
 'ELLINGTON',
 'HARTFORD-BRAINARD',
 'ROBERTSON',
 nan,
 nan,
 'BRAINARD',
 'DANBURY MUNI',
 'ELLINGTON',
 'GEORGE CAMPERT MEMORIAL',
 nan,
 nan,
 'MERIDEN',
 'WATERBURY-OXFORD',
 nan,
 'DANBURY',
 'ROBERTSON',
 nan,
 'HARTFORD',
 nan,
 'DANBURY',
 'WINDHAM',
 'TWEED HEW HAVEN',
 nan,
 'SIKORSKY MEMORIAL AIRPORT',
 'SIMSBURY',
 nan,
 'ROBERTSON',
 'DANBURY',
 'CANDLELIGHT FARMS',
 'WINDHAM',
 'ELLINGTON',
 'NEW HAVEN',
 nan,
 'WATERBURY/OXFORD',
 nan,
 'DANVILLE MUNI',
 'GROTON/NEW LONDON',
 'GROTON',
 'ROBERTSON',
 'WATERFORD',
 nan,
 nan,
 'BRIDGEPORT',
 'CANDLELIGHT FARMS',
 'WINDHAM',
 'MERIDEN ARPT',
 nan,
 'NO. CANAAN',
 'MERIDEN/MARKHAM',
 'SIKORSKY',
 'IGOR I. SIKORSKY MEMORIAL',
 'WINDHAM',
 'TWEED-NEW HAVEN',
 'MERIDEN MARKHAM MUNI.',
 'CANDLEWOOD LAKE',
 nan,
 'WINDHAM',
 'LAKESIDE',
 'JOHNNYCAKE',
 'MERIDEN MARKHAM',
 'OXFORD WATERBURY',
 'DANIELSON',
 nan,
 nan,
 'SIKORSKY MEM.',
 'SIKORSKY',
 'BRIDGEPORT SIKORSKY',
 nan,
 'WOODSTOCK',
 'CANAAN',
 nan,
 'WESTERLY STATE',
 'DANBURY',
 'LAKESIDE',
 nan,
 'CHESTER',
 'JUHNNYCAKE',
 'GRISWOLD',
 'HARTFORD BRAINARD',
 'WINDHAM',
 nan,
 nan,
 'SIMSBURY',
 'DANBURY',
 nan,
 'GOODSPEED',
 'SIKORSKY MEM.',
 nan,
 'SKYLARK AIRPARK',
 nan,
 'WATERBURY',
 'GROTON',
 'JOHNNYCAKE',
 'DANIELSON',
 'JOHNNY CAKE',
 'ROBERTSON',
 'LAKE SIDE',
 'BRIDGEPORT',
 'WATERBURY-OXFORD',
 'TWEED NEW HAVEN',
 nan,
 'TWEED NEW HAVEN',
 'JOHNYCAKE',
 'WATERBURY-OXFORD',
 'BRADLEY INTERNATIONAL',
 'ELLINGTON',
 nan,
 nan,
 'WINDHAM',
 'CHESTER',
 'SIKORSKY MEMORIAL',
 'GROTON-NEW LONDON',
 nan,
 'SIKORSKY MEMORIAL',
 nan,
 'WATERBURY-OXFORD',
 'DANBURY MUNICIPAL AIRPORT',
 'CANDLELIGHT FARMS',
 'DANBURY MUNICIPAL',
 nan,
 'TOUTANT',
 nan,
 nan,
 'ROBERTSON FIELD',
 nan,
 nan,
 'LAKESIDE',
 nan,
 'GOODSPEED',
 nan,
 'SPRUCE',
 'WINDHAM AIRPORT',
 nan,
 'DANBURY',
 'MERIDEN MARKHAM MUNICIPAL',
 'WATERBURY-OXFORD',
 'DANBURY MUNI',
 nan,
 'WINDHAM AIRPORT',
 'SIMSBURY',
 'TWEED NEW HAVEN',
 'WOODSTOCK',
 'LAKESIDE AIRPORT',
 'DANBURY MUNI',
 'DANIELSON',
 nan,
 'HARTFORD-BRAINARD',
 'MERIDEN-MARKHAM',
 'LAKESIDE',
 nan,
 'TWEED-NEW HAVEN',
 nan,
 'WINDHAM AIRPORT',
 'SIKORSKY MEMORIAL',
 'DANBURY MUNICIPAL',
 'ELLINGTON',
 'GOODSPEED',
 'GROTON-NEW LONDON',
 'WATERBURY-OXFORD',
 'CHESTER',
 'MERIDEN MARKHAM MUNICIPAL',
 'WATERBURY',
 'BRIDGEPORT/SIKORSKY',
 'SEGALLA FIELD',
 'DANBURY MUNICIPAL',
 'MOUNTAIN MEADOW AIRSTRIP',
 'WATERBURY-OXFORD',
 'DANBURY MUNICIPAL',
 'MERIDAN/MARKHAM',
 'MOUNTAIN MEADOW',
 'MERIDEN MARKHAM MUNICIPAL',
 'CHESTER',
 'BRADLEY INTERNATIONAL',
 'MERIDEN',
 'SIKORSKY MEMORIAL',
 'SKYLARK AIRPARK',
 nan,
 'MOUNTAIN MEADOWS',
 'DANBURY MUNICIPAL',
 'MERIDEN MARKHAM MUNICIPAL',
 'CHESTER',
 'DANBURY',
 'IGOR SIKORSKY MEMORIAL',
 'HARTFORD-BRAINARD',
 'HARTFORD-BRAINARD',
 'MARKHAM MUNICIPAL',
 nan,
 'ELLINGTON',
 'BRIDGEPORT SIKORSKY MEM',
 'ELLINGTON',
 'DANBURY MUNICIPAL',
 'WINDHAM',
 'DANBURY MUNI',
 'HARTFORD-BRAINARD AIRPORT',
 'WATERBURY-OXFORD',
 'BRADLEY INTL',
 'BRADLEY INTL AIRPORT',
 'KAMAN AEROSPACE',
 'ROBERTSON FIELD',
 'BRADLEY INTERNATIONAL APT',
 'IGOR I. SIKORSKY MEMORIAL',
 'WATERBURY AIRPORT',
 'GRISWOLD',
 nan,
 'GRISWOLD',
 'WATERBURY-OXFORD',
 'ELLINGTON AIRPORT',
 'DANBURY MUNI',
 nan,
 'WATERBURY-OXFORD',
 'WATERBURY-OXFORD AIRPORT',
 'DANIELSON AIRPORT',
 nan,
 nan,
 nan,
 nan,
 'BRADLEY INTL AIRPORT',
 'GOODSPEED AIRPORT',
 'SKYLARK AIRPARK',
 'CHESTER AIRPORT',
 nan,
 'PRIVATE',
 'ROBERTSON FIELD AIRPORT',
 'HARTFORD-BRAINARD',
 'GOODSPEED AIRPORT',
 'BRADLEY INTERNATIONAL',
 'MERIDIAN MARKHAM MUNI',
 'CHESTER',
 'DANBURY MUNICIPAL',
 nan,
 'DANBURY MUNICIPAL',
 'UNK/NA',
 'Igor I. Sikorsky Memorial',
 'Candlelight Farms',
 'DANBURY MUNICIPAL AIRPORT',
 'WESTCHESTER COUNTY',
 'Simsbury Airport',
 nan,
 'Waterbury-Oxford Airport',
 'Danbury Municipal Airport',
 nan,
 'Waterbury-Oxford',
 nan,
 'Kaman Aerospace Corp Helipad',
 'Igor I. Sikorsky Airport',
 'DANBURY MUNI',
 'Chester Airport',
 'MOUNTAIN MEADOW',
 'WATERBURY/OXFORD',
 'Waterbury-Oxford',
 'Ellington Airport',
 'NONE',
 'Robertson Field Airport',
 'DANBURY MUNI',
 nan,
 'Robertson Field Airport',
 'Hartford-Brainard',
 'Waterbury-Oxford Airport',
 'Roberts Farm',
 'Woodstock Airport',
 'Danielson Airport',
 nan,
 'Robertson Field',
 'Groton-New London Airport',
 'Bradley International Airport',
 nan,
 'Danbury Municipal Airport',
 'Bradley International Airport',
 'Robertson Airport',
 'Igor Sikorsky Memorial Airport',
 'Waterbury-Oxford Airport',
 'Danielson',
 'Hartford-Brainard Airport',
 'Chester Airport',
 'WATERBURY-OXFORD',
 nan,
 nan,
 'Windham',
 'Hartford Brainard Airport',
 'Danbury Municipal Airport',
 'Woodstock Airport',
 'WATERBURY-OXFORD',
 nan,
 'Windham',
 'Waterbury Airport',
 'Groton - New London Airport',
 nan,
 'WINDHAM',
 nan,
 'Tweed-New Haven Airport',
 nan,
 'Groton',
 'Bradley International Airport',
 nan,
 'Danbury Municipal Airport',
 'Danbury Municipal Airport',
 'Windham Airport',
 'Robertson Field',
 'TWEED-NEW HAVEN',
 'Igor I Sikorsky Mem Airport',
 'MERIDEN MARKHAM MUNI',
 'Hartford-Brainard',
 'Ellington Airport',
 'HARTFORD-BRAINARD AIRPORT',
 'Danielson Airport',
 'Goodspeed Airport',
 'Chester Airport',
 'Hartford-Brainard',
 'Bridgeport/Sikorsky',
 'Groton-New London Airport',
 'Groton',
 'Igor Sikorsky Memorial Airport',
 'Wychwood Field',
 'Waterbury-Oxford Arpt',
 'Goodspeed',
 'Hartford-Brainard Airport',
 'Private Grass Strip',
 'Meriden Markham Municipal',
 'Waterbury-Oxford Airport',
 'Igor I Sikorsky Memorial Airpo',
 'Meriden Markham Municipal Airp',
 nan,
 'Chester Airport',
 'Igor Sikorsky Memorial Airport',
 'Tweed-New Haven',
 'Danbury Muncipal Airport',
 'Danbury Municipal Airport',
 'Simsbury Airport',
 'Windham Airport',
 'South Meadows Heliport',
 'Chester Airport',
 'Robertson Airport',
 'Tweed-New Haven Airport',
 'Simsbury Airport',
 'ELLINGTON',
 'Danbury',
 'Meriden Markham Municipal',
 'Robertson Field',
 'Windham Airport',
 'Tweed-New Haven Airport',
 nan,
 'Danbury Municipal Airport',
 'WATERBURY',
 'Private Airstrip',
 nan,
 nan,
 nan,
 'BRADLEY INTL',
 'GOODSPEED',
 'DANBURY MUNI',
 'DANBURY MUNI',
 'CANDLELIGHT FARMS',
 'Igor I Sikorsky',
 'SKYLARK AIRPARK',
 'Danbury Municipal Airport',
 'CHESTER',
 'SIMSBURY',
 'GOODSPEED',
 'SIMSBURY',
 'ELLINGTON',
 'WATERBURY',
 'HARTFORD-BRAINARD',
 'HARTFORD-BRAINARD',
 'Tweed-New Haven Airport',
 'Skylark Airpark',
 'MERIDEN MARKHAM MUNI',
 'ELLINGTON',
 'HARTFORD-BRAINARD',
 'DANBURY MUNI',
 'Candlelight Farms',
 nan,
 nan,
 'ROBERTSON FIELD',
 'LAKE',
 nan,
 'DANBURY MUNI',
 'Meriden Markham Muni',
 'DANBURY MUNI',
 'Hartford-Brainard',
 'Chester',
 'Robertson Airport',
 'HARTFORD-BRAINARD',
 'Simsbury Airport',
 'CHESTER',
 'Meriden Markham Muni',
 'GOODSPEED',
 'Windham',
 'Danbury Muni',
 'Groton-New London',
 'Bradley Intl',
 'Chester',
 'Simsbury',
 'Waterbury-Oxford',
 'Groton-New London Airport',
 'Simsbury',
 'Chester Airport',
 'Toutant Airport',
 'GROTON-NEW LONDON',
 'Windham Airport',
 nan,
 'ROBERTSON FLD',
 'NORTH CANAAN AVIATION FACILITI',
 'Robertson Field Airport',
 'Simsbury Airport',
 'ELLINGTON',
 'WATERBURY',
 'GOODSPEED']

In [ ]:
# how many airport names do we have?
len(ct_airport_name_list)

502

In [ ]:
# creating a unique list of airport names allowed me to notice the naming issue

unique_ct_airport_list = set(ct_airport_name_list)
unique_ct_airport_list

{'ANSONIA',
 "BRADLEY INT'L AIRPORT",
 'BRADLEY INTERNATIONAL',
 'BRADLEY INTERNATIONAL APT',
 'BRADLEY INTL',
 'BRADLEY INTL AIRPORT',
 'BRAINARD',
 'BRIDGEPORT',
 'BRIDGEPORT SIKORSKY',
 'BRIDGEPORT SIKORSKY MEM',
 'BRIDGEPORT/SIKORSKY',
 'Bradley International Airport',
 'Bradley Intl',
 'Bridgeport/Sikorsky',
 'CANAAN',
 'CANDLELIGHT',
 'CANDLELIGHT FARMS',
 'CANDLEWOOD LAKE',
 'CHESTER',
 'CHESTER AIRPORT',
 'CROTON NEW LONDON',
 'Candlelight Farms',
 'Chester',
 'Chester Airport',
 'DANBURY',
 'DANBURY MUNI',
 'DANBURY MUNICIPAL',
 'DANBURY MUNICIPAL AIRPORT',
 'DANIELSON',
 'DANIELSON AIRPORT',
 'DANSVILLE',
 'DANVILLE MUNI',
 'Danbury',
 'Danbury Muncipal Airport',
 'Danbury Muni',
 'Danbury Municipal Airport',
 'Danielson',
 'Danielson Airport',
 'E-LINGTON',
 'ELLINGTON',
 'ELLINGTON AIRPORT',
 'Ellington Airport',
 'GEORGE CAMPERT MEMORIAL',
 'GOODSPEED',
 'GOODSPEED AIRPORT',
 'GRISWOLD',
 'GROTON',
 'GROTON-NEW LONDON',
 'GROTON/NEW LONDON',
 'Goodspeed',
 'Goodspeed Airport',
 'Groton',
 'Groton - New London Airport',
 'Groton-New London',
 'Groton-New London Airport',
 'HARTFORD',
 'HARTFORD BRAINARD',
 'HARTFORD-BRAINARD',
 'HARTFORD-BRAINARD AIRPORT',
 'Hartford Brainard Airport',
 'Hartford-Brainard',
 'Hartford-Brainard Airport',
 'IGOR I. SIKORSKY MEMORIAL',
 'IGOR SIKORSKI',
 'IGOR SIKORSKY MEMORIAL',
 'Igor I Sikorsky',
 'Igor I Sikorsky Mem Airport',
 'Igor I Sikorsky Memorial Airpo',
 'Igor I. Sikorsky Airport',
 'Igor I. Sikorsky Memorial',
 'Igor Sikorsky Memorial Airport',
 'JOHNNY CAKE',
 'JOHNNYCAKE',
 'JOHNYCAKE',
 'JUHNNYCAKE',
 'KAMAN AEROSPACE',
 'Kaman Aerospace Corp Helipad',
 'LAKE',
 'LAKE SIDE',
 'LAKESIDE',
 'LAKESIDE AIRPORT',
 'MAPLEWOOD FARM',
 'MARKHAM MUNICIPAL',
 'MARKHAM-MERIDEN',
 'MERIDAN/MARKHAM',
 'MERIDEN',
 'MERIDEN ARPT',
 'MERIDEN MARKHAM',
 'MERIDEN MARKHAM MUNI',
 'MERIDEN MARKHAM MUNI.',
 'MERIDEN MARKHAM MUNICIPAL',
 'MERIDEN-MARKHAM',
 'MERIDEN-MARKHAM MUNICIPAL',
 'MERIDEN/MARKHAM',
 'MERIDIAN MARKHAM MUNI',
 'MOUNTAIN MEADOW',
 'MOUNTAIN MEADOW AIRSTRIP',
 'MOUNTAIN MEADOWS',
 'Meriden Markham Muni',
 'Meriden Markham Municipal',
 'Meriden Markham Municipal Airp',
 'NEW HAVEN',
 'NEW LONDON',
 'NO. CANAAN',
 'NONE',
 'NORTH CANAAN AVIATION FACILITI',
 'OXFORD WATERBURY',
 'PRIVATE',
 'Private Airstrip',
 'Private Grass Strip',
 'ROBERTSON',
 'ROBERTSON FIELD',
 'ROBERTSON FIELD AIRPORT',
 'ROBERTSON FLD',
 'Roberts Farm',
 'Robertson Airport',
 'Robertson Field',
 'Robertson Field Airport',
 'SEGALLA FIELD',
 'SIKORSKI MEMORIAL',
 'SIKORSKY',
 'SIKORSKY MEM.',
 'SIKORSKY MEMORIAL',
 'SIKORSKY MEMORIAL AIRPORT',
 'SIMSBURY',
 'SKYLARK AIRPARK',
 'SOMERS',
 'SPRUCE',
 'Simsbury',
 'Simsbury Airport',
 'Skylark Airpark',
 'South Meadows Heliport',
 'TOUTANT',
 'TRUMBULL',
 'TWEED HEW HAVEN',
 'TWEED NEW HAVEN',
 'TWEED-NEW HAVEN',
 'TWEED/NEW HAVEN',
 'Toutant Airport',
 'Tweed-New Haven',
 'Tweed-New Haven Airport',
 'UNK/NA',
 'WATERBURY',
 'WATERBURY AIRPORT',
 'WATERBURY-OXFORD',
 'WATERBURY-OXFORD AIRPORT',
 'WATERBURY/OXFORD',
 'WATERFORD',
 'WESTCHESTER CO.',
 'WESTCHESTER COUNTY',
 'WESTERLY STATE',
 'WINDHAM',
 'WINDHAM AIRPORT',
 'WOODSTOCK',
 'Waterbury Airport',
 'Waterbury-Oxford',
 'Waterbury-Oxford Airport',
 'Waterbury-Oxford Arpt',
 'Windham',
 'Windham Airport',
 'Woodstock Airport',
 'Wychwood Field',
 nan}

Dates will also be important for filtering so I needed to see how they were formatted. 

I noted that the publication date end event date columns had different formating and that there were often months between the two. For example, in one record, event date is 2022-06-04 and then publication date is 01-11-2022. 

 I was also curious about the distribution of state-based data across the years. The original dataset starts in 1948 and goes through 2022, but do we have states represented every year? 

This list of dates from CT suggests that the the answer is no. This makes me think we should limit our dates to perhaps 5 to 10 years as older data may be less representative of regional flying businesses.

In [ ]:
ct_event_date_list = df_fly_ct['Event.Date'].tolist()
ct_event_date_list

['1982-01-27',
 '1982-02-01',
 '1982-02-05',
 '1982-03-11',
 '1982-04-03',
 '1982-04-28',
 '1982-05-26',
 '1982-05-27',
 '1982-05-27',
 '1982-06-18',
 '1982-07-02',
 '1982-07-23',
 '1982-07-29',
 '1982-08-08',
 '1982-08-09',
 '1982-08-19',
 '1982-09-09',
 '1982-10-31',
 '1982-11-03',
 '1982-11-10',
 '1982-11-10',
 '1982-11-30',
 '1983-01-08',
 '1983-01-21',
 '1983-01-28',
 '1983-01-29',
 '1983-01-30',
 '1983-02-26',
 '1983-03-16',
 '1983-03-20',
 '1983-04-07',
 '1983-05-17',
 '1983-05-20',
 '1983-05-20',
 '1983-06-11',
 '1983-06-25',
 '1983-07-01',
 '1983-07-31',
 '1983-08-28',
 '1983-09-24',
 '1983-10-09',
 '1983-11-04',
 '1983-12-10',
 '1983-12-13',
 '1984-01-24',
 '1984-02-24',
 '1984-03-04',
 '1984-03-14',
 '1984-04-01',
 '1984-04-07',
 '1984-04-14',
 '1984-04-19',
 '1984-04-29',
 '1984-05-07',
 '1984-05-15',
 '1984-06-04',
 '1984-06-04',
 '1984-07-03',
 '1984-07-05',
 '1984-07-12',
 '1984-07-15',
 '1984-08-03',
 '1984-08-13',
 '1984-08-14',
 '1984-08-26',
 '1984-08-26',
 '1984-09-03',
 '1984-09-03',
 '1984-09-08',
 '1984-09-17',
 '1984-09-19',
 '1984-10-03',
 '1984-11-04',
 '1984-11-05',
 '1984-11-10',
 '1984-11-10',
 '1984-11-25',
 '1984-12-02',
 '1984-12-22',
 '1985-02-06',
 '1985-03-19',
 '1985-04-05',
 '1985-04-10',
 '1985-05-18',
 '1985-06-30',
 '1985-07-01',
 '1985-07-14',
 '1985-07-17',
 '1985-07-18',
 '1985-08-02',
 '1985-08-12',
 '1985-09-15',
 '1985-09-15',
 '1985-11-20',
 '1985-12-21',
 '1985-12-28',
 '1986-01-03',
 '1986-01-10',
 '1986-02-04',
 '1986-03-01',
 '1986-03-22',
 '1986-03-23',
 '1986-03-30',
 '1986-04-28',
 '1986-05-06',
 '1986-06-03',
 '1986-06-03',
 '1986-06-03',
 '1986-06-20',
 '1986-06-27',
 '1986-07-18',
 '1986-07-20',
 '1986-08-02',
 '1986-08-04',
 '1986-08-30',
 '1986-08-31',
 '1986-09-01',
 '1986-10-11',
 '1986-12-29',
 '1987-01-23',
 '1987-02-02',
 '1987-02-22',
 '1987-03-05',
 '1987-04-15',
 '1987-04-29',
 '1987-05-23',
 '1987-05-24',
 '1987-06-03',
 '1987-06-04',
 '1987-07-05',
 '1987-07-15',
 '1987-07-27',
 '1987-07-31',
 '1987-08-04',
 '1987-09-01',
 '1987-09-11',
 '1987-09-12',
 '1987-09-29',
 '1987-10-18',
 '1987-10-30',
 '1987-11-04',
 '1987-11-05',
 '1987-11-23',
 '1988-01-31',
 '1988-02-16',
 '1988-02-19',
 '1988-04-16',
 '1988-04-25',
 '1988-05-29',
 '1988-07-16',
 '1988-08-27',
 '1988-09-01',
 '1988-09-10',
 '1988-09-24',
 '1988-10-16',
 '1988-11-20',
 '1988-11-26',
 '1988-12-12',
 '1988-12-16',
 '1988-12-24',
 '1989-01-07',
 '1989-01-16',
 '1989-05-12',
 '1989-05-14',
 '1989-05-20',
 '1989-06-19',
 '1989-07-24',
 '1989-08-01',
 '1989-08-05',
 '1989-08-19',
 '1989-09-30',
 '1989-10-06',
 '1989-10-09',
 '1989-10-11',
 '1989-10-29',
 '1989-11-12',
 '1989-11-28',
 '1989-12-02',
 '1990-01-16',
 '1990-02-01',
 '1990-02-01',
 '1990-04-18',
 '1990-04-27',
 '1990-05-14',
 '1990-06-15',
 '1990-06-22',
 '1990-06-30',
 '1990-07-04',
 '1990-07-04',
 '1990-08-12',
 '1990-08-31',
 '1990-10-07',
 '1990-10-23',
 '1990-11-16',
 '1990-12-05',
 '1991-03-21',
 '1991-04-04',
 '1991-04-06',
 '1991-05-01',
 '1991-05-03',
 '1991-05-12',
 '1991-05-31',
 '1991-06-09',
 '1991-07-07',
 '1991-09-29',
 '1991-10-12',
 '1991-10-27',
 '1991-11-28',
 '1991-12-26',
 '1991-12-28',
 '1992-05-05',
 '1992-05-29',
 '1992-06-03',
 '1992-06-10',
 '1992-06-20',
 '1992-07-07',
 '1992-07-22',
 '1992-08-09',
 '1992-08-10',
 '1992-08-19',
 '1992-08-30',
 '1992-08-31',
 '1992-09-05',
 '1992-09-14',
 '1992-10-04',
 '1992-11-15',
 '1992-11-18',
 '1992-12-06',
 '1992-12-14',
 '1992-12-19',
 '1992-12-20',
 '1993-02-02',
 '1993-03-07',
 '1993-05-02',
 '1993-05-08',
 '1993-06-08',
 '1993-06-13',
 '1993-06-27',
 '1993-07-18',
 '1993-07-31',
 '1993-08-11',
 '1993-08-17',
 '1993-08-27',
 '1993-10-24',
 '1993-11-13',
 '1993-12-04',
 '1994-03-19',
 '1994-04-04',
 '1994-04-27',
 '1994-05-02',
 '1994-05-03',
 '1994-05-15',
 '1994-05-24',
 '1994-06-17',
 '1994-06-19',
 '1994-07-24',
 '1994-07-24',
 '1994-07-31',
 '1994-07-31',
 '1995-04-12',
 '1995-06-09',
 '1995-06-11',
 '1995-06-28',
 '1995-07-08',
 '1995-07-09',
 '1995-09-03',
 '1995-10-21',
 '1995-11-12',
 '1995-12-03',
 '1996-02-16',
 '1996-02-24',
 '1996-04-06',
 '1996-05-05',
 '1996-05-06',
 '1996-05-24',
 '1996-06-06',
 '1996-06-07',
 '1996-06-29',
 '1996-07-10',
 '1996-07-12',
 '1996-09-11',
 '1996-12-20',
 '1996-12-22',
 '1997-01-16',
 '1997-07-13',
 '1997-08-04',
 '1997-08-06',
 '1997-09-18',
 '1997-11-30',
 '1997-12-18',
 '1997-12-23',
 '1998-01-21',
 '1998-01-27',
 '1998-03-29',
 '1998-03-30',
 '1998-04-19',
 '1998-04-29',
 '1998-06-01',
 '1998-06-21',
 '1998-07-18',
 '1998-09-13',
 '1998-09-16',
 '1998-09-25',
 '1998-09-26',
 '1998-09-26',
 '1998-10-03',
 '1998-12-04',
 '1999-02-21',
 '1999-04-25',
 '1999-05-01',
 '1999-05-16',
 '1999-06-12',
 '1999-06-23',
 '1999-09-18',
 '1999-10-04',
 '1999-12-17',
 '1999-12-20',
 '2000-01-20',
 '2000-02-09',
 '2000-03-30',
 '2000-05-08',
 '2000-06-04',
 '2000-08-08',
 '2000-11-02',
 '2000-11-24',
 '2000-12-05',
 '2001-03-03',
 '2001-03-09',
 '2001-05-12',
 '2001-06-09',
 '2001-06-22',
 '2001-07-12',
 '2001-07-31',
 '2001-08-01',
 '2001-08-26',
 '2001-09-10',
 '2001-09-23',
 '2001-10-13',
 '2001-11-14',
 '2001-12-30',
 '2001-12-31',
 '2002-01-31',
 '2002-02-16',
 '2002-04-12',
 '2002-06-17',
 '2002-06-24',
 '2002-07-05',
 '2002-07-07',
 '2002-08-05',
 '2002-08-17',
 '2002-08-17',
 '2002-08-26',
 '2002-12-20',
 '2003-02-20',
 '2003-03-08',
 '2003-04-12',
 '2003-05-15',
 '2003-07-25',
 '2003-08-04',
 '2003-11-18',
 '2003-12-28',
 '2004-01-07',
 '2004-04-01',
 '2004-04-09',
 '2004-04-10',
 '2004-05-23',
 '2004-06-18',
 '2004-06-21',
 '2004-06-27',
 '2004-09-11',
 '2004-09-24',
 '2004-10-11',
 '2004-11-02',
 '2004-12-22',
 '2005-04-02',
 '2005-04-10',
 '2005-04-20',
 '2005-05-24',
 '2005-06-01',
 '2005-06-17',
 '2005-06-27',
 '2005-08-27',
 '2005-12-21',
 '2006-01-21',
 '2006-01-22',
 '2006-05-05',
 '2006-06-02',
 '2006-06-23',
 '2006-09-07',
 '2006-12-11',
 '2007-01-18',
 '2007-04-22',
 '2007-06-18',
 '2007-07-08',
 '2007-09-18',
 '2007-09-21',
 '2007-10-05',
 '2008-04-19',
 '2008-07-08',
 '2008-08-27',
 '2008-09-20',
 '2008-10-07',
 '2008-10-07',
 '2008-11-01',
 '2008-11-11',
 '2008-11-19',
 '2009-06-12',
 '2009-09-20',
 '2010-01-13',
 '2010-05-24',
 '2010-08-23',
 '2010-10-11',
 '2011-02-07',
 '2011-03-12',
 '2011-04-02',
 '2011-04-22',
 '2011-05-29',
 '2011-06-10',
 '2011-06-26',
 '2011-09-18',
 '2011-10-01',
 '2011-10-17',
 '2011-12-26',
 '2012-01-01',
 '2012-04-14',
 '2012-07-10',
 '2012-07-26',
 '2012-09-20',
 '2012-11-19',
 '2013-01-17',
 '2013-01-23',
 '2013-05-07',
 '2013-06-09',
 '2013-07-27',
 '2013-08-09',
 '2013-09-08',
 '2014-06-28',
 '2014-09-09',
 '2014-09-28',
 '2014-11-15',
 '2014-11-29',
 '2015-05-27',
 '2015-06-05',
 '2015-08-08',
 '2015-08-14',
 '2015-08-21',
 '2015-08-30',
 '2015-09-07',
 '2015-09-19',
 '2015-11-24',
 '2016-03-01',
 '2016-05-11',
 '2016-07-23',
 '2016-08-29',
 '2016-09-26',
 '2016-10-06',
 '2016-10-11',
 '2016-12-23',
 '2017-02-22',
 '2017-04-18',
 '2017-04-24',
 '2017-06-01',
 '2017-06-10',
 '2017-07-30',
 '2017-08-11',
 '2017-08-13',
 '2017-08-14',
 '2017-09-11',
 '2017-09-15',
 '2017-09-16',
 '2017-09-22',
 '2018-01-27',
 '2018-06-09',
 '2018-06-16',
 '2018-06-21',
 '2018-07-12',
 '2018-08-28',
 '2018-10-28',
 '2018-12-10',
 '2019-04-11',
 '2019-05-25',
 '2019-05-31',
 '2019-06-04',
 '2019-06-21',
 '2019-10-02',
 '2019-11-02',
 '2019-11-23',
 '2020-05-16',
 '2020-08-18',
 '2020-08-22',
 '2020-09-25',
 '2020-10-10',
 '2021-06-13',
 '2021-06-17',
 '2021-08-07',
 '2021-09-02',
 '2021-10-14',
 '2022-03-10',
 '2022-05-31',
 '2022-06-04',
 '2022-07-05',
 '2022-07-17']