#Creating a dataset from 1997 to the present 


Step 1: 

Loading in the tables from the NTSB.
Tables used to build the original set:


*   aircraft
*   events
*   engines
*   occurrences

(NOTE to self and team: may need to update with sequence_of_events table to fill in NaN values for `'Occurrence_No'` )

Import pandas library to make our dataframes.

In [4]:
import pandas as pd

Note to Justin: This is how I have to load the data in Google colab so you can maybe delete these cells:



```
from google.colab import files
uploaded = files.upload()
```

In [1]:
from google.colab import files
uploaded = files.upload()

Saving aircraft_pre2008.csv to aircraft_pre2008.csv

In [5]:
df_aircraft_pre2008 = pd.read_csv('aircraft_pre2008.csv')

<ipython-input-5-5b5e4feefea1>:1: DtypeWarning: Columns (7,32,53,72,73,76,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aircraft_pre2008 = pd.read_csv('aircraft_pre2008.csv')

In [2]:
from google.colab import files
uploaded = files.upload()

Saving events_pre2008.csv to events_pre2008.csv

In [6]:
df_events_pre2008 = pd.read_csv('events_pre2008.csv')

<ipython-input-6-933391dd9bf6>:1: DtypeWarning: Columns (10,17,51,70) have mixed types. Specify dtype option on import or set low_memory=False.
  df_events_pre2008 = pd.read_csv('events_pre2008.csv')

In [3]:
from google.colab import files
uploaded = files.upload()

Saving engines_pre2008.csv to engines_pre2008.csv

In [7]:
df_engines_pre2008 = pd.read_csv('engines_pre2008.csv')

In [29]:
from google.colab import files
uploaded = files.upload()

Saving occurrences_phase_of_flight_datadictionary_pre2008.csv to occurrences_phase_of_flight_datadictionary_pre2008.csv

In [37]:
# sanity check to see what data we have 
ls

aircraft_pre2008.csv
eADMSPUB_DataDictionary_pre2008.csv
engines_pre2008.csv
events_pre2008.csv
occurrence_datadictionary_pre2008.csv
occurrences_phase_of_flight_datadictionary_pre2008.csv
occurrences_pre2008.csv
sample_data/

Previewing the data using various methods.

In [9]:
df_aircraft_pre2008.info

<bound method DataFrame.info of                 ev_id  Aircraft_Key regis_no      ntsb_no acft_missing  \
0      20001204X00000             1   N6312H  ANC99FA021             N
1      20001204X00001             1   N481EV  ANC99IA025             N
2      20001204X00002             1     N6GR  ANC99LA020             N
3      20001204X00003             1   N8373L  ANC99LA022             N
4      20001204X00004             1    N19TA  ANC99LA023             N
...               ...           ...      ...          ...          ...
63908  20101006X81741             1      NaN   ENG06WA012          NaN
63909  20120502X05030             1      NaN   ENG06WA041          NaN
63910  20121004X53806             1    N42RF   ERA13IA006          NaN
63911  20170710X10920             1   N4073S   FTW92FA224          NaN
63912  20170710X52551             1   CF-TLU   NYC79AA106          NaN

      far_part flt_plan_filed flight_plan_activated damage acft_fire  ...  \
0         135            CVFR                   NaN   SUBS      NONE  ...
1         121            IFR                    NaN   MINR      GRD   ...
2         135            CVFR                   NaN   SUBS      NONE  ...
3         091            NONE                   NaN   SUBS      NONE  ...
4         135            CVFR                   NaN   SUBS      NONE  ...
...        ...            ...                   ...    ...       ...  ...
63908     NUSN            NaN                   NaN   MINR      IFLT  ...
63909     NUSC           UNK                    NaN   MINR      IFLT  ...
63910     PUBU           IFR                      U   NONE      NONE  ...
63911     091            CVFR                     Y   DEST      NONE  ...
63912     129            IFR                      Y   SUBS      NONE  ...

      acft_year fuel_on_board commercial_space_flight unmanned  \
0           NaN           NaN                       0        0
1           NaN           NaN                       0        0
2           NaN           NaN                       0        0
3           NaN           NaN                       0        0
4           NaN           NaN                       0        0
...         ...           ...                     ...      ...
63908       NaN           NaN                       0        0
63909       NaN           NaN                       0        0
63910       NaN           NaN                       0        0
63911    1991.0           NaN                       0        0
63912    1968.0           NaN                       0        0

      ifr_equipped_cert  elt_mounted_aircraft elt_connected_antenna  \
0                     0                     0                     0
1                     0                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
...                 ...                   ...                   ...
63908                 0                     0                     0
63909                 0                     0                     0
63910                 0                     0                     0
63911                 0                     0                     0
63912                 0                     0                     0

      elt_manufacturer elt_model  elt_reason_other
0                  NaN       NaN               NaN
1                  NaN       NaN               NaN
2                  NaN       NaN               NaN
3                  NaN       NaN               NaN
4                  NaN       NaN               NaN
...                ...       ...               ...
63908              NaN       NaN               NaN
63909              NaN       NaN               NaN
63910              NaN       NaN               NaN
63911              NaN       NaN               NaN
63912              NaN       NaN               NaN

[63913 rows x 93 columns]>

In [10]:
df_aircraft_pre2008.columns

Index(['ev_id', 'Aircraft_Key', 'regis_no', 'ntsb_no', 'acft_missing',
       'far_part', 'flt_plan_filed', 'flight_plan_activated', 'damage',
       'acft_fire', 'acft_expl', 'acft_make', 'acft_model', 'acft_series',
       'acft_serial_no', 'cert_max_gr_wt', 'acft_category', 'acft_reg_cls',
       'homebuilt', 'fc_seats', 'cc_seats', 'pax_seats', 'total_seats',
       'num_eng', 'fixed_retractable', 'type_last_insp', 'date_last_insp',
       'afm_hrs_last_insp', 'afm_hrs', 'elt_install', 'elt_oper',
       'elt_aided_loc_ev', 'elt_type', 'owner_acft', 'owner_street',
       'owner_city', 'owner_state', 'owner_country', 'owner_zip',
       'oper_individual_name', 'oper_name', 'oper_same', 'oper_dba',
       'oper_addr_same', 'oper_street', 'oper_city', 'oper_state',
       'oper_country', 'oper_zip', 'oper_code', 'certs_held', 'oprtng_cert',
       'oper_cert', 'oper_cert_num', 'oper_sched', 'oper_dom_int',
       'oper_pax_cargo', 'type_fly', 'second_pilot', 'dprt_pt_same_ev',
       'dprt_apt_id', 'dprt_city', 'dprt_state', 'dprt_country', 'dprt_time',
       'dprt_timezn', 'dest_same_local', 'dest_apt_id', 'dest_city',
       'dest_state', 'dest_country', 'phase_flt_spec', 'report_to_icao',
       'evacuation', 'lchg_date', 'lchg_userid', 'afm_hrs_since', 'rwy_num',
       'rwy_len', 'rwy_width', 'site_seeing', 'air_medical', 'med_type_flight',
       'acft_year', 'fuel_on_board', 'commercial_space_flight', 'unmanned',
       'ifr_equipped_cert', 'elt_mounted_aircraft', 'elt_connected_antenna',
       'elt_manufacturer', 'elt_model', 'elt_reason_other'],
      dtype='object')

In [23]:
df_occurrences_pre2008.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid
0,20001204X00000,1,1,350,560,0,12/12/00 11:18:25,dbo
1,20001204X00000,1,2,180,552,0,12/12/00 11:18:25,dbo
2,20001204X00000,1,3,320,574,0,12/12/00 11:18:25,dbo

##Need to rebuild the dictionaries for phase of flight data

In [30]:
# loading in data dictionary for code meanings
df_occurrences_phase_of_flight_datadictionary_pre2008 = pd.read_csv('occurrences_phase_of_flight_datadictionary_pre2008.csv')

In [31]:
# previewing the data in the dictionary
df_occurrences_phase_of_flight_datadictionary_pre2008.head(3)

,Category of Data,Table,Column,ct_name,code_iaids,meaning,Data Type eADMS,Length eADMS,short_desc,Question_Def,Code meaning,typeofchange,Change_notes
0,Pre eADMS coding,Occurrences,Phase_of_Flight,NaN,504.0,Standing - engine(s) not operating,int,NaN,Phase of Flight,All occurrences include information about the ...,NaN,NaN,NaN
1,Pre eADMS coding,Occurrences,Phase_of_Flight,NaN,514.0,Taxi - aerial,int,NaN,Phase of Flight,All occurrences include information about the ...,NaN,NaN,NaN
2,Pre eADMS coding,Occurrences,Phase_of_Flight,NaN,530.0,Climb,int,NaN,Phase of Flight,All occurrences include information about the ...,NaN,NaN,NaN

In [33]:
# grabbing the relevant columns with the codes and their associated meanings
selected_columns = ['code_iaids', 'meaning']
phase_of_flight_codes_pre_2008 = df_occurrences_phase_of_flight_datadictionary_pre2008[selected_columns].copy()

In [34]:
phase_of_flight_codes_pre_2008

    code_iaids                                            meaning
0        504.0                 Standing - engine(s) not operating
1        514.0                                      Taxi - aerial
2        530.0                                              Climb
3        542.0                        Maneuvering - holding (IFR)
4        560.0                                           Approach
5        565.0                                    Go-around (VFR)
6        569.0                              Missed approach (IFR)
7        573.0                                  Landing - aborted
8        581.0                   Maneuvering - aerial application
9        592.0                       Hover - out of ground effect
10       570.0                                            Landing
11       571.0                          Landing - flare/touchdown
12       572.0                                     Landing - roll
13       505.0                           Standing - idling rotors
14       510.0                                               Taxi
15       511.0                                Taxi - pushback/tow
16       512.0                                  Taxi - to takeoff
17       513.0                                Taxi - from landing
18       520.0                                            Takeoff
19       521.0                                 Takeoff - roll/run
20       522.0                            Takeoff - initial climb
21       523.0                                  Takeoff - aborted
22       531.0                                  Climb - to cruise
23       540.0                                             Cruise
24       541.0                                    Cruise - normal
25       550.0                                            Descent
26       551.0                                   Descent - normal
27       552.0                                Descent - emergency
28       553.0                             Descent - uncontrolled
29       561.0                  Approach - VFR pattern - downwind
30       562.0              Approach - VFR pattern - turn to base
31       563.0    Approach - VFR pattern - base leg/base to final
32       564.0            Approach - VFR pattern - final approach
33       566.0  Approach - Initial approach fix (IAF) to final...
34       567.0  Approach - final approach fix (FAF)/outer mark...
35       568.0                          Approach - circling (IFR)
36       574.0                                  Emergency landing
37       575.0                    Emergency landing after takeoff
38       576.0                          Emergency descent/landing
39       580.0                                        Maneuvering
40       582.0            Maneuvering - turn to reverse direction
41       583.0     Maneuvering - turn to landing area (emergency)
42       590.0                                              Hover
43       591.0                           Hover - in ground effect
44       600.0                                              Other
45       610.0                                            Unknown
46         NaN                                                NaN
47       500.0                                           Standing
48       501.0                              Standing - pre-flight
49       502.0                      Standing - starting engine(s)
50       503.0                     Standing - engine(s) operating

In [35]:
# creating a broad_phase_of_flight_dict dictionary to map over the "Phase_of_Flight" column in the occurrences table 
# also note these are integers
broad_phase_of_flight_pre2008_dict = {
   50: 'Standing',
   51: 'Taxi' ,
   52: 'Takeoff',
   53: 'Climb',
   54: 'Cruise',
   55: 'Descent',
   56: 'Approach',
   57: 'Landing',
   58: 'Maneuvering',
   59: 'Hover',
   60: 'Other',
   61: 'Unknown'
}

In [38]:
#making a copy to soothe my nerves
df_occurrences_pre2008_copy = df_occurrences_pre2008.copy()

In [39]:
#previewing the head
df_occurrences_pre2008_copy.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid
0,20001204X00000,1,1,350,560,0,12/12/00 11:18:25,dbo
1,20001204X00000,1,2,180,552,0,12/12/00 11:18:25,dbo
2,20001204X00000,1,3,320,574,0,12/12/00 11:18:25,dbo

In [40]:
#First I need to make these integers into strings to be able to grab the first two digits
#Then I grab those digits and make a new column 'broad_phase_no'
#then I make 'em integers again
df_occurrences_pre2008_copy['broad_phase_no'] = df_occurrences_pre2008_copy['Phase_of_Flight'].astype(str).str[:2].astype(int)

In [41]:
#let's preview the work...looks good!
df_occurrences_pre2008_copy.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid,broad_phase_no
0,20001204X00000,1,1,350,560,0,12/12/00 11:18:25,dbo,56
1,20001204X00000,1,2,180,552,0,12/12/00 11:18:25,dbo,55
2,20001204X00000,1,3,320,574,0,12/12/00 11:18:25,dbo,57

In [42]:
# Create a new 'broad phase of flight' column by mapping 'broad_phase_no' with the dictionary
df_occurrences_pre2008_copy['broad phase of flight'] = df_occurrences_pre2008_copy['broad_phase_no'].map(broad_phase_of_flight_pre2008_dict).fillna('Unknown broad phase')

In [43]:
# let's preview the work...looks good!
df_occurrences_pre2008_copy.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid,broad_phase_no,broad phase of flight
0,20001204X00000,1,1,350,560,0,12/12/00 11:18:25,dbo,56,Approach
1,20001204X00000,1,2,180,552,0,12/12/00 11:18:25,dbo,55,Descent
2,20001204X00000,1,3,320,574,0,12/12/00 11:18:25,dbo,57,Landing

And now for the more granual `'specific phase of flight'` column to match the post 2008 dataset

In [45]:
# creating a phase_of_flight_dict dictionary to map over the "Phase_of_Flight" column in the occurrences table 
# also note these are integers

specific_phase_of_flight_pre2008_dict = {
504: 'Standing - engine(s) not operating',
514: 'Taxi - aerial',
530: 'Climb',
542: 'Maneuvering - holding (IFR)',
560: 'Approach',
565: 'Go-around (VFR)',
569: 'Missed approach (IFR)',
573: 'Landing - aborted',
581: 'Maneuvering - aerial application',
592: 'Hover - out of ground effect',
570: 'Landing',
571: 'Landing - flare/touchdown',
572: 'Landing - roll',
505: 'Standing - idling rotors',
510: 'Taxi',
511: 'Taxi - pushback/tow',
512: 'Taxi - to takeoff',
513: 'Taxi - from landing',
520: 'Takeoff',
521: 'Takeoff - roll/run',
522: 'Takeoff - initial climb',
523: 'Takeoff - aborted',
531: 'Climb - to cruise',
540: 'Cruise',
541: 'Cruise - normal',
550: 'Descent',
551: 'Descent - normal',
552: 'Descent - emergency',
553: 'Descent - uncontrolled',
561: 'Approach - VFR pattern - downwind',
562: 'Approach - VFR pattern - turn to base',
563: 'Approach - VFR pattern - base leg/base to final',
564: 'Approach - VFR pattern - final approach',
566: 'Approach - Initial approach fix (IAF) to final approach fix (FAF)/outer marker (IFR)',
567: 'Approach - final approach fix (FAF)/outer marker to threshold (IFR)',
568: 'Approach - circling (IFR)',
574: 'Emergency landing',
575: 'Emergency landing after takeoff',
576: 'Emergency descent/landing',
580: 'Maneuvering',
582: 'Maneuvering - turn to reverse direction',
583: 'Maneuvering - turn to landing area (emergency)',
590: 'Hover',
591: 'Hover - in ground effect',
600: 'Other',
610: 'Unknown',
500: 'Standing',
501: 'Standing - pre-flight',
502: 'Standing - starting engine(s)',
503: 'Standing - engine(s) operating'
}

In [46]:
# Create a new 'specific phase of flight' column by mapping 'Phase_of_Flight' with the dictionary

df_occurrences_pre2008_copy['specific phase of flight'] = df_occurrences_pre2008_copy['Phase_of_Flight'].map(specific_phase_of_flight_pre2008_dict).fillna('Unknown specific phase')

In [47]:
# Let's preview the work!
df_occurrences_pre2008_copy.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid,broad_phase_no,broad phase of flight,specific phase of flight
0,20001204X00000,1,1,350,560,0,12/12/00 11:18:25,dbo,56,Approach,Approach
1,20001204X00000,1,2,180,552,0,12/12/00 11:18:25,dbo,55,Descent,Descent - emergency
2,20001204X00000,1,3,320,574,0,12/12/00 11:18:25,dbo,57,Landing,Emergency landing

Creating an occurrence code dictionary to make an Occurrence column to match the post 2008 dataset

In [48]:
# importing the occurrence code data
from google.colab import files
uploaded = files.upload()

Saving occurrence_code_datadictionary_pre2008.csv to occurrence_code_datadictionary_pre2008.csv

In [49]:
# read in the csv as a dataframe
df_occurrence_code_datadictionary_pre2008 = pd.read_csv('occurrence_code_datadictionary_pre2008.csv')

In [50]:
# previewing the data
df_occurrence_code_datadictionary_pre2008.head(3)

,Category of Data,Table,Column,ct_name,code_iaids,meaning,Data Type eADMS,Length eADMS,short_desc,Question_Def,Code meaning,typeofchange,Change_notes
0,Pre eADMS coding,Occurrences,Occurrence_Code,NaN,100,Abrupt maneuver,int,NaN,Type of Occurrence,Multiple occurrences can be used to describe n...,NaN,NaN,NaN
1,Pre eADMS coding,Occurrences,Occurrence_Code,NaN,110,"Altitude deviation, uncontrolled",int,NaN,Type of Occurrence,Multiple occurrences can be used to describe a...,NaN,NaN,NaN
2,Pre eADMS coding,Occurrences,Occurrence_Code,NaN,120,Cargo shift,int,NaN,Type of Occurrence,Multiple occurrences can be used to describe a...,NaN,NaN,NaN

In [51]:
# grabbing the relevant columns
selected_columns = ['code_iaids','meaning']
df_occurrence_codes_pre2008 = df_occurrence_code_datadictionary_pre2008[selected_columns].copy()

In [55]:
# grab the codes and meanings for the dictionary
df_occurrence_codes_pre2008

    code_iaids                                            meaning
0          100                                    Abrupt maneuver
1          110                   Altitude deviation, uncontrolled
2          120                                        Cargo shift
3          130      Airframe/component/system failure/malfunction
4          131                      Propeller failure/malfunction
5          132                          Rotor failure/malfunction
6          140                                      Decompression
7          150                                           Ditching
8          160       Dragged wing, rotor, pod, float or tail/skid
9          170                                     Fire/explosion
10         171                                               Fire
11         172                                          Explosion
12         180                                     Forced landing
13         190                                     Gear collapsed
14         191                                Main gear collapsed
15         192                                Nose gear collapsed
16         193                                Tail gear collapsed
17         194                            Complete gear collapsed
18         195                               Other gear collapsed
19         196                                  Gear not extended
20         197                                 Gear not retracted
21         198                          Gear retraction on ground
22         200                                       Hard landing
23         210                     Hazardous materials leak/spill
24         220                    In flight collision with object
25         230             In flight collision with terrain/water
26         231                       Wheels down landing in water
27         232                                  Wheels up landing
28         240                   In flight encounter with weather
29         250                        Loss of control - in flight
30         260                  Loss of control - on ground/water
31         270                                   Midair collision
32         271     Collision between aircraft (other than midair)
33         280                    Near collision between aircraft
34         290                                          Nose down
35         300                                          Nose over
36         310              On ground/water collision with object
37         320       On ground/water collision with terrain/water
38         330             On ground/water encounter with weather
39         340                                            Overrun
40         350                               Loss of engine power
41         351  Loss of engine power (total) - mechanical fail...
42         352  Loss of engine power (partial) - mechanical fa...
43         353       Loss of engine power (total) - nonmechanical
44         354     Loss of engine power (partial) - nonmechanical
45         355                                    Engine tearaway
46         360             Propeller blast or jet exhaust/suction
47         370                  Propeller/rotor contact to person
48         380                                          Roll over
49         390                                         Undershoot
50         400                                       Undetermined
51         410                      Vortex turbulence encountered
52         420                                   Missing aircraft
53         430                                Miscellaneous/other

In [56]:
#creating the occurrence code dictionary to map over the Occurrence_Code column annd create the 'Occurrence' column

occurrence_code_pre2008_dict = {
  100: 'Abrupt maneuver',
  110: 'Altitude deviation, uncontrolled',
  120: 'Cargo shift',
  130: 'Airframe/component/system failure/malfunction',
  131: 'Propeller failure/malfunction',
  132: 'Rotor failure/malfunction',
  140: 'Decompression',
  150: 'Ditching',
  160: 'Dragged wing, rotor, pod, float or tail/skid',
  170: 'Fire/explosion',
  171: 'Fire',
  172: 'Explosion',
  180: 'Forced landing',
  190: 'Gear collapsed',
  191: 'Main gear collapsed',
  192: 'Nose gear collapsed',
  193: 'Tail gear collapsed',
  194: 'Complete gear collapsed',
  195: 'Other gear collapsed',
  196: 'Gear not extended',
  197: 'Gear not retracted',
  198: 'Gear retraction on ground',
  200: 'Hard landing',
  210: 'Hazardous materials leak/spill',
  220: 'In flight collision with object',
  230: 'In flight collision with terrain/water',
  231: 'Wheels down landing in water',
  232: 'Wheels up landing',
  240: 'In flight encounter with weather',
  250: 'Loss of control - in flight',
  260: 'Loss of control - on ground/water',
  270: 'Midair collision',
  271: 'Collision between aircraft (other than midair)',
  280: 'Near collision between aircraft',
  290: 'Nose down',
  300: 'Nose over',
  310: 'On ground/water collision with object',
  320: 'On ground/water collision with terrain/water',
  330: 'On ground/water encounter with weather',
  340: 'Overrun',
  350: 'Loss of engine power',
  351: 'Loss of engine power (total) - mechanical failure/malfunction',
  352: 'Loss of engine power (partial) - mechanical failure/malfunction',
  353: 'Loss of engine power (total) - nonmechanical',
  354: 'Loss of engine power (partial) - nonmechanical',
  355: 'Engine tearaway',
  360: 'Propeller blast or jet exhaust/suction',
  370: 'Propeller/rotor contact to person',
  380: 'Roll over',
  390: 'Undershoot',
  400: 'Undetermined',
  410: 'Vortex turbulence encountered',
  420: 'Missing aircraft',
  430: 'Miscellaneous/other'
}

In [57]:
# Create a new 'Occurrence' column by mapping 'Occurrence_Code' with the dictionary

df_occurrences_pre2008_copy['Occurrence'] = df_occurrences_pre2008_copy['Occurrence_Code'].map(occurrence_code_pre2008_dict).fillna('Unknown Occurrence')

In [58]:
# Let's preview the work! Lookin good!
df_occurrences_pre2008_copy.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid,broad_phase_no,broad phase of flight,specific phase of flight,Occurrence
0,20001204X00000,1,1,350,560,0,12/12/00 11:18:25,dbo,56,Approach,Approach,Loss of engine power
1,20001204X00000,1,2,180,552,0,12/12/00 11:18:25,dbo,55,Descent,Descent - emergency,Forced landing
2,20001204X00000,1,3,320,574,0,12/12/00 11:18:25,dbo,57,Landing,Emergency landing,On ground/water collision with terrain/water

##Making new dataframes with only the columns we need

First, the aircraft table:

In [59]:
# making an aircraft table with only the columns we currently need
selected_columns = ['ev_id', 'Aircraft_Key', 'ntsb_no', 'regis_no', 'acft_category', 'acft_make', 'acft_model', 'homebuilt', 'far_part','num_eng', 'type_fly', 
               'damage']
df_aircraft_pre2008_og_edit = df_aircraft_pre2008[selected_columns].copy()

And now the events table:

In [20]:
# making an events table with only the columns we currently need
selected_columns = ['ev_id', 'ntsb_no', 'ev_type', 'ev_date', 'ev_city', 'ev_state', 'ev_country', 'latitude', 'longitude', 'ev_nr_apt_id', 'apt_name', 'ev_highest_injury',
       'inj_tot_f','inj_tot_s', 'inj_tot_m','inj_tot_n' , 'wx_cond_basic' ]

df_events_pre2008_og_edit = df_events_pre2008[selected_columns].copy()

And now the engines table:

In [14]:
#Remember: there are more engine types than records/rows for other tables
#this is because there are accidents (and perhaps incidents as well) that involve
#more than one aircraft: hence, 'Aircraft_Key'
df_engines_pre2008['eng_type'].unique

<bound method Series.unique of 0        REC
1        TF
2        REC
3        REC
4        REC
         ...
63869    TP
63870    TP
63871    REC
63872    TF
63873    TF
Name: eng_type, Length: 63874, dtype: object>

In [19]:
selected_columns = ['ev_id', 'Aircraft_Key', 'eng_no', 'eng_type']

df_engines_pre2008_og_edit = df_engines_pre2008[selected_columns].copy()

And now the Occurrences table:

In [60]:
df_occurrences_pre2008_copy.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid,broad_phase_no,broad phase of flight,specific phase of flight,Occurrence
0,20001204X00000,1,1,350,560,0,12/12/00 11:18:25,dbo,56,Approach,Approach,Loss of engine power
1,20001204X00000,1,2,180,552,0,12/12/00 11:18:25,dbo,55,Descent,Descent - emergency,Forced landing
2,20001204X00000,1,3,320,574,0,12/12/00 11:18:25,dbo,57,Landing,Emergency landing,On ground/water collision with terrain/water

I wanted to do some column renaming before we merge. (Even though the final dataset will not include this column, I wanted to update this table for the sake of  consistency. Plus, should we need to check something we won't have to rely on our memories to know what this column signifies.)

**However I am getting errors so this will have to wait!**
`Phase_of_Flight` will now be `pre_2008_phase_no` so it is consistent with the naming convenstions of the post 2008 dataframe.

In [ ]:
#df_occurrences_pre2008_copy_pd.rename(columns = {'Phase_of_Flight':'pre_2008_phase_no'}, inplace = True)

In [68]:
# having issues and it could be my naming convention so making another copy...
#df_occurrences_pre2008_v2 = df_occurrences_pre2008_copy.copy()

In [ ]:
# this still is not working and idk why. oh well! later...
#df_occurrences_pre2008_vs_pd.rename(columns = {'Phase_of_Flight':'pre_2008_phase_no'}, inplace = True)

Selecting the columns we need from the occurrences dataframe

In [73]:
selected_columns = ['ev_id', 'Aircraft_Key', 'Occurrence_No', 'broad phase of flight', 'specific phase of flight', 'Occurrence']

df_occurrences_pre2008_copy_og_edit = df_occurrences_pre2008_copy[selected_columns].copy()

And now we merge!

In [75]:
# now I am going to merge df_aircraft_pre2008_og_edit, df_occurrences_pre2008_copy_og_edit, and df_engines_pre2008_og_edit, 
# these three have the 'Aircraft_Key' whereas df_events_pre2008_og_edit does not

# first merge df_aircraft_pre2008_og_edit + df_occurrences_pre2008_copy_og_edit
df_aircraft_pre2008_combined = df_aircraft_pre2008_og_edit.merge(df_occurrences_pre2008_copy_og_edit, on=['ev_id', 'Aircraft_Key'], how='left')

# second merge df_aircraft_pre2008_combined with df_engines_pre2008_og_edit
df_aircraft_pre2008_combined = df_aircraft_pre2008_combined.merge(df_engines_pre2008_og_edit, on=['ev_id',	'Aircraft_Key'],  how='left') 

# finally merge df_aircraft_pre2008_combined with df_events_pre2008_og_edit to put it all together and make the final rebuild!!!
df_pre2008 = df_events_pre2008_og_edit.merge(df_aircraft_pre2008_combined, on=['ev_id', 'ntsb_no'], how='left')

In [76]:
df_pre2008.head(3)

,ev_id,ntsb_no,ev_type,ev_date,ev_city,ev_state,ev_country,latitude,longitude,ev_nr_apt_id,...,far_part,num_eng,type_fly,damage,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence,eng_no,eng_type
0,20001204X00000,ANC99FA021,ACC,01/10/99 00:00:00,QUINHAGAK,AK,USA,,,AQH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20001204X00001,ANC99IA025,INC,01/19/99 00:00:00,FAIRBANKS,AK,USA,,,FAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20001204X00002,ANC99LA020,ACC,01/05/99 00:00:00,ANCHORAGE,AK,USA,NaN,NaN,PANC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df_pre2008.tail(3)

,ev_id,ntsb_no,ev_type,ev_date,ev_city,ev_state,ev_country,latitude,longitude,ev_nr_apt_id,...,far_part,num_eng,type_fly,damage,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence,eng_no,eng_type
80860,20170710X10920,FTW92FA224,ACC,09/05/92 00:00:00,Alpine,TX,USA,302301N,1034660W,NaN,...,091,NaN,PERS,DEST,1.0,Unknown,Unknown,In flight collision with terrain/water,1.0,REC
80861,20170710X52551,NYC79AA106,ACC,09/17/79 00:00:00,Boston,MA,USA,422643N,0704530W,NaN,...,129,2.0,NaN,SUBS,1.0,Climb,Climb - to cruise,Decompression,1.0,TF
80862,20170710X52551,NYC79AA106,ACC,09/17/79 00:00:00,Boston,MA,USA,422643N,0704530W,NaN,...,129,2.0,NaN,SUBS,1.0,Climb,Climb - to cruise,Decompression,2.0,TF

In [80]:
#And per usual I hate the column order so...

selected_columns = ['ev_id', 'ntsb_no', 'ev_date', 'ev_type', 'Aircraft_Key', 'acft_category', 'type_fly', 'acft_make', 'acft_model',  'homebuilt', 'num_eng', 'eng_no', 'eng_type','damage', 'far_part','regis_no', 'ev_city', 'ev_state',
       'ev_country', 'latitude', 'longitude', 'ev_nr_apt_id', 'apt_name',
       'ev_highest_injury', 'inj_tot_f', 'inj_tot_s', 'inj_tot_m', 'inj_tot_n',
       'wx_cond_basic', 'Occurrence_No','broad phase of flight', 'specific phase of flight', 'Occurrence']
df_pre2008 = df_pre2008[selected_columns].copy()

In [81]:
df_pre2008.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,20001204X00000,ANC99FA021,01/10/99 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,20001204X00001,ANC99IA025,01/19/99 00:00:00,INC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,20001204X00002,ANC99LA020,01/05/99 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [82]:
df_pre2008.tail(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
80860,20170710X10920,FTW92FA224,09/05/92 00:00:00,ACC,1.0,HELI,PERS,ROBINSON,R22,N,...,FATL,1.0,1.0,NaN,NaN,VMC,1.0,Unknown,Unknown,In flight collision with terrain/water
80861,20170710X52551,NYC79AA106,09/17/79 00:00:00,ACC,1.0,AIR,NaN,MCDONNELL DOUGLAS,DC9,N,...,MINR,NaN,NaN,1.0,44.0,VMC,1.0,Climb,Climb - to cruise,Decompression
80862,20170710X52551,NYC79AA106,09/17/79 00:00:00,ACC,1.0,AIR,NaN,MCDONNELL DOUGLAS,DC9,N,...,MINR,NaN,NaN,1.0,44.0,VMC,1.0,Climb,Climb - to cruise,Decompression

In [83]:
# exporting to csv for backup purposes
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/df_pre2008.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_pre2008.to_csv(f)

Mounted at /content/drive

In [104]:
# uploading the post 2008 csv
from google.colab import files
uploaded = files.upload()

Saving aircraft_data_2008_2023.csv to aircraft_data_2008_2023 (1).csv

In [85]:
# reading in the post 2008 csv
df_post2008 = pd.read_csv('aircraft_data_2008_2023.csv')

In [86]:
df_post2008.head(3)

,Unnamed: 0,ev_id,ntsb_no,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence,phase_no,broad_phase_no,eventsoe_no
0,0,20080211X00175,DFW08RA039,ACC,1.0,HELI,EXLD,Eurocopter France,AS350B3,N,...,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20080107X00026,SEA08LA057,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,0,3,VMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20080109X00036,DFW08CA054,ACC,1.0,AIR,PERS,Micco Aircraft Company,MAC-145B,N,...,0,1,VMC,1.0,Landing,Landing-Flare/Touchdown,Loss of control on ground,551.0,55.0,230.0

In [87]:
df_post2008.columns

Index(['Unnamed: 0', 'ev_id', 'ntsb_no', 'ev_type', 'Aircraft_Key',
       'acft_category', 'type_fly', 'acft_make', 'acft_model', 'homebuilt',
       'num_eng', 'eng_no', 'eng_type', 'damage', 'far_part', 'regis_no',
       'ev_date', 'ev_city', 'ev_state', 'ev_country', 'latitude', 'longitude',
       'ev_nr_apt_id', 'apt_name', 'ev_highest_injury', 'inj_tot_f',
       'inj_tot_s', 'inj_tot_m', 'inj_tot_n', 'wx_cond_basic', 'Occurrence_No',
       'broad phase of flight', 'specific phase of flight', 'Occurrence',
       'phase_no', 'broad_phase_no', 'eventsoe_no'],
      dtype='object')

In [88]:
# I am going to drop the code number columns from the merged csv to alleviate confusion

selected_columns = ['ev_id', 'ntsb_no', 'ev_date', 'ev_type', 'Aircraft_Key',
       'acft_category', 'type_fly', 'acft_make', 'acft_model', 'homebuilt',
       'num_eng', 'eng_no', 'eng_type', 'damage', 'far_part', 'regis_no',
        'ev_city', 'ev_state', 'ev_country', 'latitude', 'longitude',
       'ev_nr_apt_id', 'apt_name', 'ev_highest_injury', 'inj_tot_f',
       'inj_tot_s', 'inj_tot_m', 'inj_tot_n', 'wx_cond_basic', 'Occurrence_No',
       'broad phase of flight', 'specific phase of flight', 'Occurrence']

df_post2008 = df_post2008[selected_columns].copy()

In [89]:
df_post2008.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,20080211X00175,DFW08RA039,01/10/08 00:00:00,ACC,1.0,HELI,EXLD,Eurocopter France,AS350B3,N,...,NONE,0,0,0,2,NaN,NaN,NaN,NaN,NaN
1,20080107X00026,SEA08LA057,01/01/08 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,0,0,0,3,VMC,NaN,NaN,NaN,NaN
2,20080109X00036,DFW08CA054,01/01/08 00:00:00,ACC,1.0,AIR,PERS,Micco Aircraft Company,MAC-145B,N,...,NONE,0,0,0,1,VMC,1.0,Landing,Landing-Flare/Touchdown,Loss of control on ground

Here's were things got crazy. Can probably delete most of this.

In [90]:
# sorting old data by date
# damn, not a date time object I see...
df_pre2008.sort_values(by='ev_date')

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
20235,20001212X20327,ATL00FA019,01/01/00 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,2.0,NaN,NaN,NaN,IMC,NaN,NaN,NaN,NaN
20322,20001212X20407,MIA00LA063,01/01/00 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,3.0,VMC,NaN,NaN,NaN,NaN
45663,20010105X00043,CHI01LA061,01/01/01 00:00:00,ACC,1.0,AIR,PERS,Mooney,M20S,N,...,NONE,NaN,NaN,NaN,1.0,VMC,1.0,Landing,Landing - flare/touchdown,Loss of control - on ground/water
45664,20010105X00043,CHI01LA061,01/01/01 00:00:00,ACC,1.0,AIR,PERS,Mooney,M20S,N,...,NONE,NaN,NaN,NaN,1.0,VMC,2.0,Landing,Landing - flare/touchdown,On ground/water collision with terrain/water
45952,20010113X00297,LAX01LA068,01/01/01 00:00:00,ACC,1.0,HELI,INST,Wallace,Rotorway EXEC 152,Y,...,NONE,NaN,NaN,NaN,1.0,VMC,1.0,Hover,Hover,In flight collision with terrain/water
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11498,20001211X11589,LAX99LA063,12/31/98 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,SERS,NaN,1.0,1.0,NaN,VMC,NaN,NaN,NaN,NaN
11519,20001211X11612,MIA99LA061,12/31/98 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,2.0,VMC,NaN,NaN,NaN,NaN
20142,20001212X20233,DEN00LA035,12/31/99 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,SERS,NaN,1.0,NaN,NaN,VMC,NaN,NaN,NaN,NaN
20207,20001212X20299,MIA00WA062,12/31/99 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,9.0,VMC,NaN,NaN,NaN,NaN
20124,20001212X20214,CHI00LA054,12/31/99 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,2.0,NaN,VMC,NaN,NaN,NaN,NaN

In [91]:
# converting to datetime object

df_pre2008['ev_date'] = pd.to_datetime(df_pre2008['ev_date'])

In [92]:
# let's try this again...

df_pre2008.sort_values(by='ev_date')

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
75550,20061025X01555,NYC07LA005,1974-08-30,ACC,1.0,AIR,PERS,Cessna,172M,N,...,FATL,3.0,NaN,NaN,NaN,IMC,1.0,Cruise,Cruise - normal,In flight collision with terrain/water
45559,20001218X45448,LAX96LA321,1977-06-19,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,2.0,NaN,NaN,NaN,IMC,NaN,NaN,NaN,NaN
67021,20041105X01764,CHI79FA064,1979-08-02,ACC,1.0,AIR,PERS,Cessna,501,N,...,FATL,1.0,2.0,NaN,NaN,VMC,2.0,Approach,Approach,On ground/water collision with object
67020,20041105X01764,CHI79FA064,1979-08-02,ACC,1.0,AIR,PERS,Cessna,501,N,...,FATL,1.0,2.0,NaN,NaN,VMC,1.0,Approach,Approach - VFR pattern - final approach,Loss of control - in flight
80862,20170710X52551,NYC79AA106,1979-09-17,ACC,1.0,AIR,NaN,MCDONNELL DOUGLAS,DC9,N,...,MINR,NaN,NaN,1.0,44.0,VMC,1.0,Climb,Climb - to cruise,Decompression
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80708,20080125X00106,SEA08CA056,2007-12-31,ACC,1.0,AIR,INST,Piper,PA-12,N,...,NONE,NaN,NaN,NaN,2.0,VMC,1.0,Landing,Landing - roll,Loss of control - on ground/water
80709,20080125X00106,SEA08CA056,2007-12-31,ACC,1.0,AIR,INST,Piper,PA-12,N,...,NONE,NaN,NaN,NaN,2.0,VMC,2.0,Landing,Landing - roll,Main gear collapsed
80745,20080206X00141,CHI08WA075,2007-12-31,ACC,1.0,AIR,UNK,Cessna,T303,N,...,NONE,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
45555,20001218X45444,SEA87LA080,2048-10-24,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,2.0,NaN,NaN,NaN,UNK,NaN,NaN,NaN,NaN
45558,20001218X45447,LAX94LA336,2062-07-19,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,4.0,NaN,NaN,NaN,UNK,NaN,NaN,NaN,NaN

In [93]:
# trying to figure out why we have future dates. likely a clerical error
df_pre2008_20001218X45447	 = df_pre2008[df_pre2008['ev_id'] == '20001218X45447']

In [94]:
df_pre2008_20001218X45447

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
45558,20001218X45447,LAX94LA336,2062-07-19,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,4.0,NaN,NaN,NaN,UNK,NaN,NaN,NaN,NaN

In [102]:
#SHOULD NOT HAVE DONE THIS
#PYTHON DEFAULTS TO YYYY-MM-DD
# let me at least fix the formatting...

# change the datetime format
#df_pre2008['ev_date'] = df_pre2008['ev_date'].dt.strftime('%d-%m-%Y')

AttributeError: ignored

In [103]:
df_pre2008.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,20001204X00000,ANC99FA021,01-10-1999,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,20001204X00001,ANC99IA025,19-01-1999,INC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,20001204X00002,ANC99LA020,01-05-1999,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [96]:
#now we have a 19th month you see. ::facepalm::
df_pre2008.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,20001204X00000,ANC99FA021,10-01-1999,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,20001204X00001,ANC99IA025,19-01-1999,INC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,20001204X00002,ANC99LA020,05-01-1999,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [107]:
# uploading the pre 2008 csv to start fresh and fix the ev_date issues
from google.colab import files
uploaded = files.upload()

Saving df_pre2008.csv to df_pre2008.csv

In [105]:
#WOUND UP NOT USING THIS IN THE END
# trying to fix the date format inconsistencies
#from datetime import datetime

#def parse_date(raw_date):
    #for fmt in ('%Y-%m-%d', '%d-%m-%Y'): #could add other date formats we want to check against
        #try:
            #return datetime.strptime(raw_date, fmt)
        #except ValueError:
            #pass
    #return None # return None if the date couldn't be parsed

In [108]:
#THIS WAS ALSO A BAD IDEA
# reading in the csv and parsing dates at the same time
#df = pd.read_csv('df_pre2008.csv', parse_dates=['ev_date'], date_parser=parse_date)

In [109]:
#NOW WE HAVE A BUNCH OF MISSING DATES OMG
df.head(3)

,Unnamed: 0,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,0,20001204X00000,ANC99FA021,NaT,ACC,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,1,20001204X00001,ANC99IA025,NaT,INC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,2,20001204X00002,ANC99LA020,NaT,ACC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [110]:
#ALSO DID NOT USE THIS IN THE END
#Making another function to see what is up with the date column 

#def parse_date(raw_date):
    #raw_date = raw_date.strip()  # strip leading and trailing spaces
    #for fmt in ('%Y-%m-%d', '%d-%m-%Y'):
        #try:
            #return datetime.strptime(raw_date, fmt)
        #except ValueError:
            #pass
    #return None # return None if the date couldn't be parsed

In [111]:
#ANOTHER FAIL LEADS TO NaT IN TH EV_DATE COLUMN
# reading in the csv and parsing dates at the same time
#df = pd.read_csv('df_pre2008.csv', parse_dates=['ev_date'], date_parser=parse_date)

In [112]:
df.head(3)

,Unnamed: 0,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,0,20001204X00000,ANC99FA021,NaT,ACC,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,1,20001204X00001,ANC99IA025,NaT,INC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,2,20001204X00002,ANC99LA020,NaT,ACC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

**</END MESS>**

**Loading in the pre_2008 data to start fresh after the datetime debacle.**

In [113]:
# reading in the csv as a dataframe
df_pre2008 = pd.read_csv('df_pre2008.csv')

In [114]:
# previewing it I see we have time codes. need to remove those to match the other dataframe. 
# also need to drop that weird unnamed column that google drive export created
df_pre2008.head(3)

,Unnamed: 0,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,0,20001204X00000,ANC99FA021,01/10/99 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,1,20001204X00001,ANC99IA025,01/19/99 00:00:00,INC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,2,20001204X00002,ANC99LA020,01/05/99 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [115]:
# checking the event date data type
df_pre2008['ev_date'].dtypes

dtype('O')

In [116]:
# making a copy to work off in case there is mess again...
df_pre2008_copy = df_pre2008.copy()

In [117]:
# forcing a datetime object to see if that works
df_pre2008_copy['ev_date'] = pd.to_datetime(df_pre2008_copy['ev_date'], errors='coerce')

In [119]:
# looks like it did! 
df_pre2008_copy[df_pre2008_copy['ev_date'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, ev_id, ntsb_no, ev_date, ev_type, Aircraft_Key, acft_category, type_fly, acft_make, acft_model, homebuilt, num_eng, eng_no, eng_type, damage, far_part, regis_no, ev_city, ev_state, ev_country, latitude, longitude, ev_nr_apt_id, apt_name, ev_highest_injury, inj_tot_f, inj_tot_s, inj_tot_m, inj_tot_n, wx_cond_basic, Occurrence_No, broad phase of flight, specific phase of flight, Occurrence]
Index: []

[0 rows x 34 columns]

In [120]:
# previewing the first 3 records
df_pre2008_copy.head(3)

,Unnamed: 0,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,0,20001204X00000,ANC99FA021,1999-01-10,ACC,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,1,20001204X00001,ANC99IA025,1999-01-19,INC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,2,20001204X00002,ANC99LA020,1999-01-05,ACC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [121]:
# confirming the data type for event date
print(df_pre2008_copy['ev_date'].dtypes)

datetime64[ns]

In [122]:
# checking the data type for event date in the post2008 dataframe
print(df_post2008['ev_date'].dtypes)

object

In [127]:
# converting the ev-date format to see if I can get it MM-DD-YY
# this method required converting it to a string
df_pre2008_copy['ev_date'] = df_pre2008_copy['ev_date'].dt.strftime('%m-%d-%Y')

In [128]:
# looks like it worked!
df_pre2008_copy.head(3)

,Unnamed: 0,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,0,20001204X00000,ANC99FA021,01-10-1999,ACC,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,1,20001204X00001,ANC99IA025,01-19-1999,INC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,2,20001204X00002,ANC99LA020,01-05-1999,ACC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [125]:
#this messes up the date format again. so I am abandoning this plan. We want to keep our datetime objects!
#df_pre2008_copy['ev_date'] = pd.to_datetime(df_pre2008_copy['ev_date'], format='%m-%d-%Y')

In [126]:
#df_pre2008_copy.head(3)

,Unnamed: 0,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,0,20001204X00000,ANC99FA021,1999-01-10,ACC,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,1,20001204X00001,ANC99IA025,1999-01-19,INC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,2,20001204X00002,ANC99LA020,1999-01-05,ACC,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [129]:
df_post2008.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,20080211X00175,DFW08RA039,01/10/08 00:00:00,ACC,1.0,HELI,EXLD,Eurocopter France,AS350B3,N,...,NONE,0,0,0,2,NaN,NaN,NaN,NaN,NaN
1,20080107X00026,SEA08LA057,01/01/08 00:00:00,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,0,0,0,3,VMC,NaN,NaN,NaN,NaN
2,20080109X00036,DFW08CA054,01/01/08 00:00:00,ACC,1.0,AIR,PERS,Micco Aircraft Company,MAC-145B,N,...,NONE,0,0,0,1,VMC,1.0,Landing,Landing-Flare/Touchdown,Loss of control on ground

In [130]:
# keeping this an object for now as the post2008 dates are also object types 
print(df_pre2008_copy['ev_date'].dtypes)

object

In [131]:
# removing time code from this dataframe to match the other
df_post2008['ev_date'] = df_post2008['ev_date'].str.split(' ').str[0]

In [132]:
#sanity check
df_post2008.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,20080211X00175,DFW08RA039,01/10/08,ACC,1.0,HELI,EXLD,Eurocopter France,AS350B3,N,...,NONE,0,0,0,2,NaN,NaN,NaN,NaN,NaN
1,20080107X00026,SEA08LA057,01/01/08,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,0,0,0,3,VMC,NaN,NaN,NaN,NaN
2,20080109X00036,DFW08CA054,01/01/08,ACC,1.0,AIR,PERS,Micco Aircraft Company,MAC-145B,N,...,NONE,0,0,0,1,VMC,1.0,Landing,Landing-Flare/Touchdown,Loss of control on ground

In [134]:
#reminding myself of the columns
df_post2008.columns

Index(['ev_id', 'ntsb_no', 'ev_date', 'ev_type', 'Aircraft_Key',
       'acft_category', 'type_fly', 'acft_make', 'acft_model', 'homebuilt',
       'num_eng', 'eng_no', 'eng_type', 'damage', 'far_part', 'regis_no',
       'ev_city', 'ev_state', 'ev_country', 'latitude', 'longitude',
       'ev_nr_apt_id', 'apt_name', 'ev_highest_injury', 'inj_tot_f',
       'inj_tot_s', 'inj_tot_m', 'inj_tot_n', 'wx_cond_basic', 'Occurrence_No',
       'broad phase of flight', 'specific phase of flight', 'Occurrence'],
      dtype='object')

In [135]:
#reminding myself of the columns
df_pre2008_copy.columns

Index(['Unnamed: 0', 'ev_id', 'ntsb_no', 'ev_date', 'ev_type', 'Aircraft_Key',
       'acft_category', 'type_fly', 'acft_make', 'acft_model', 'homebuilt',
       'num_eng', 'eng_no', 'eng_type', 'damage', 'far_part', 'regis_no',
       'ev_city', 'ev_state', 'ev_country', 'latitude', 'longitude',
       'ev_nr_apt_id', 'apt_name', 'ev_highest_injury', 'inj_tot_f',
       'inj_tot_s', 'inj_tot_m', 'inj_tot_n', 'wx_cond_basic', 'Occurrence_No',
       'broad phase of flight', 'specific phase of flight', 'Occurrence'],
      dtype='object')

In [136]:
# selecting the columns that match both data frames in the order that also matches
selected_columns = ['ev_id', 'ntsb_no', 'ev_date', 'ev_type', 'Aircraft_Key',
       'acft_category', 'type_fly', 'acft_make', 'acft_model', 'homebuilt',
       'num_eng', 'eng_no', 'eng_type', 'damage', 'far_part', 'regis_no',
       'ev_city', 'ev_state', 'ev_country', 'latitude', 'longitude',
       'ev_nr_apt_id', 'apt_name', 'ev_highest_injury', 'inj_tot_f',
       'inj_tot_s', 'inj_tot_m', 'inj_tot_n', 'wx_cond_basic', 'Occurrence_No',
       'broad phase of flight', 'specific phase of flight', 'Occurrence']

df_pre2008_final = df_pre2008_copy[selected_columns].copy()

In [137]:
# comparing data types
print(df_pre2008_final.dtypes == df_post2008.dtypes)

ev_id                        True
ntsb_no                      True
ev_date                      True
ev_type                      True
Aircraft_Key                 True
acft_category                True
type_fly                     True
acft_make                    True
acft_model                   True
homebuilt                    True
num_eng                      True
eng_no                       True
eng_type                     True
damage                       True
far_part                     True
regis_no                     True
ev_city                      True
ev_state                     True
ev_country                   True
latitude                     True
longitude                    True
ev_nr_apt_id                 True
apt_name                     True
ev_highest_injury            True
inj_tot_f                   False
inj_tot_s                   False
inj_tot_m                   False
inj_tot_n                   False
wx_cond_basic                True
Occurrence_No                True
broad phase of flight        True
specific phase of flight     True
Occurrence                   True
dtype: bool

In [138]:
# checking out the mismatched datatypes. we have some floats in one
print(df_pre2008_final['inj_tot_f'].dtypes)

float64

In [139]:
# integers in the other...
print(df_post2008['inj_tot_f'].dtypes)

int64

In [141]:
# looking to confirm these are whole numbers. 
# they certainly should be since they represent number of fatal injuries
df_pre2008_final['inj_tot_f'].unique()

array([ nan,   2.,   1.,   3.,   4.,   5.,   6.,  13.,   7.,  10.,   8.,
        12.,  37., 132.,  68.,  14.,  15.,  54.,  52.,  65.,   9.,  72.,
       160.,  20., 189., 123.,  11.,  33., 110., 230.,  70.,  97.,  34.,
       125.,  29.,  35., 228.,  75., 104.,  87., 229.,  18.,  30.,  27.,
        16.,  47.,  56.,  25.,  23.,  80.,  88., 169., 131., 113.,  19.,
        73., 270., 144., 174., 111., 156.,  28.,  43.,  82., 135.,  17.,
        31., 256., 143.,  60.,  24.,  83., 265., 118.,  92.,  64.,  44.,
       349.,  26., 217., 138., 206.,  71.,  78., 153.,  21.,  46., 102.,
       141., 115.,  55., 121.,  45., 145., 117., 107., 124.,  49., 154.,
        96., 114., 199.,  89.,  57.])

In [142]:
# of course it doesn't matter becase we can't convert a column to to integer
# if there are nan values
# I don't want to delete those records so I am converting the integers to floats
df_post2008['inj_tot_f'] = df_post2008['inj_tot_f'].astype(float)

In [144]:
df_post2008['inj_tot_s'] = df_post2008['inj_tot_s'].astype(float)

In [148]:
df_post2008['inj_tot_m'] = df_post2008['inj_tot_m'].astype(float)

In [147]:
df_post2008['inj_tot_n'] = df_post2008['inj_tot_n'].astype(float)

In [149]:
# comparing data types again and they all match!
print(df_pre2008_final.dtypes == df_post2008.dtypes)

ev_id                       True
ntsb_no                     True
ev_date                     True
ev_type                     True
Aircraft_Key                True
acft_category               True
type_fly                    True
acft_make                   True
acft_model                  True
homebuilt                   True
num_eng                     True
eng_no                      True
eng_type                    True
damage                      True
far_part                    True
regis_no                    True
ev_city                     True
ev_state                    True
ev_country                  True
latitude                    True
longitude                   True
ev_nr_apt_id                True
apt_name                    True
ev_highest_injury           True
inj_tot_f                   True
inj_tot_s                   True
inj_tot_m                   True
inj_tot_n                   True
wx_cond_basic               True
Occurrence_No               True
broad phase of flight       True
specific phase of flight    True
Occurrence                  True
dtype: bool

In [150]:
# mergeing with concatenation 
df_merged = pd.concat([df_pre2008_final, df_post2008], ignore_index=True)

In [151]:
# previewing the data
df_merged.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
0,20001204X00000,ANC99FA021,01-10-1999,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,MINR,NaN,NaN,1.0,NaN,VMC,NaN,NaN,NaN,NaN
1,20001204X00001,ANC99IA025,01-19-1999,INC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,4.0,VMC,NaN,NaN,NaN,NaN
2,20001204X00002,ANC99LA020,01-05-1999,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,6.0,VMC,NaN,NaN,NaN,NaN

In [152]:
# making a copy just in case...
df_merged_copy = df_merged.copy()

In [153]:
# converting to datetime object

df_merged_copy['ev_date'] = pd.to_datetime(df_merged_copy['ev_date'])

In [154]:
# sorting by date in preparation for limiting our data to 1997 - present

df_merged_sorted = df_merged_copy.sort_values('ev_date')

In [155]:
# previewing the merged and sorted dataframe
df_merged_sorted.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
75550,20061025X01555,NYC07LA005,1974-08-30,ACC,1.0,AIR,PERS,Cessna,172M,N,...,FATL,3.0,NaN,NaN,NaN,IMC,1.0,Cruise,Cruise - normal,In flight collision with terrain/water
45559,20001218X45448,LAX96LA321,1977-06-19,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,2.0,NaN,NaN,NaN,IMC,NaN,NaN,NaN,NaN
67020,20041105X01764,CHI79FA064,1979-08-02,ACC,1.0,AIR,PERS,Cessna,501,N,...,FATL,1.0,2.0,NaN,NaN,VMC,1.0,Approach,Approach - VFR pattern - final approach,Loss of control - in flight

In [156]:
# creating a new dataframe with 1997 - present data
df_post1996 = df_merged_sorted[df_merged_sorted['ev_date'] >= '1997-01-01']

In [157]:
# previewing the data 
df_post1996.head(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
7251,20001208X07301,IAD97FA038,1997-01-01,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,1.0,NaN,NaN,NaN,IMC,NaN,NaN,NaN,NaN
7276,20001208X07326,MIA97LA054,1997-01-01,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,SERS,NaN,2.0,NaN,NaN,VMC,NaN,NaN,NaN,NaN
7217,20001208X07265,CHI97LA049,1997-01-01,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,NONE,NaN,NaN,NaN,2.0,IMC,NaN,NaN,NaN,NaN

In [159]:
df_post1996.tail(3)

,ev_id,ntsb_no,ev_date,ev_type,Aircraft_Key,acft_category,type_fly,acft_make,acft_model,homebuilt,...,ev_highest_injury,inj_tot_f,inj_tot_s,inj_tot_m,inj_tot_n,wx_cond_basic,Occurrence_No,broad phase of flight,specific phase of flight,Occurrence
141257,20230426107154,WPR23LA168,2025-04-26,ACC,1.0,NaN,PERS,CESSNA,140,N,...,MINR,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
45555,20001218X45444,SEA87LA080,2048-10-24,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,2.0,NaN,NaN,NaN,UNK,NaN,NaN,NaN,NaN
45558,20001218X45447,LAX94LA336,2062-07-19,ACC,NaN,NaN,NaN,NaN,NaN,NaN,...,FATL,4.0,NaN,NaN,NaN,UNK,NaN,NaN,NaN,NaN

In [158]:
# exporting to csv
path = '/content/drive/My Drive/df_post1996.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_post1996.to_csv(f)